[2017-11-17 20:29] sstone1 opened #1 "Can't start a template with a variable"
Template:

`[{name}] agrees to spend [{amount}] conga coins on swag`

Error:

[code]

Putting any character, including whitespace, before the variable works fine.

[2017-11-21 13:55] dselman opened #3 "Strings have to be enclosed in double quotes"
Need to think about how we represent strings in the generated grammar. At present, by default, all strings must be enclosed in double quotes, which is confusing for lawyers.

E.g. `"Party A" will be deemed to` in the template https://templates.accordproject.org/acceptance-of-delivery@0.2.0.html

The Nearley grammar that is generated based on this template:
https://github.com/accordproject/cicero/b

[2017-11-21 13:57] dselman opened #4 "Better support for repeated model bindings in template"
It is common for templates to include multiple references to the same template model property. At the moment the first reference is used to bind to the model, all others are ignored. We should at least validate that all references are equivalent and flag an error for inconsistent bindings.

See the code here:
https://github.com/accordproject/cicero/blob/master/packages/cicero-core/lib/template.js#

[2017-11-21 14:00] dselman opened #5 "Need to include a sample localised template"
Need to prove out the localization support for templates.

[2017-11-21 14:02] dselman opened #6 "cicero-cli should support creating an archive, or testing using an archive"

[2017-11-21 14:02] dselman opened #7 "Add unit tests for sample Cicero templates"

[2017-11-21 14:04] dselman opened #8 "Add a tutorial that shows how to embed Cicero inside Hyperleger Fabric"
Use the v1.1 support for calling Node.js modules:
https://www.hyperledger.org/blog/2017/11/02/hyperledger-fabric-v1-1-0-preview-is-now-available

[2017-11-22 16:53] dselman commented on #1
Fixed.

[2017-11-22 16:53] #1 closed

[2017-11-23 13:01] dselman opened #10 "Cannot create a template ending in a variable"
For example:

[code]

Because the template grammar requires a `LastChunk` piece of text this template parses as ambiguous (incomplete).

Need to make the `LastChunk` optional in the template grammar.

[2017-11-23 13:12] dselman commented on #10
Fixed

[2017-11-23 13:12] #10 closed

[2017-12-15 01:20] dselman opened #15 "Add support for contracts"
A contract is composed of a set of clauses.

- [x] Need some sort of data flow between the clauses
- [ ] Need a function signature for the contract
- [x] Need a composition model for clauses and contracts, so they may be nested or reference each other
- [x] Contract templates should stipulate required/optional clauses (implies clauses need a type)

### Contract Template

- [x] Name
- [x] Version
-

[2017-12-18 17:39] jeromesimeon commented on #15
A contract may:
- contain definitions
- be tied to a model (actors, entities)
- be validated for consistency (certain clauses must exist, verify some constraints)
- have a state (e.g., Pre-formation, Execution, Breach, Terminated, Renegotiation)

Clauses may:
- Have different functional use wrt. contract (e.g., precondition, normal execution of the contract, default clauses) -- This may relate to

[2017-12-20 17:06] jeromesimeon opened #16 "Should the template language support multiple choices for parts of the text"
Some contract template may want to offer several choices for part of a clause. For instance:
[code]

[2017-12-20 17:11] jeromesimeon opened #17 "Should template language allow parameter within optional text in clauses"
Is there a way to indicate parameters within optional text in clauses? For instance:

[code]

Is it be possible for the period `7 DAYS` to be a parameter of the template instead of a fixed time?

[2017-12-21 15:52] jeromesimeon opened #19 "Should template language allow for reference to other templates"
For instance:

[code]

[2017-12-21 15:55] jeromesimeon opened #20 "Should template allow for lists of terms"
For instance:
[code]

[2017-12-21 19:24] dselman commented on #7
Done

[2017-12-21 19:24] #7 closed

[2017-12-24 03:55] uwecerron commented on #15
Should contracts be explicitly classified on the basis of consideration? i.e: unilateral, bilateral,  multilateral.

[2017-12-27 09:57] jeromesimeon commented on #15
@uwecerron Adding a classification sounds like a good idea. Would that replace/complement the `list of parties`, what additional information would be needed?

[2017-12-27 10:03] jeromesimeon opened #21 "Should template processing perform variable/properties unification"
Taking an example from the `latedeliveryandpenalty` template, one of the sentences uses the same variable/property twice:

[code]

The current implementation allows for distinct values of that same property, but disregards the second value. Here is a parsing run that illustrates this:

[code]
Note that the corresponding sentence is `Any fractional part of a DAY is to be considered a full WEEK.` wh

[2018-01-05 15:33] dselman opened #22 "Upgrade version of marked to fix vulnerability"
Known moderate severity security vulnerability detected in marked < 0.3.7 defined in package-lock.json.package-lock.json update suggested: marked ~> 0.3.7. | Known moderate severity security vulnerability detected in marked < 0.3.7 defined in package-lock.json.package-lock.json update suggested: marked ~> 0.3.7. | Known moderate severity security vulnerability detected in marked < 0.3.7 defined in

[2018-01-12 02:13] dselman commented on #20
Another good example of this is in the volume discount template, which includes a decision table like construct.

[2018-01-24 20:21] jeromesimeon commented on #22
This issue comes from the jsdoc, the the corresponding thread (with some workarounds if we feel this is important). https://github.com/jsdoc3/jsdoc/issues/1489

[2018-01-24 22:11] jeromesimeon commented on #20
I've been reviewing the volume discount template and I think
supporting an arbitrary number of rows would require a couple of
extensions to the current template format.

One extension is the ability to specify a piece of repeating text
(which would correspond to an array in the corresponding
JSON). Another extension needed is the ability to describe alternative
texts.

One possiblity that addresse

[2018-01-24 22:13] jeromesimeon commented on #20
Note that something along those lines would also address issue #16 and possibly #17.

[2018-01-24 22:34] dselman commented on #20
Like it.

[2018-02-01 14:08] mttrbrts opened #23 "cicero cli finds duplicate CTO models in node_modules"
## Context
When running `cicero parse` Template.fromDirectory recursively searches the directory for model (CTO) files. This includes the `node_modules` directory which can contain multiple copies of some models. This results in exceptions when adding them to the model manager.

## Expected Behavior
cicero cli should only load base models and explicit dependencies.

## Actual Behavior
[code]

## P

[2018-02-06 17:43] dselman commented on #22
I've updated all the dependencies and this is now fixed.

[2018-02-06 17:43] #22 closed

[2018-02-08 09:55] mttrbrts opened #25 "Template without any parameters fails to parse"
## Context
The template grammar insists that a template must have at least one parameter.
https://github.com/accordproject/cicero/blob/edd14532b80c2c4bc2a9d16a50592c3eb5733362/packages/cicero-core/lib/tdl.ne#L67

This means that clauses which only require request data, or are otherwise 'dumb' are not valid.

## Expected Behavior
The following clause grammar should parse successfully:
```This is a

[2018-02-12 14:27] #23 closed

[2018-03-06 10:18] mttrbrts opened #37 "Support for multiple return types"
## Context
Currently, clause logic can only specify a single return type.
e.g.
https://github.com/accordproject/cicero-template-library/blob/master/fragile-goods/lib/logic.js#L25
[code]

## Expected Behavior
As a template author, I want my logic to be able to specify multiple CTO types without building a wrapper CTO type. This could be in the form of an array, or integer indexed object.
[code]
or

[2018-03-06 10:19] dselman opened #38 "API documentation contains html markup"
The generated API documentation is not handling html markup correctly:
http://accordcicero.readthedocs.io/en/latest/

This needs to be removed or converted.

[2018-03-06 10:22] mttrbrts opened #39 "Coverage badge shows incorrect value"
In README.md the coverage badge shows a different value to the one shown on coveralls.io however the badge markdown seems to be correct

[![Coverage Status](https://coveralls.io/repos/github/accordproject/cicero/badge.svg?branch=master)](https://coveralls.io/github/accordproject/cicero?branch=master)

From https://coveralls.io/github/accordproject/cicero?branch=master
![image](https://user-images.

[2018-03-06 15:20] jeromesimeon commented on #37
This is something that should be discussed. With `Object[]` you lose the type information. In JavaScript you might get away with it because it's mostly dynamic, but if you want a type checker (as I think we should get in Jura), you need to be able to describe the signature for the clause.

A traditional way to handle multiple return values is with a tuple. See e.g., http://www.codingexplorer.com/t

[2018-03-06 15:22] jeromesimeon commented on #37
A couple of following up notes:
- There is additional ramifications for Jura, e.g., if you allow a clause or a function to return a tuple, you want a way to deconstruct that tuple. e.g., `let (payout, message) := getPayout(deliverytx); ...`
- Multiple *input* parameters?

[2018-03-07 20:35] jeromesimeon opened #40 "Should the serializer validate on import?"
At the beginning of the execute statement in the cicero-engine, the serializer is called to convert from JSON with validate set to false:
[code]
Should this be turned to true? What are the criteria (and consequences?) for whether to validate or not?

[2018-03-07 20:40] jeromesimeon opened #41 "Ergo execution deserializes the request"
Currently, Jura scripts called from within Cicero are passed a deserialized request before execution. Maybe it shouldn't. Here is the corresponding code:
[code]
inside the `buildJuraDispatchFunction`.

This may require making the Jura runtime robust to the internal representation for CTO concepts (e.g., for matching against a class or navigating relationships).

[2018-03-18 03:29] hendrawd opened #42 "Template name can't contains uppercase character - template generator"
There is a problem with the template name that can contains uppercase character when we want to execute it. It will show error like this:
[code]
But when i create the template with template generator with command:
`yo cicero-template`
And enter word with uppercase character there is no error
`? What is the name of your template? Kuda`
And my template is successfully created.

I am able to solved i

[2018-04-11 08:28] mttrbrts opened #48 "Jura dependency needs to be updated to use @accordproject/ergo"
When using `cicero execute` with the latest 0.2.48 release of @accordproject/cicero-cli the following error occurs.

Rather than fixing the dependency to Jura, the cicero-engine library should use the latest version of the Ergo compiler.

[code]

[2018-04-11 08:31] mttrbrts opened #49 "Documentation needs to be updated to reflect new npm package name"
Since adding all of the cicero npm packages to the @accordproject scope, the documentation is now out of date.

For example, occurences of `npm install cicero-cli -g` should be replaced with `npm install @accordproject/cicero-cli -g`

[2018-04-11 08:39] mttrbrts opened #50 "Deprecate old npm packages"
The old npm packages:
- https://www.npmjs.com/package/cicero-core
- https://www.npmjs.com/package/cicero-cli
- https://www.npmjs.com/package/cicero-engine
- https://www.npmjs.com/package/cicero-server
- https://www.npmjs.com/package/generator-cicero-template

should be deprecated and a notice added that references the new packages:
- https://www.npmjs.com/package/@accordproject/cicero-core
- https

[2018-04-11 22:12] jeromesimeon commented on #48
I'm not sure how to replace this.  You may want to try again with Cicero after PR #52 has been merged.

[2018-04-12 09:56] mttrbrts commented on #48
Related to this line https://github.com/accordproject/cicero/blob/294ce8e45ae7918ff3a6764e59c45b3ac1a6153a/packages/cicero-engine/lib/engine.js#L249

[2018-04-13 12:58] #48 closed

[2018-04-13 12:58] mttrbrts commented on #48
Fixed in #55

[2018-04-13 14:47] #42 closed

[2018-04-13 14:52] #39 closed

[2018-04-13 14:59] #49 closed

[2018-04-18 12:26] jeromesimeon opened #63 "Date/time format accepted by templates"
The current implementation parses dates in the format `MM-DD-YYYY` which isn't ISO 8601 compliant. This may lead to issues when calling the moment library directly on those dates. Should Cicero allow for ISO 8601 format or automatically convert to it if required?

The corresponding part of the template processing is:
[code]

in `packages/cicero-core/lib/grammarvisitor.js`

[2018-04-20 08:25] dselman commented on #63
We also need to make this locale aware, so that en-US templates use different date formatting than en-GB templates.

[2018-05-03 14:37] jeromesimeon opened #66 "Contract and clauses should be assets rather than concepts"
If we want to allow relationships to contracts and clauses, it would be useful to have contracts and clauses be `asset` rather than `concept` in the cicero-common CTO.

[2018-05-04 18:36] jeromesimeon opened #70 "Add cicero engine version restriction"
Loading a template should check that the template version supports that version of Cicero.

[2018-05-04 18:39] jeromesimeon opened #71 "Modify cicero to match new execute signature. This affects the following packages:"
- [x] cicero-engine
- [x] cicero-cli
- [x] cicero-server
- [x] generator-cicero-template

[2018-05-04 18:39] jeromesimeon opened #72 "Modify the Cicero Execute Signature:"
- [x] add state and contract data to request
- [x] add emit side effects and state to response

[2018-05-04 18:41] jeromesimeon opened #73 "Clause orchestration in Contract Logic (Dispatch)"

[2018-05-04 18:43] jeromesimeon opened #74 "Modify the CLI to expose new interface with contract state."

[2018-05-04 18:44] jeromesimeon opened #75 "Split generation of Clause v Contract logic in Ergo"

[2018-05-04 18:47] jeromesimeon opened #76 "Upgrade cicero templates for the new contract support"
We need to update all the test templates and the cicero template library

This include changing access to `data` to either `contract` or `clause` (depending on use case).

[2018-05-04 18:49] jeromesimeon opened #77 "Update cicero documentation with new contract support and revised API and command-line."
- [x] READMEs
- [x] Accord Project Template Specification
- [x] readthedocs
- [ ] Getting started guides and tutorials (slides, etc)

[2018-05-04 18:49] jeromesimeon opened #78 "Updates to common.cto to include Contract and Clause base models."
- [x] Add Contract Model
- [x] Add Clause Model
- [x] Change Clause concept to be an Asset rather than a Concept so that we can use relationships
- [x] Change 'actions' to 'emit' which should be an array of CTO events

[2018-05-04 18:52] jeromesimeon opened #79 "Support for formatting markup in templates, as inspired by Markdown"
Also see:
https://github.com/accordproject/cicero/issues/171

[2018-05-04 18:52] jeromesimeon opened #80 "Add support for clauses inside contracts in template markup"

[2018-05-04 18:52] jeromesimeon opened #81 "Convert to mustache style notation for variables in templates"
- [x] Update nearley parser
- [x] Update samples in cicero-core
- [x] Update cicero-template-library
- [x] Tests in other packages
- [x] Add version check to catch legacy contracts #70

[2018-05-04 19:07] jeromesimeon opened #82 "Clause wrapper logic / transforms"
- [ ] Wrapper Logic syntax
- [ ] Bindings clause vars to global contract vars

[2018-05-04 19:07] jeromesimeon opened #83 "Contract initiation / validation. `new CiceroContract()`"

[2018-05-04 19:08] jeromesimeon opened #84 "Distinguish between contract and clause templates"
- [x] Annotation in package.json to distinguish contract vs clause template
- [x] Add unit tests

[2018-05-04 19:14] jeromesimeon opened #85 "Create a sample contract template as a spec for Contract Support"
- [x] Contract template grammar
- [x] Contract model
- [x] Contract logic
- [x] package.json config
- [ ] Contract -> Clause references, import
- [ ] Child clause templates

[2018-05-06 15:51] jeromesimeon opened #86 "Create a sample contract template to illustrate state change and emit"

[2018-05-06 15:51] jeromesimeon opened #87 "Contract state and emitted events should have a CTO and be validated against it"

[2018-05-06 17:29] jeromesimeon opened #88 "The Cicero CLI should allow execution of a sequence of requests"
Now that Cicero execution returns state changes, it might be useful to allow execution of a sequence of requests for debugging purposes.

[2018-05-06 17:38] jeromesimeon opened #89 "Naming conventions and structure of JavaScript logic in Cicero to allow calling from one template to another"
We should have consistent naming conventions in JavaScript logic to facilitate reference (and calls) between templates.

[2018-05-06 17:40] jeromesimeon commented on #89
Some possible ideas:
- enforce a 1 to 1 mapping between clauses and JavaScript functions
- JavaScript functions could keep track of the namespace they correspond to

[2018-05-07 22:29] jeromesimeon commented on #76
Mostly done in https://github.com/accordproject/cicero-template-library/tree/contract-support-1 but still needs review (notably READMEs and logic).

It is possible some of the templates should be considered clauses while some are more like contracts. We need to review each of them and decide accordingly.

[2018-05-08 08:03] mttrbrts commented on #81
3947517f06c6dca8ddd7f5442fab92850e53ef65

[2018-05-08 10:53] mttrbrts commented on #70
Addressed in b398c1983ca18b97c7535b7e969cc7b6fabfaf02

[2018-05-08 10:53] #70 closed

[2018-05-08 10:53] #81 closed

[2018-05-08 12:33] #72 closed

[2018-05-08 12:52] #74 closed

[2018-05-08 13:03] mttrbrts commented on #85
Sample for Milestone 1
https://github.com/accordproject/cicero-template-library/commit/0270517c4b64ac079b318c56edf3b20bc831d5ac

[2018-05-08 14:07] mttrbrts commented on #71
No change required to generator-cicero-tempalte

[2018-05-08 14:07] #71 closed

[2018-05-08 14:10] #88 closed

[2018-05-08 14:16] jeromesimeon commented on #78
Handled by 9a65ee27a0219423ab46493966fe56b016ad9746 and 4c2a58cdeae35c22f9a08a9ee20ea4a2d78af88a

This still needs to be tested in context of the runtime (See #87)

[2018-05-08 16:52] jeromesimeon commented on #86
Done in https://github.com/accordproject/cicero-template-library/commit/c80cb086a9b08f22c784bca0447ea23b03349a1d

[2018-05-08 16:52] #86 closed

[2018-05-09 15:06] jeromesimeon opened #90 "Switch to Ergo with contract support aligned to the new Cicero API"
Ergo needs to be updated to align with the new API. Cicero has to be switched to a new version of Ergo once alignment is achieved.

[2018-05-10 17:01] jeromesimeon opened #91 "Ensure Ergo gets compiled when loading template from archive"
Ergo logic doesn't get compiled properly when loading a template from archive (rather than from disk).

[2018-05-13 06:32] jeromesimeon commented on #90
Switched to Ergo 0.0.42 in ca1565457bce501a8ec03f597096e4755e50c453

[2018-05-13 06:32] #90 closed

[2018-05-13 17:25] jeromesimeon opened #92 "How is the current time defined for execution of a clause."
Most of the Cicero template use the timestamp for the transaction. Is that the right way to access the current time? Would the time at which the logic is called be preferable?

[2018-05-14 03:30] jeromesimeon commented on #73
There is no a single dispatch logic defined, identical for Ergo and JavaScript. This also now aligns with the new API.

[2018-05-14 03:30] #73 closed

[2018-05-14 09:57] #80 closed

[2018-05-14 10:09] mttrbrts commented on #84
Cicero should have a top-level property in the package.json file for a template. We can then extend this with other metadata as necessary. For example
[code]
becomes..

[code]
`template` could also have the value `"clause"` to identify packages that contain reuseable clauses.
`version` identifies the semver of cicero that this template is designed to run against.

By default, the supported version

[2018-05-14 22:52] jeromesimeon commented on #91
Fixed on contract branch. See bbb195826f5543d3f7112ebf885e4d3235e4c793 and 3c58dd84a1920b5e054924b5688aaa8f26ecd355.

[2018-05-14 22:52] #91 closed

[2018-05-14 22:53] jeromesimeon commented on #76
Done I think?

[2018-05-14 22:54] jeromesimeon commented on #84
@mttrbrts added some tests. I think this is resolved?

[2018-05-15 07:36] #84 closed

[2018-05-15 07:36] #76 closed

[2018-05-15 09:09] #85 closed

[2018-05-15 20:06] jeromesimeon commented on #87
Fixed in 06d692a64228051d2d0c55e27fafb907871efabc

[2018-05-15 20:06] #87 closed

[2018-05-15 20:07] jeromesimeon commented on #78
This is now used when doing validation for contract state and emits. @mttrbrts One remaining question open is whether State should be an asset or a transaction? Do we really need a `stateId`?

[2018-05-16 06:44] mttrbrts commented on #41
@Jerome, can this be closed now?

[2018-05-16 06:48] #25 closed

[2018-05-16 06:50] mttrbrts commented on #15
Addressed in https://github.com/accordproject/cicero/projects/1

[2018-05-16 06:51] #37 closed

[2018-05-16 06:57] mttrbrts commented on #78
Conceptually, state is something that could be stored on chain. So following the composer convention, 'asset' seems the most appropriate to me. In either case this means that taking the hash of a state will be different on each request because the timestamp will be different.

[2018-05-16 09:56] dselman commented on #78
Having state be an asset makes sense I think. Assets don’t have time stamps.

[2018-05-16 12:04] jeromesimeon commented on #78
Whose responsibility is it to change that state id? The logic we have in some of the tests and sample make an attempt at that. Do we need the logic to return a new stateId when there is a state change?

[2018-05-16 12:04] jeromesimeon commented on #37
@mttrbrts What's the reason for closing this?

[2018-05-16 12:08] jeromesimeon commented on #25
👍

[code]

[2018-05-16 12:09] jeromesimeon commented on #25
@mttrbrts Should we allow templates with no logic in that case?

[2018-05-16 12:11] jeromesimeon commented on #41
Maybe it should be closed but then re-opened in Ergo since that behavior has been moved in the wrapper functions:
https://github.com/accordproject/ergo/blob/9cc1394f669ca01763ae98c31e236366ec935cd2/mechanization/Translation/ErgoCalculustoJavaScriptCicero.v#L67

[2018-05-16 12:27] jeromesimeon commented on #37
👍 I thought it was! Sounds good.

[2018-05-16 12:33] mttrbrts commented on #25
Yes, eventually I can see a need for reusable non-computable clauses templates. However, for now, we can capture these use cases with prose in a contract template.

Perhaps we represent the logic of non-computable clauses as (auto-generated) identity functions?

[2018-05-16 12:35] dselman commented on #25
Yes, we want to support logic-less templates for document assembly etc

[2018-05-16 12:40] jeromesimeon commented on #25
I like the auto-generated idea. It shouldn't be too hard to do.

[2018-05-16 14:57] jeromesimeon commented on #41
This question does not arise in Cicero anymore, but is subsumed by https://github.com/accordproject/ergo/issues/157 on the Ergo side.

[2018-05-16 14:57] #41 closed

[2018-05-16 15:18] jeromesimeon opened #93 "CTO models should be passed to Ergo compiler"
At the moment CTO models aren't sent to the Ergo compiler, which means it will break when we start checking type names in clause signatures, etc.

[2018-05-17 18:13] jeromesimeon opened #94 "Ergo errors reported as with wrong filename extension"
Some Ergo errors (e.g., syntax errors) are reported by Cicero with the wrong file name (`.js` instead of `.ergo`).

[code]

[2018-05-18 08:36] dselman opened #96 "Automatically generate part of the README.md for Clause/Contract"
It would be very useful for maintainability, consistency, and accuracy to automatically generate part of README.md.

It could include the following generated information:
- Required Cicero engine version
- Name and Description (from package.json)
- Request/response type model and samples
- Emit type model and samples
- Sample.txt

This should be combined with any text written by the user in README

[2018-05-18 09:18] mttrbrts opened #97 "ContractState model has mandatory ContractModel relationship"
In `cicero-common/models/common.cto`,

The ContractState relationship to the ContractModel should not be optional. This will allow us to run queries to find all the states for a contract of type X, or the state for the contract with ID 123.

- [ ] Update all unit tests
- [ ] Update cicero-template-library

[2018-05-18 16:42] mttrbrts opened #99 "Remove hardcoded relative reference to common.cto"
https://github.com/accordproject/cicero/blob/f9bd8d384cf7259b900c13af9e25ca3995b13d9f/packages/cicero-core/lib/template.js#L73

[2018-05-18 16:58] #99 closed

[2018-05-19 15:42] mttrbrts commented on #66
Addressed by 29cc75033bf746e5e5abeeb7fa3119e06515ea59

[2018-05-19 15:42] #66 closed

[2018-05-19 15:45] mttrbrts commented on #15
I think that we're all done here except for the Contract signature. Is this something that is still necessary given the new dispatch logic @dselman / @jeromesimeon ?

[2018-05-19 16:17] jeromesimeon commented on #15
@mttrbrts I think this should be closed. We can open more specific issues for the remaining parts if any?

[2018-05-20 06:32] dselman commented on #15
Agreed

[2018-05-20 06:35] #15 closed

[2018-05-21 14:03] mttrbrts commented on #79
We should use the commonmark spec for Markdown, https://commonmark.org/

There is a reference implementation in JS, https://github.com/commonmark/commonmark.js

We also don't currently have any presentation mechanism inside Cicero, so to make this useful we should add a shim to cicero-cli for the markdown renderer. Perhaps something like, `cicero render --template ./` which would output a PDF.

[2018-05-22 17:19] jeromesimeon opened #105 "How is the initial contract state defined?"
At the moment, there is no easy way for a template developer to specify what the initial state for the contract should be. Templates do include a `state.json` file which is the initial state for each sample in the template, but the initial state should be something a template developer can specify.

For templates that do not access or set the contract state, the following default state should work

[2018-05-23 02:42] jeromesimeon commented on #94
Fixed in #106

[2018-05-23 02:42] #94 closed

[2018-05-23 02:42] jeromesimeon commented on #93
Fixed in PR#106

[2018-05-23 02:42] #93 closed

[2018-05-23 03:28] jeromesimeon commented on #40
Validation is indeed happening... Closing this issue as answered.

[2018-05-23 03:28] #40 closed

[2018-05-25 09:55] dselman opened #108 "Cannot copy concept data from clause/contract into the response"
If logic copies data from the contract/clause into the response it will fail validation, because the clause data is not a Composer object:

https://github.com/accordproject/cicero/blob/master/packages/cicero-core/lib/templateinstance.js#L64

[2018-05-25 11:29] mttrbrts opened #111 "Text variant annotation for model enumerations"
To support textual variants of the same enumeration element in a model, the model definition should allow annotations that enumerate text alternatives.

The annotation could also be used to capture language-specific variants of a model element.

This would clean up model enumerations so that they only need to define a single element per semantic element. Logic that operates on enumerations (for ex

[2018-05-25 13:09] jeromesimeon commented on #108
It obviously has to revalidate? Another instance of that is when you want to create a new Composer object from scratch to place in the response (or in the state for that matter).

[2018-05-25 13:14] jeromesimeon commented on #108
Orthogonal aspect: is that right that composer does not allow to validate concepts? When I tried, I couldn't figure out how to change that line you point to.

[2018-05-25 19:58] jeromesimeon opened #114 "Backward compatibility for Accord Project Templates v0.6"
There should be a way for the new version of Cicero (implementing v0.7 of the accord project template specification) to execute older templates (implementing v0.6 of the accord project template specification).

[2018-05-25 20:00] jeromesimeon commented on #114
There are a couple of patches in #113 which should be replaced by a more robust/well tested approach.

[2018-05-25 20:00] jeromesimeon commented on #114
Probably the execute call should detect whether it's running a v0.7 or v0.6 template https://github.com/accordproject/cicero/blob/master/packages/cicero-engine/lib/engine.js#L137

[2018-05-25 20:01] jeromesimeon commented on #114
@mttrbrts @dselman feedback?

[2018-05-30 10:30] dselman commented on #108
At line
https://github.com/accordproject/cicero-template-library/blob/51bb5a66cca37596f57ac7439f075737c6cb2886/installment-sale/lib/logic.js#L67 a cleaner way to do this would be to use the Composer `Factory` to create a new instance.

[2018-05-30 17:51] dselman commented on #108
Yes, the clause data is not currently a Composer object - I’m working on that as well.

[2018-05-30 19:45] jeromesimeon commented on #108
I think you bumped into that same issue, I just missed some of the initial discussion that led here.

[2018-05-31 15:52] dselman commented on #111
My inclination is:

enum TemporalUnit {
  @localization_en( 'day', 'days')
  @localization_fr( 'jour', 'jours')
  o DAY
  //...
}

With the second key (plural) optional.

Note that in its current state Composer doesn't support multiple decorators with the same name on the same element.

Also, note that while an external localization file would be very nice for translation purposes it would be tric

[2018-05-31 15:53] dselman commented on #108
Fixed.

[2018-05-31 15:53] #108 closed

[2018-06-01 11:04] mttrbrts opened #116 "Add getEventTypes to template API"
Just as with getRequestTypes and getResponseTypes https://github.com/accordproject/cicero/blob/37f5d331d1c03a70558d2f8b34dfcf82d60dd33d/packages/cicero-core/lib/template.js#L1073, the Cicero template JS API should have a function which returns a list of the event types emitted by a clause.

@jeromesimeon does this imply that we also need an annotation in the compiled JS code to identify the event

[2018-06-04 18:55] jeromesimeon commented on #105
@mttrbrts I'm thinking this should also include "initial events". As we initialize the contract execution, we may want to record events (e.g., payment will happen at date XX/XX/XXX).

[2018-06-06 08:46] mttrbrts opened #119 "Cicero CLI hangs after execution"
For templates whose models contain external dependencies, the cicero cli appears to hang for several seconds after displaying the execution response.

The hang occurs for approx 10s before the process exits successfully.

Appears to be related to the jobQueue implementation in Composer that is used to download external files.

https://github.com/hyperledger/composer/blob/e559c4041e3c42b5ccb72d7b86

[2018-06-06 22:42] dselman opened #122 "Template Library Site"
Create a build process that publishes the templates to templates.accordproject.org.

- [ ] We can build archives for each template (which will resolve all the external dependencies, so they load fast and are validated).

- [ ] We can name each archive using the fqn of the template model, plus the version number from package.json.

- [ ] Generate an HTML overview page for each archive based on the

[2018-06-06 22:43] #122 closed

[2018-06-07 03:35] jeromesimeon commented on #78
I think #120 finally takes care of this. Can we close?

[2018-06-07 12:27] mttrbrts commented on #119
Fixed and released in https://github.com/hyperledger/composer/releases/tag/v0.19.8

[2018-06-07 12:27] #119 closed

[2018-06-08 10:58] dselman commented on #97
The relationship has been removed - so we can close this now.

[2018-06-08 10:58] #97 closed

[2018-06-08 11:00] dselman opened #128 "Add Template.fromArchive(url)"
The ability to load a template archive from a file at a URL would be a very useful addition. It would allow people to load templates hosted at https://templates.accordproject.org to do it in a single line of code. It is also foundational for being able to load clauses over the network from a contract.

[2018-06-08 11:00] dselman commented on #78
Yes, let's close this.

[2018-06-08 11:00] #78 closed

[2018-06-08 17:43] dselman opened #129 "Template.tem is not persisted to archive"
The toArchive method doesn't save the template.tem file into the archive, only the compiled grammar.

[2018-06-13 19:14] jeromesimeon commented on #129
Was fixed in #130

[2018-06-13 19:14] #129 closed

[2018-06-13 19:15] jeromesimeon commented on #116
There is now a corresponding `getEventTypes()` call.

[2018-06-13 19:15] #116 closed

[2018-06-20 21:16] dselman opened #135 "Cicero CLI support for archives"
We need the cicero cli `execute` and `parse` commands to support archives. Loading the archives from disk or URLs.

[2018-06-20 21:53] dselman commented on #38
The new doc site no longer has this issue. :-)

[2018-06-20 21:53] #38 closed

[2018-06-20 21:54] dselman commented on #77
Oops. The latest documentation is here: https://github.com/accordproject/techdocs/tree/master/website

[2018-06-20 21:59] dselman commented on #6
Creating an archive has been implemented and testing using an archive is covered by #135

[2018-06-20 21:59] #6 closed

[2018-06-20 23:54] jeromesimeon opened #137 "Expose state types to the Template API"
Templates should provide API access to the CTO type for the state, similarly to responses and events emitted.

[2018-06-21 11:59] jeromesimeon opened #140 "Revise type information in Template"
Placing type annotations on the JavaScript code isn't ideal for introspections. If we do switch to Ergo, a better way to expose types to the templates are by adding a type API to Ergo. The type signature can e.g., return a single state and template type for a contract, and gives request/response/emit types on a per-clause basis.

[2018-06-21 12:22] jeromesimeon commented on #137
Handled by #138

[2018-06-21 12:25] dselman opened #141 "Convert the Ergo Playground to Accord Project Template Studio"
The current Ergo Playground is somewhat of a misnomer:
https://github.com/accordproject/ergo-playground/blob/master/dist/bundle.js

It would be clearer if this became Accord Project Template Studio:
- Load a template from https://templates.accordproject.org (other locations nice to have)
- Generate a sample request transaction. Syntax highlighting of the JSON. Form generation nice to have based on

[2018-06-21 12:28] dselman commented on #92
In general, I think it is better to use the time in the incoming transaction. It makes unit testing *much* easier as you don't have to use mock clocks etc.

[2018-06-22 17:03] dselman commented on #128
@jeromesimeon implemented this.

[2018-06-22 17:03] #128 closed

[2018-06-22 17:04] dselman commented on #96
This is now implemented on https://templates.accordproject.org

[2018-06-22 17:04] #96 closed

[2018-06-22 18:50] #137 closed

[2018-06-26 14:00] mttrbrts opened #147 "getStateTypes returns [undefined] for JS Logic"
To replicate with cicero-core@0.4.5

[code]
Prints
[code]

## Expected behaviour
Should return empty array if state type annotation is not provided in a template

## Proposed resolution
Add null check to getStateTypes function in Template class

[2018-06-26 14:30] #147 closed

[2018-06-26 16:21] dselman opened #148 "Method to calculate a stable hash for a template"
Implement `template.getHash()` method to compute a stable/deterministic content based hash for a template. Expose the hash on https://templates.accordproject.org and in the `TemplateLibrary`.

[2018-06-26 16:22] #148 closed

[2018-06-26 16:22] dselman commented on #148
Implemented

[2018-06-27 14:30] dselman opened #149 "Template.getRequestTypes fails if there is no logic"
It is *valid* for a Cicero template to not have any logic files. We need to check that all similar operations (state, events, response) also work if there is no logic.

TypeError: Reduce of empty array with no initial value
    at Array.reduce (<anonymous>)
    at Template.getRequestTypes (/Users/dselman/dev/cicero-template-library/node_modules/@accordproject/cicero-core/lib/template.js:1192:14)

[2018-06-28 13:38] dselman opened #150 "cicero parse failed on Ubuntu"
User was using the attached template:
[mytemplate.zip](https://github.com/accordproject/cicero/files/2145489/mytemplate.zip)

[2018-06-28 16:00] BombardaIllegale commented on #150
This happened on
Distributor ID:    Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:    16.04
Codename:    xenial

[2018-07-02 10:59] dselman opened #152 "TemplateLibrary.getTemplateIndex should filter out old versions"
Provide an option to `TemplateLibrary.getTemplateIndex` to only return the latest version of each template.

[2018-07-02 11:39] #152 closed

[2018-07-02 12:46] dselman commented on #149
Fixed.

[2018-07-02 12:46] #149 closed

[2018-07-05 10:21] MHeisoku opened #155 "Contract string variable can't be successfully converted to Date object in logic.js"
I have dates in a contract in the form "dd MMM YYYY" (e.g. 01 July 2018) and would like to read these in as Strings and then convert them to Dates in logic.js. Using var d = new Date(contractVar); returns an "Invalid Date". I have confirmed that the date string is coming into logic.js from the contract parsing correctly. Also I have tested string to date conversion using the same method by feeding

[2018-07-05 13:17] mttrbrts opened #157 "Unit tests should use locally cached templates and models"
Currently, Travis builds fail frequently because of timeouts when downloading external models.

Ideally the test cases should all be able to work offline, perhaps with a couple of exceptions for the AP template library and model repository.

This will also have the added benefit of making the tests run faster.

[2018-07-10 10:17] #77 closed

[2018-07-12 07:44] mttrbrts opened #160 "Divergence of contract and clause templates"
Currently Cicero does not impose any technical distinction between a contract and a clause template instance.
It is only the template’s model that enforces any distinction, via getTemplateModel().

Intuitively, a clause and a contract have different properties and should be used in different ways. For example:

- Contracts contain Clauses. Clauses are atomic
- Clauses are functions, contracts are

[2018-07-12 07:52] mttrbrts opened #161 "Concrete template instantiation"
Currently, a clause instance is instantiated in JS with the following code:

	const clause = new Clause(template);

Should templates be JS modules so that I could write:

	const clause = new PaymentClause(amount);

Where the clause constructor is parameterised by the template model

For contract instantiation, we must also consider initialization logic for the contract. The `init` clause:
- sets t

[2018-07-12 08:35] mttrbrts opened #162 "Convergence of the Grammar + Logic + Model"
A Cicero template is composed of three things:
- a template grammar, i.e. natural language text with placeholders
- logic, written in Ergo
- a data model, written in CML.

This triple is very powerful, it allows for
- separation of concerns when designing templates, i.e. a lawyer can build a grammar without pollution by the implementation of the logic
- guaranteed error-free execution for well-typ

[2018-07-12 08:43] dselman commented on #162
I support this but it should be noted that the easier we make (2) the less likely people are to reuse models across clauses/contracts, which can create the "tower of Babel" problem. Is only suitable for primitive types?

[2018-07-12 08:45] mttrbrts commented on #162
I should make my comment clearer.

By "if necessary", I mean if custom types are necessary. Complex types should not be defined in-line. However an attribute of the template model may be annotated with the name of a complex type that is defined in the model-file.

[2018-07-12 22:29] dselman commented on #162
Doesn’t this mean that type names are now spread across tem and cto files? Eg rename a type in a cto file and you have to potentially check all tem files for refs? What about meta properties like optional, range, arity and decorators for localisation?

It also means that the tem parser now creates a dynamic template model class in the model manager, so you will need a namespace from somewhere.

[2018-07-12 22:30] dselman commented on #161
What problem is this solving?

[2018-07-12 22:48] mttrbrts commented on #162
Yes, that's correct. Regarding renaming, we already have that problem between the model and logic files.

I guess we need to decide if the benefit of inline definitions in the grammar outweighs these compromises.

[2018-07-12 22:57] mttrbrts commented on #161
This is still half-baked, more thinking required.

Superficially, my motivation was to reduce the operations required to instantiate a Clause.

However there is a risk that we lose some elements of the template. I.e. perhaps just using the compiled Ergo logic.

[2018-07-12 22:58] jeromesimeon commented on #161
Does it make sense to instantiate a clause instance. Should we instantiate contracts instead?

[2018-07-12 23:04] jeromesimeon commented on #162
I would go on a limb and suggest that the following distinction might make some sense:
1. (Text + Clause model). Placeholders in the grammar have inline type annotations. Custom types are defined in a model file if necessary. Text only is an example of this where the Text has no parameters and the inferred model is trivially `asset TemplateModel {}`.
2. (Text + Clause model) + (Logic + Runtime Mod

[2018-07-13 08:51] mttrbrts opened #164 "Support for private template libraries"
The templateLibrary class in cicero-core should support auth-headers to allow connection to private protected libraries too.

https://github.com/accordproject/cicero/blob/master/packages/cicero-core/lib/templatelibrary.js

[2018-07-13 18:31] jeromesimeon opened #165 "Wrong error message for mismatched Cicero versions"
The error message is wrong when trying to execute a template with the wrong Cicero version. The corresponding error is raised here:

https://github.com/accordproject/cicero/blob/52e3f515ef81e18e83315b3a796e9de7217a55fe/packages/cicero-core/lib/metadata.js#L126

where `ciceroVersion` is actually defined as `const ciceroVersion = require('../package.json').version;`

https://github.com/accordproject

[2018-07-13 19:13] jeromesimeon commented on #165
I looked at this too quickly. This seems to be the correct logic...

[2018-07-13 19:13] #165 closed

[2018-07-17 16:01] mttrbrts commented on #79
To further elaborate on this proposal here is a possible extension to the [Template Specification](https://docs.accordproject.org/docs/next/cicero-specification.html) to allow for semantic formatting inside a template grammar. Note also, the switch to GFM from commonmark, as GFM introduces an extension for tables.

---

Other than for variables, formatting follows the [GitHub Flavored Markdown Spe

[2018-07-17 16:10] mttrbrts commented on #79
Another alternative to extending the GFM spec for page breaks would be to use a HTML tag and rely on a HTML renderer any rendering pipeline.
[code]

[2018-07-18 19:56] jeromesimeon commented on #155
hi @MHeisoku Would you be able to post a simple corresponding code which illustrate this problem? (e.g., a small grammar, sample, CTO and logic).

In most templates we avoid the use of `Date` directly and uses the moment library from https://momentjs.com

You can parse dates using e.g., `moment("1995-12-25");`. And according to the moment library documentation date has to be in ISO 8601 format. ht

[2018-07-20 17:46] jeromesimeon commented on #141
link to the playground is here: https://accordproject.github.io/ergo-playground/

[2018-07-21 12:16] MHeisoku commented on #155
Thanks Jerome. That helped to debug the issue - turns out you can parse dates in the form "01 January 2018" pretty easily with moment so long as you provide a string format. I ended up using var d = moment(dateString, "DD MMMM YYYY") and it worked.

[2018-07-21 12:16] #155 closed

[2018-07-26 15:52] dselman opened #171 "Concrete syntax for Contract Template DOM"
The structure of a full contract and clause template is determined by the Cicero DOM:
https://models.accordproject.org/cicero/dom.html

Also see #79

We need to decide on a concrete syntax for the DOM that we want to put in the Cicero Template Archive.

The proposed name for this syntax is: `TBD`.

The assumption is that non-technical users will use an editor (web or embedded in MS Word) to edit C

[2018-07-26 16:00] kach commented on #171
(I like the XML syntax… 😄)

[2018-07-26 18:21] jeromesimeon commented on #171
I'll add a markup version for comparison, inspired by nunjucks:
[code]

[2018-07-27 07:35] mttrbrts commented on #171
I had something more like this in mind...

While Markdown is much less expressive and extensible than XML, this option has the advantage of legibility by a less technical user. The trade-off is that extensions need to be written in HTML, and introduce two notations to the concrete syntax.

[code]

And by way of demonstrating one advantage, here's the rendering of the same template in GitHub.

<blo

[2018-07-27 07:56] mttrbrts commented on #171
Note that none of these examples capture the logical parts of the DOM, e.g. choice or conditional sections. And the XML and MD examples don't include unbounded lists.

## For JSON
[code]

## For XML
[code]

## For Jinja2 / Nunjucks style
[code]

## For Markdown style
We could choose something like the Jijna2 / Nunjucks option above, or otherwise something like Mustache / Handbars.
[code]

[2018-07-27 09:05] dselman commented on #171
@mttrbrts what is the quality of the output from the Markdown parser, particularly for the inline HTML?

[2018-07-27 09:07] dselman commented on #171
@jeromesimeon what is the quality of the output from the Nunjucks parser? Would we have to roll our own parser?

[2018-07-27 09:36] mttrbrts commented on #171
Default Remark AST from the sample above, https://gist.github.com/mttrbrts/257bc23c22707201075e75e70052a10b
We'd need to add a plug-in to support the variables etc.

[2018-07-27 14:34] dselman commented on #162
@jeromesimeon note that it is not desirable to have the request/response types defined in Ergo as they have to be shared with the integration clients that are generating the JSON payloads.

[2018-07-29 10:22] dselman commented on #171
In terms of openness of the implementation (ability to parse the DOM on a wide variety of platforms), I think the XML syntax has the edge. Are there other factors people think should be considered, other than:

- Openness
- Extensibility
- Readability
- Learning Curve

[2018-07-30 13:33] kach commented on #171
* Amount of existing tooling we can leverage (not just parsers and serializers, but also smaller things like editor plug-ins, etc.)

[2018-08-01 08:44] dselman opened #174 "Support multi-locale templates"
The template specification must be extended to support locale-specific template grammar text.

This would allow a template developer to create a single template that had legal text in multiple natural languages, with a single data model and Ergo logic.

At present, a template can have multiple `sample.txt` instances (one per locale) but the grammar generation doe not take a locale as input.

This

[2018-08-08 09:11] mttrbrts opened #185 "Template hashes are not stable through roundtripping"
Loading a template from a directory and from an archive produces a different hash.

See the following code that reproduces the problem.
[code]
Outputs:
[code]

This is because the script loaders use different path keys in fromArchive and fromDirectory. For example in the sample above, fromArchive uses 'lib/logic.js' and fromDirectory uses 'acceptance-of-delivery/lib/logic.js' for the same file.

A

[2018-08-08 19:53] FelixKuehl commented on #50
+1 We were running into the same issue. Some docs (Getting started tutorial) still suggest to do `npm install -g cicero-cli` instead of `npm install -g @accordproject/cicero-cli`.
Doing so and attempting to run "cicero parse" on one of the example templates, results in the error _"/foo/cicero-template-library/src/helloworld" is not a valid cicero template. Make sure that package.json exists and th

[2018-08-08 20:01] FelixKuehl commented on #50
By the way, if the cicero-cli is not downwards compatible (Template with cicero version 0.4.4-0 can not be executed with cicero-cli 0.5.0), it should probably rather be template specific dependency instead of a global one.
Shouldnt the cli be version independent and just delegate to the cicero engine that a template depends on localy (in its package.json) ? This would feel like a cleaner and less

[2018-08-08 20:35] mttrbrts commented on #50
Many thanks, @FelixKuehl, can you provide a link to the getting started tutorial that had the incorrect instruction, please? I'll make sure that it's updated.

Newer templates versions do include a semantic version which is checked by the template loader and you get a slightly better error message. The CLI does have a dependency on the `cicero-engine` version that matches, as you describe.

Unfort

[2018-08-08 21:15] FelixKuehl commented on #50
Thanks @mttrbrts for clarification. I looked up the doc and it was actually not even explaining how to install the correct version of cicero-cli. Pull request is made: https://github.com/accordproject/techdocs/pull/10

[2018-08-09 14:19] sgwasserman opened #187 "CLI tools fail on node v7"
when ever i try to use cicero cli i get a parse token error as seen below
<img width="1086" alt="screen shot 2018-08-09 at 9 55 49 am" src="https://user-images.githubusercontent.com/29802875/43904800-9d162520-9bbd-11e8-87a4-4d36bffc0410.png">

[2018-08-09 14:45] mttrbrts commented on #187
Thanks @sgwasserman, Unfortunately I'm not able to replicate the same behaviour with the latest (0.5) release.

[code]

Can you post the output of running the following commands on your machine, please?

[code]

[2018-08-09 16:11] mttrbrts commented on #187
Resolved by upgrading node to version 8. Guidance for installing prerequisites is in the documentation.
https://docs.accordproject.org/docs/accordproject-tools.html#prerequisites

Each of the cicero npm packages (`cicero-cli`, `cicero-server` etc) contains an engines declaration which declares that the package will only work on node versions > 8.x,
https://github.com/accordproject/cicero/blob/2c1a

[2018-08-09 16:11] #187 closed

[2018-08-11 15:43] jeromesimeon commented on #114
There was some follow up cleaning of the corresponding code. We won't support backward compatibility within the same Cicero engine. Closing.

[2018-08-11 15:43] #114 closed

[2018-08-29 14:04] dselman opened #193 "Generate the natural language from a Clause"
A Clause is defined by a link to a template and some data (JSON) for the values of the variables in the template.

It would be very useful to be able to generate the natural language for the Clause, such that the text could be passed to the `parse` method to round-trip the Clause to extract the data.

[2018-08-29 14:05] dselman commented on #193
Implemented by https://github.com/accordproject/cicero/pull/192 which adds the `TemplateInstance.generateText` method.

[2018-08-29 14:05] #193 closed

[2018-09-02 13:15] mttrbrts opened #197 "Line breaks shouldn't fail parsing"
As per a thread in the AP #technology-wg channel. It is confusing to users who edit files with editors that automatically change the line break format.

The behaviour can be replicated by opening the `helloworld` sample.txt file in VSCode, and changing the line break format from `LF` to `CRLF` and saving.

Parsing the original sample works, parsing the changed sample fails with:
[code]

[2018-09-19 14:13] contractpendev opened #207 "Unable to download cto model files if use relative directory on Windows"
I think this is a windows directory problem.

The following works

[code]

And this does NOT work.

[code]

It will give this error

[code]

[2018-09-19 14:17] dselman commented on #207
I'm not sure what the _current working directory_ is for Node on Windows. Can you try `.\ testcicerofolder` please.

[2018-09-24 21:09] jeromesimeon opened #208 "Initialization should occur when creating contract"
At the moment contract state is initialized through a request, but it should be done when the contract is instantiated. This also will ensure initialization cannot be called more than once for a given contract.

[2018-10-01 08:41] jeromesimeon opened #211 "Should archives generated from Cicero templates contain Ergo source?"
Currently `Template.toArchive` generates `.cta` files containing the compiled JavaScript code. Should we generate `.cta` files containing the Ergo source instead?

This might be useful for:
- portability for other platforms than Node.js
- loading archives in AP studio #141
- loading archives in VScode plugin

[2018-10-10 05:53] jeromesimeon commented on #211
Addressed by PR #212 #213

[2018-10-10 05:53] #211 closed

[2018-10-11 18:48] jeromesimeon commented on #141
Initial design and prototype for a template studio can be found here: https://github.com/accordproject/template-studio

Feature coverage:
It would be clearer if this became Accord Project Template Studio:
- [ ] Load a template from https://templates.accordproject.org (other locations nice to have)
- [x] Generate a sample request transaction.
- [x] Syntax highlighting of the JSON.
- [ ] Form genera

[2018-10-12 02:29] contractpendev opened #219 "Execute on windows fails with \r\n problem"
[code]

I am using the Javascript API on the hello world example and have the above error.

const Commands = require('@accordproject/cicero-cli/lib/commands');
Commands.execute(templatePath, samplePath, requestsPath, statePath);

Windows newlines are \r\n, Linux are \n.

A simple fix (simple does not mean a good idea) is to in executeTemplate
https://www.npmjs.com/package/file-normalize

[code]

[2018-11-02 12:14] dselman commented on #171
Some work in progress based on the generated XSD (which a minor tweak to remove the ns prefix for `org.accordproject.cicero.dom`): https://models.accordproject.org/cicero/dom.html

It's not particularly pretty, but it's powerful and easy to parse in any language. We can make it a bit more palatable by using attributes for some stuff and making more of it optional (encoding for example).

Intereste

[2018-11-07 15:27] jeromesimeon opened #232 "Cicero parse fails on (not so) large grammars"
On even a not-so large grammar, Cicero runs out of memory (I believe when building the grammar).

[code]

[2018-11-07 15:28] jeromesimeon commented on #232
A sample for testing:

[biggrammar.zip](https://github.com/accordproject/cicero/files/2557985/biggrammar.zip)

[2018-11-12 14:58] alexCatena opened #238 "Upgrade winston dependency for cicero-core"
Please can winston be upgraded to winston@3.1.0

This is to allow it to work with apps created using create-react-app

[2018-11-12 15:09] alexCatena commented on #238
This is the winston pull request that fixes the issue
[https://github.com/winstonjs/winston/pull/1521](url)

[2018-11-12 15:46] #238 closed

[2018-11-14 13:11] dselman opened #240 "Add support for a logo for a template"
It would be very useful for display purposes if a Cicero template could contain an **optional** logo.

- File is called: `logo.png` and is in the root of the template
- Must be a PNG file
- Maximum size is 256x256 pixels

[2018-11-14 13:14] dselman commented on #219
This sounds like a good idea. We should ensure that we are consistent everywhere we use `fs.readFileSync` that newlines are normalised. Want to work on a PR for this?

[2018-11-14 13:16] dselman opened #241 "Update package.json for template to specify the license"
We should update the package.json file for all AP templates to specify the license for each template.

See: https://docs.npmjs.com/files/package.json

[2018-11-15 13:10] dselman commented on #241
All existing templates have been updated to specify Apache-2 license.

[2018-11-15 13:10] #241 closed

[2018-11-16 05:14] RyanHow opened #243 "Angular CLI build optimization fails"
Hi All,

I've been having trouble integrating Cicero into an Angular CLI project.

I'm having 2 separate issues.

The build hangs indefinitely on the composer-concerto\lib\introspect\parser.js file

[code]

If I disable the build optimizer, then the Terser minifier spits the dummy.

[code]

So the only way to get a successful production build is to disable the buildOptimizer and minifier, which is

[2018-11-16 08:37] mttrbrts commented on #243
Thanks for the great report @RyanHow. @jeromesimeon , I wonder if this is related to the whitespace issues that you mentioned since the Nearley upgrade? https://github.com/kach/nearley/issues/413

@RyanHow can you share a link to an Angular issue if you have one, please?

[2018-11-16 16:21] jeromesimeon commented on #243
@mttrbrts That looks unrelated to me? The issue seems to be in `composer-concerto`. I believe it's using pegjs as a parser. I could look into it.

[2018-11-16 16:29] jeromesimeon opened #245 "Ergo modules in templates"
Cicero should handle multiple Ergo modules. It currently fails during module import modules in the Ergo compiler. This works using `ergorun` but not `cicero execute`

(Reported by @mttrbrts)

[2018-11-16 16:30] jeromesimeon commented on #245
With PR #244

[code]

[2018-11-16 16:36] jeromesimeon commented on #243
This issue should be filed against https://github.com/hyperledger/composer-concerto

[2018-11-16 18:00] #245 closed

[2018-11-18 00:25] RyanHow commented on #243
Angular CLI issue is here

https://github.com/angular/angular-cli/issues/12975

I've worked around the Terser issue using a custom builder for angular and changing the options for Terser.

I really think the build optimizer is a bug with Angular CLI. It shouldn't just hang indefinitely.

[2018-11-18 12:08] RyanHow commented on #243
So it looks like the issue is a trailing comma in a function call

cicero-core\lib\logger.js
ergo-compiler\lib\logger.js

line 98

[code]

Angular runs Terser with ecma=6. Apparently by default Terser runs with ecma=8 which allows the trailing comma.

I'll keep following up the build optimizer hanging.

[2018-11-19 08:43] mttrbrts commented on #243
Thanks @RyanHow for the follow up.

I see that there are a number of other issues beyond this one in cicero-core alone,

[code]

I'll take a look at either transpiling or converting to ECMA 6/5

[2018-11-19 08:52] RyanHow commented on #243
Really?

I just changed those single pieces of code and then it worked for me...

On 19 Nov 2018, 4:43 pm, at 4:43 pm, Matt Roberts <notifications@github.com> wrote:

[2018-11-19 08:57] mttrbrts commented on #243
Interesting, this is the output from my linter when downgrading the rules to ECMA 6.

I'm happy to cut a release just with the change in logger.js, but I'm keen to fix the problem properly if there is a bigger issue.

[2018-11-19 09:04] RyanHow commented on #243
I only got it running through Terser with the default angular config. I'm not sure of implications of ECMA 6 compatibility overall sorry.

On 19 Nov 2018, 4:57 pm, at 4:57 pm, Matt Roberts <notifications@github.com> wrote:

[2018-11-20 12:05] RyanHow commented on #243
Have a look at the comments on here

https://github.com/angular/angular-cli/issues/12975#issuecomment-440246502

Is any of that helpful?

On 19 Nov 2018, 5:04 pm, at 5:04 pm, Ryan How <ryan@bitworks.com.au> wrote:

[2018-11-20 12:10] mttrbrts commented on #243
Yes, thanks @RyanHow, that is helpful.

Can you try again, `@accordproject/cicero-core@0.9.7-20181119152855`, please that contains a transpiled version of the entire module that should have removed all of the bad code, please?

[code]

[2018-11-20 14:13] RyanHow commented on #243
Yes! It's working now! Thanks! :)

The build optimizer issue looks like a typescript parser issue... not sure of a workaround for that one. I'll file it on the typescript issue tracker and see if anything happens...

[2018-11-23 14:09] fgomezotero opened #248 "Failed to load model file when run cicero parse command"
Following the official deocumentation available on the website, when I try to execute the cicero parse command within one of the templates, after cloning the cicero-template-library, specifically the Helloworld gives me the following error:

![image](https://user-images.githubusercontent.com/2965157/48947499-27bccd00-ef10-11e8-8e1f-57a099ebff29.png)

[2018-11-23 14:17] mttrbrts commented on #248
Hi @fgomezotero thank you for opening an issue.

For most template models, the parser tries to download imported files from the AP Model Repo (https://models.accordproject.org).

It looks like this operation failed during the SSL handshake. Do you have a firewall, or other network restriction that might stop this?

Does the following command work for you?
[code]

[2018-11-23 14:46] fgomezotero commented on #248
It was resolved, it was a proxy problem. Thank you

[2018-11-23 14:46] #248 closed

[2018-11-23 14:52] mttrbrts commented on #248
Thanks, @fgomezotero, I'll add a warning about this to the docs about this.

[2018-12-03 17:36] #232 closed

[2018-12-03 17:37] jeromesimeon opened #251 "CLI: cicero archive not implemented"
The Cicero CLI lists `cicero archive` as a command, but it is not implemented.

[2018-12-03 20:45] jeromesimeon commented on #251
Addressed in PR #252

[2018-12-03 20:45] #251 closed

[2018-12-06 01:54] jeromesimeon commented on #111
Should this issue moved to https://github.com/hyperledger/composer-concerto ?

[2018-12-06 01:54] jeromesimeon commented on #82
I don't understand this issue. (And yes, I have only myself to blame). @mttrbrts any idea what this is about?

[2018-12-06 01:55] jeromesimeon commented on #50
Can we consider this closed?

[2018-12-06 01:58] jeromesimeon commented on #8
https://github.com/clauseHQ/fabric-samples/tree/master/chaincode/cicero
@mttrbrts are you happy to close this now? ;)

[2018-12-06 07:11] #8 closed

[2018-12-06 07:16] mttrbrts commented on #82
Yes, it's related to referencing data in a parent contract from an embedded clause.

For example, if my contract contains a party name in a preamble, that I want to use when I emit an obligation in a smart clause, how do I access the data?

Having clause specific data transformations is one way to solve this potentially?

This is important to making smart clauses context independent

[2018-12-06 07:17] mttrbrts commented on #111
Yes, it should ...

[2018-12-06 09:26] mttrbrts opened #253 "`cicero archive` broken in 0.9.9"
With Cicero 0.9.9
[code]

[2018-12-06 09:33] #253 closed, assigned to nobody

[2018-12-06 16:31] jeromesimeon commented on #111
Moved to https://github.com/hyperledger/composer-concerto/issues/26

[2018-12-06 16:31] #111 closed

[2018-12-06 16:35] jeromesimeon commented on #141
Can we consider this issue resolved, based on https://github.com/accordproject/template-studio and open any additional issues on template studio instead?

[2018-12-06 16:38] jeromesimeon commented on #219
Duplicate  of #197

[2018-12-06 16:38] #219 closed

[2018-12-06 16:48] jeromesimeon commented on #150
Using  `mytemplate.zip` with two minor fixes: 1. upgrade to Cicero 0.9.9, 2. Fix the sample to remove the `"Test"` part, I  see:

[code]

which makes me think it's another duplicate of #197

@Hippobla can you confirm that it was your issue?

[2018-12-06 16:48] jeromesimeon commented on #150
Revised template for reference:
[mytemplate2.zip](https://github.com/accordproject/cicero/files/2654021/mytemplate2.zip)

[2018-12-07 09:45] Hippobla commented on #150
I think is the same yes

Il giorno Gio 6 Dic 2018, 18:48 Jerome Simeon <notifications@github.com> ha
scritto:

[2018-12-07 14:03] jeromesimeon opened #255 "Replace JavaScript dispatch on requests with Ergo dispatch"
Template execution (`cicero execute`) performs a dynamic dispatch on request (to find which clause should be called for which request).

This is currently done inside the Cicero engine, based on `@AccordClauseLogic` annotations in the generated JavaScript code for templates.

There is an equivalent dispatching support in Ergo, which is used e.g., in the REPL or when calling `ergorun`.

We should c

[2018-12-07 14:06] jeromesimeon commented on #255
Specific work items:

Remove the `buildDispatchFunction`
https://github.com/accordproject/cicero/blob/128a580eb8993fe3e31be5243184e31b2234ada2/packages/cicero-engine/lib/engine.js#L78
and replace the corresponding call to a call to the `main` function generated by the Ergo compiler.

Note that we may want to discuss the naming convention (should the main call to generated by the Ergo compiled  nam

[2018-12-07 14:07] jeromesimeon commented on #150
Thanks! I'll be looking into it. Closing this specific issue as a duplicate.

[2018-12-07 14:07] #150 closed

[2018-12-07 14:25] jeromesimeon opened #256 "Minimize Cicero-engine footprint"
Cicero engine should be as minimal as possible, only used to drive execution of *compiled* Accord Project templates for Node.js.

Most likely, is should only do (must at least support) the following:
- Validate input request/state/contract using Concerto
- Call `main` (or `dispatch` see #255 )
- Execute inside a container (currently we use `vm2`)

[2018-12-07 19:46] jeromesimeon opened #257 "Native & Ergo-based testing for Accord Project templates"
We are currently using chai/mocha for testing with tests written in JavaScript.

We should provide instead an Ergo-based testing infrastructure for portability and to allow template developers who write in Ergo, but are not JavaScript developers, to contribute.

Testing might also benefit from a "Behaviour Driven Development" approach. e.g., through something like https://docs.cucumber.io

[2018-12-07 20:04] jeromesimeon opened #258 "Clarify distinction between 'source' and 'compiled' template"
Currently, cicero support both JavaScript and Ergo templates, and archives.

We should consolidate and clarify that distinction so that:
- Source archives are always using Ergo as logic
- Compiled archives can use JavaScript, but can also be targeting other backends (e.g., JVM, WASM, distributed ledgers)

Some work items could include:

- [ ] Decide on naming conventions which distinguish source a

[2018-12-10 17:18] #141 closed

[2018-12-20 14:44] dselman opened #262 "Signed Cicero Template Archives"
Add support for signed template archives.

References:
https://docs.oracle.com/javase/tutorial/deployment/jar/signindex.html
https://medium.com/ios-os-x-development/ios-code-signing-provisioning-in-a-nutshell-d5b247760bef

[2018-12-20 14:45] dselman opened #263 "Declarative scheduling for templates"
Allow a template author to specify declaratively how often the logic of a template should be executed.

[2018-12-20 14:46] dselman opened #264 "Programmatic scheduling for templates"
Allow the Ergo logic for a template to indicate to the host environment when the template should be next triggered.

[2019-01-04 15:44] dselman commented on #171
Quite impressed by the commonmark JS parser. Sample [output](https://spec.commonmark.org/dingus/?text=%23%20Contract%0AThis%20is%20a%20sample%20contract%20template.%20You%20can%20introduce%20variables%2C%20like%20%5B%7Bname%7D%5D%20or%20even%20have%20static%20lists%3A%0A-%20add%20list%20items%0A-%20like%20this%0A%0A%5B%7Bif%20name%20%3E%2010%7D%5D%0AThis%20is%20a%20conditional%20section.%0A%5B%7Be

[2019-01-10 17:19] jeromesimeon commented on #264
Questions:
- What is the use case?
- When triggering a ~template~ contract instance, the caller need to pass a request, would the Ergo logic indicate the request? (as a kind of callback?)
- Any idea on syntax? 🙏 😃

[2019-01-25 18:48] jeromesimeon commented on #243
Just a clarification in this issue:

Transpilation of Cicero targets ES6 (or ECMA2015) *not* ES5.

@RyanHow can we close this issue?

[2019-01-25 19:59] jeromesimeon opened #275 "Handle time-tagged version numbers when matching templates to Cicero"
For development purposes, it might be really convenient to be a bit more flexible on the version numbers, e.g., allow `0.10.1-20190123170026` to match `0.10.1` or `0.10.0`.

For instance, in Studio:

<img width="762" alt="screen shot 2019-01-25 at 3 00 17 pm" src="https://user-images.githubusercontent.com/670099/51769807-f4cebb00-20b1-11e9-8da1-1437a6a19f25.png">

[2019-01-25 23:40] RyanHow commented on #243
Thanks. Yes you can close it.

Just to note: there is still a problem with the angular build optimizer, which is caused by a typescript issue.

So for the time being the build optimizer still needs to be disabled. Future versions of typescript should fix the issue.

On 26 Jan 2019, 2:48 am, at 2:48 am, Jerome Simeon <notifications@github.com> wrote:

[2019-01-28 20:39] jeromesimeon commented on #243
Thanks. Closing this.

[2019-01-28 20:39] #243 closed

[2019-01-29 17:08] jeromesimeon opened #278 "process.browser related code for templates due to nunjucks issue"
I can't quite figure out what this is about, and if this is still needed. Anyone has a clue?

https://github.com/accordproject/cicero/blob/d215113bdd7ec09a07e48f898a93ec7173ca8339/packages/cicero-core/src/template.js#L49

[2019-01-29 17:10] jeromesimeon commented on #278
Side question: how would one test this?

[2019-01-30 14:18] jeromesimeon commented on #275
Addressed in #276 and #279

[2019-01-30 14:18] #275 closed

[2019-01-30 14:19] alexCatena commented on #264
I like this idea.When used in conjunction with a blockchain, It removes the necessity of having some a timer or timeout running on the chain code. I know some chain codes don't support timers.This would move the logic off chain and remove the necessity of having another service running just for the timer.

[2019-02-19 03:57] jeromesimeon commented on #257
There is now a Cucumber-based testing framework for Cicero. This makes the test specification language-independent.

[2019-02-19 03:57] #257 closed

[2019-02-21 19:04] dselman opened #296 "Allow property references in templates"
E.g. a template parameter that was something like [{product.name}]

[2019-02-21 19:34] hm2space commented on #296
Hi, just to give more context. How to reference a graph tree from the template text, and emulate the usual dot notation in OO languages.

[2019-02-21 20:13] jeromesimeon commented on #296
I am curious to know what the natural language contract would look like? (i.e., not the template, but the instantiated/sample contract).

[2019-02-21 20:31] hm2space commented on #296
Here's what I' trying to do (I'm new to concerto, but this shows the intent)

Today I do this, to define an agreement:

the CTO
[code]

and the template
[code]

What I'd like to do it this
CTO
/**
 * A trivial purchase order model
 */
asset TrivialOrder extends AccordContract {
	o Product product
}

concept Product identifed by code {
  o QuantifiableValue totalQty
  o String name
  o String code

[2019-02-21 20:43] dselman commented on #20
An example that uses arrays in the model.

[latedeliveryandpenalty.zip](https://github.com/accordproject/cicero/files/2891179/latedeliveryandpenalty.zip)

[2019-02-21 20:44] dselman commented on #20
Code that prevents using Arrays in the template model:
https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/template.js#L328

[2019-02-28 13:22] jphillips-bp3 opened #300 "Cicero to allow different date formats to be specified"
We have a need to provide US date formats in a template, and in this case an the dates format specified in the contract is "May 1, 2019", so `month-name day, year` if using the RFC2822 Date and Time format specification: https://tools.ietf.org/html/rfc2822#section-3.3

This is also related to this issue: https://github.com/accordproject/cicero/issues/63

[2019-02-28 15:14] jphillips-bp3 opened #301 "Is there a known issue around ContractSigned events for multi-clause contracts not firing?"
OK so this might be my code (and am still digging), but I am seeing something odd. I have a contract that is made up of two clauses. Each clause has its own lifecycle that starts with initialised then onto contract signed. Once both are in the contract signed state, they are then able to be executed and do their thing.

Both clauses implement the method signature of: `clause contractSigned(request

[2019-02-28 15:49] jphillips-bp3 commented on #301
OK so an update, I have run the test again by creating a new contract with both clauses added and this time the clause that was moving onto the contract signed state previously is no longer doing so, but the other is. So my claim that it is the same clause each time is not the case, it appears to be random which one actually gets/processes the contract signed event.

I also checked the Timeline an

[2019-02-28 16:25] jeromesimeon commented on #301
At the moment, the Cicero engine triggers the first clause which matches the given request. We've had recent discussions on the Ergo call about this (see https://github.com/accordproject/ergo/issues/550).

For the time being, you might want to merge the two clauses into one if possible for your scenario.

Any examples and requirements on triggering multiple clauses for the same event would be very

[2019-02-28 16:35] jphillips-bp3 commented on #301
OK that probably explains it. So the reason for having two clauses is because the contract has two clauses, separated by static text in between.

At the top of the contract is the SOW definition that outlines the parties and the contract affective dates etc. This has been implemented as a clause because I need to request that information which is then used by the second clause (see below) by passi

[2019-03-01 11:39] jphillips-bp3 commented on #79
I was just thinking the same thing. The clause I am working on has pretty technical wording and calculation examples built in and could really do with formatting to make it more readable.

[2019-03-01 11:50] jphillips-bp3 opened #302 "Ability to download the endpoint and bearer tokens for clauses in the contract as a JSON file"
Not sure this is the right place for Hub related issues, so feel free to move.

When constructing a contract with multiple clauses, it is a bit fiddly to have to go into each clause info tab and copy and paste the endpoint URL and token.

So one idea I had was that it would be good to have a download option against the entire contract to build a JSON file that has the endpoint and bearer token's f

[2019-03-01 14:41] jeromesimeon commented on #79
A lot of this work is taking place here: https://github.com/accordproject/markdown-editor and here:  https://github.com/accordproject/contract-editor

[2019-03-01 15:04] jphillips-bp3 commented on #302
This has been posted on the Clause Hub chat.

[2019-03-01 15:04] #302 closed

[2019-03-01 20:52] dselman opened #303 "Cannot have a property on a request called validate"
Get a runtime failure because when we try to call the validate function on the composer object we are actually accessing the field.

[2019-03-05 12:36] dselman commented on #301
This makes sense to me. What do you think the order of invocation of the two clauses should be?

[2019-03-05 12:45] dselman commented on #20
Current state is that you CAN use arrays in your models - but not the template model itself.

[2019-03-05 12:47] hm2space commented on #20
It would be interesting to support any arbitrary sequence of chars as separator in arrays.
For example, in a table like this one:
`|   DEAL    | 16.00 | 15.90 | 15.65 | 14.75 |  13.20 | `
' | ' is the delimiter.
And we can even go a step further by supporting Regex to be used as separators.

[2019-03-05 13:01] dselman commented on #174
To fix #63 we need to be able to specify the locale for a template, with the default date/time format for the template based on the locale for the template.

This requires refactoring how we manage the template grammars within a template.

`/grammar/template.tem` <-- default template. This is for the `en-US` locale
`/sample.txt` <-- sample.txt for the `en-US` locale
`/README.md` <-- readme file fo

[2019-03-05 13:16] dselman commented on #63
The parser generator should use a suitable date/time representation for the locale of the template.

In addition the template author should be able to override the default date/time representation inline in the template grammar using a new `as` qualifier.

[code]

The date/time format string should correspond to a sensible (subset?) of the formatting strings supported by moment.js:
http://momentjs

[2019-03-05 13:33] jphillips-bp3 commented on #63
@dselman the `date as` approach would be perfect. In my particular case, the (US) client I am working with wants the format to be `MMMM d, YYYY`, for example `March 5, 2019`.

[2019-03-05 14:51] hm2space commented on #63
In the same spirit, the localization should be applied to numbers too.
For example 12,000 for 12000 doesn't pass the parsing.

[2019-03-05 14:55] hm2space commented on #63
On the `date as`  it could be interesting to have some template level directive to set the date or num format.  And the 'as' at the field level would allow field level setting.

[2019-03-05 15:08] dselman commented on #63
Yes, the idea is that for numeric fields we could use the `as` to specify formatting.

[2019-03-05 15:09] dselman commented on #63
Yes, the default parsing rules will be set by the locale of the template (once implemented by #174)

[2019-03-05 15:11] jphillips-bp3 commented on #301
@dselman Are you talking in terms of executing the clause or the order in which the contract signed events should be dispatched to each clause in the contract?

[2019-03-05 15:14] dselman commented on #301
The latter: we need deterministic execution, so if we have N clauses that all want to process the same incoming transaction we need to somehow order them, and because each could perform state updates, it will be important for the programmer to understand this "conflict resolution". Thoughts?

[2019-03-05 15:27] jphillips-bp3 commented on #301
OK so in my specific case it does not matter which order, because each clause is transitioning from an initialised state to a contract signed state. But I understand your point, so somehow we need to specify an order. Maybe this could be implemented as an annotation much like in Java, for example:

[code]

Clauses with the same order or those that do not specify one are then the mercy of the dispa

[2019-03-05 15:29] hm2space commented on #301
Another way is to consider a sequence clause (like an atomic flow of execution), that will enforce the order of invocations and determine actions on failure.
Can a clause invoke another one ?

[2019-03-06 10:31] jphillips-bp3 opened #305 "String parameters should not be quoted"
So a scenario has come up with the client I am working with, in that they want one of the terms used in the clause template text to be editable. It is not feasible to split the clause into two and have this as static text in between because the variable text is embedded within the clause, which itself is atomic.

The text is as follows:

Where the term `Rates` may be different for different partie

[2019-03-06 11:10] dselman commented on #305
I think this really _is_ a string parameter for the template. What we need to work on is removing the need to enclose string parameters in quotes.

[2019-03-06 11:24] jphillips-bp3 commented on #305
Yes, the quotes is the main problem here.

[2019-03-06 11:40] jeromesimeon commented on #305
One of the issues with not quoting is ambiguity. What do you expect the output to be in a case where the template says:
[code]

and the sample says:
[code]

to be?

[2019-03-06 11:53] dselman commented on #305
In theory Nearly will produce two (N!) ASTs for that so we can at least detect an ambiguous template - and force the user to insert some text in the template to separate the strings. You are right that there are probably performance and usability issues however.

[2019-03-06 12:05] jeromesimeon commented on #305
We can provide guidelines to template developers, but this is something to consider. In this particular example, one of the issue from a performance standpoint (with a Nearly-like parser) is that you get a combinatorial number of parses (N!).

[2019-03-06 12:05] jeromesimeon commented on #305
Note: generateText will still work great.

[2019-03-06 12:29] jphillips-bp3 commented on #305
I think that is reasonable, at the end of the day if you want adjacent String variables then the template design should combine them into one.

[2019-03-06 12:43] jeromesimeon commented on #305
I think this works, with the assumption that you work with the smallest match, but it will be interesting how to do that with Nearly.

Here is a not so clear example. Template:
[code]
with the sample:
[code]

We could fairly easily reject when there are multiple parses, with a bit of extra complexity on providing good error messages.

[2019-03-07 12:21] jphillips-bp3 opened #307 "Is there a way of passing the clause transaction Id to the Payment Obligation event?"
In the demo I am building, I am listening for payment obligation events so I can update the clause response I am displaying on the UI with the correct payment obligation.

So is there a way of passing through the clause transaction Id from the clause being executed to the Payment Obligation being emitted? Is this transaction Id available from within the clause itself?

I guess I could generate a t

[2019-03-07 12:38] jeromesimeon commented on #307
The transactionId is not visible on the logic side. I think the reason being that it has to be generated outbound-side through validation (possibly something which could be changed through a `uuid()` function in Ergo, but this makes the logic a lot more complicated throughout).

I'm a bit unclear on a couple of things:
- Aren't the response and the emitted obligation returned together?
- Wouldn't

[2019-03-07 12:49] jphillips-bp3 commented on #307
@jeromesimeon No the PO is not returned in the response. I am receiving it because I have set up a custom HTTP action against the clause which calls back to my Node-RED server.

But you have given me the idea of just bolting the PO object into the response, that way I don't need to listen for an asynchronous event. For the purposes of this demo that would be fine and would reduce the complexity. T

[2019-03-07 15:42] jeromesimeon commented on #307
That makes sense.

[2019-03-07 16:40] #307 closed

[2019-03-08 15:28] dselman opened #308 "Remove the ability to package Nearley grammar"
Cicero currently allows your to write an entire Nearley grammar by hand for a template and package it instead of a `template.tem` file. We should remove this capability for compatibility and security reasons. I don't believe it is documented or used outside of tests.

[2019-03-08 17:21] jeromesimeon commented on #308
This also makes templates non-portable and JavaScript dependent. I'm listing this as part of  the "Deprecate JavaScript" project.

[2019-03-08 17:21] jeromesimeon commented on #255
This item is completed on the cicero-0.11 branch

[2019-03-08 17:21] #255 closed

[2019-03-19 16:35] jeromesimeon commented on #105
Ergo logic includes the notion of an `init` clause which is used to specify the initial state as well as initially emitted events.

[2019-03-19 16:35] #105 closed

[2019-03-19 16:43] jeromesimeon commented on #258
This issue is probably moot. The current status answers those questions as follows:
- Whether source or target is identified by the language field inside the package.json for the archive (`ergo` for source, e.g.,`javascript` as target)
- cicero archive allows for a specific language (default is source archive, `--language` can be used to create a compiled archive)
- cicero parse and execute work o

[2019-03-19 16:43] #258 closed

[2019-03-19 16:47] jeromesimeon commented on #258
One last possible item would be to provide a way to check the integrity of a compiled archive. This might be better done through a digital signature or checksum. See Issue #262

[2019-03-25 11:48] dselman opened #324 "Cicero CLI v0.11.1 is broken"
[code]

[2019-03-25 11:51] dselman commented on #324
It looks like `ergo-engine` requires `Chai` but it is declared as a devDependency:
https://github.com/accordproject/ergo/blob/master/packages/ergo-engine/package.json#L39

We probably need to refactor this so that we don't require `Chai` at runtime.

[2019-03-25 17:01] jeromesimeon commented on #256
This is completed as part of release 0.11.* of Cicero. The engine now only accesses the contract data from the template, then delegates to the Ergo engine which performs 1. validation, 2. container execution.

Dispatch is now removed from the engine, since it is generated by the Ergo compiler.

[2019-03-25 17:01] #256 closed

[2019-03-25 17:03] jeromesimeon commented on #83
Unclear issue text... contract initialization is now done using a `init` call which is part of the execution engine.

[2019-03-25 17:03] #83 closed

[2019-03-26 17:24] jeromesimeon commented on #208
The current proposed approach is a middle ground:
- Init calls cannot occur through sending a request, only through calling `init` in the execution engine
- Init calls still are the application's responsibility, and it must ensure init is not called multiple times

This provides a still-functional API to the engine, while limiting the risk that users can trigger initialization by sending a request

[2019-03-26 17:24] #208 closed

[2019-03-26 19:14] dselman opened #328 "Compiled Archives"
To support efficient execution of Cicero archives it is useful to be able to pre-compile them to a target runtime offline/once.

Also see: #258

This metadata field can then be used by the `Template.fromArchive` and `Template.fromDirectory` code to either reject loading the archive, or to specialise the handling of the resources within the archive.

The proposed format is:

[code]

[2019-03-26 19:16] jeromesimeon commented on #328
Great idea. Note that we could consider removing the `language` tag in the `package.json` after that, since it would always be Ergo.

[2019-03-26 19:27] jeromesimeon commented on #324
Fix is in, see PR #327

[2019-03-26 19:47] jeromesimeon commented on #324
With 0.11.1:
[code]

[2019-03-26 19:47] jeromesimeon commented on #324
With the development version:
[code]

[2019-04-04 13:49] dselman opened #337 "Optimize size of web packed modules"
![image (19)](https://user-images.githubusercontent.com/623108/55560792-e374e100-56e8-11e9-8cf3-50c927f7305b.png)

[2019-04-04 13:50] dselman commented on #337
`ietf-language-tag-regex` should be quite easy to eliminate I think.

The Ergo compiler is over 1 MB. We should think about splitting the parser (used in hub) from the Ergo compiler.

[2019-04-04 13:53] jeromesimeon commented on #337
I agree. We should provide different packages or Web bundles for parsing and compiling.

[2019-04-04 13:54] jeromesimeon commented on #337
The new distinction between source and compiled templates should help very much. The compiler should go from a source template to a compiled template. The compiled template can be handed over to the engine. Either source or compiled template can be used for parsing. The step in between (compilation) can be isolated.

[2019-04-05 03:45] jeromesimeon commented on #328
Implemented in 0.12

[2019-04-05 03:45] #328 closed

[2019-04-05 03:46] jeromesimeon commented on #308
Implemented in 0.12

[2019-04-05 03:46] #308 closed

[2019-04-05 03:49] jeromesimeon commented on #324
Fixed in Cicero 0.12:
[code]

[2019-04-05 03:49] #324 closed

[2019-04-05 03:52] jeromesimeon commented on #135
Support for loading archives from disk is implemented in 0.12. You can now pass either a directory or a template archive to the Cicero CLI using the `--template` option. For instance:

[code]

[2019-04-05 05:14] jeromesimeon commented on #300
Addressed with new Date/Time parsing support in Cicero 0.12.

[2019-04-05 05:14] jeromesimeon commented on #300
Demoed here in Template Studio:
<img width="636" alt="Screen Shot 2019-04-05 at 1 13 26 AM" src="https://user-images.githubusercontent.com/670099/55604912-21512400-5740-11e9-881c-0a7d4171ad5c.png">

With the template grammar:
<img width="673" alt="Screen Shot 2019-04-05 at 1 13 38 AM" src="https://user-images.githubusercontent.com/670099/55604917-23b37e00-5740-11e9-9129-be005e491226.png">

[2019-04-05 05:15] jeromesimeon commented on #63
Addressed in Cicero 0.12

[2019-04-05 05:15] #63 closed

[2019-04-05 17:27] jeromesimeon commented on #92
As of Cicero 0.12, API calls for parsing and execution lets the user pass a "currentTime" parameter in the following format: `'YYYY-MM-DDTHH:mm:ssZ'`. This parameter is also used to determine the local timezone for execution.

[2019-04-05 17:27] #92 closed

[2019-04-05 17:29] jeromesimeon commented on #3
This issue is discussed in more details in #305

[2019-04-05 17:29] #3 closed

[2019-04-15 15:41] jeromesimeon opened #343 "Date formatted with a timezone but no milliseconds fail to parse"
This works:
[code]

But this does not:
[code]

[2019-04-15 15:48] dselman commented on #343
I can take this one.

[2019-04-15 15:54] jeromesimeon commented on #343
Thanks @dselman I believe moment doesn't handle `null` in constructors with the array form well:
https://github.com/accordproject/cicero/blob/765a189737bf87541aa6facd9ad26857b5d7c7d0/packages/cicero-core/src/templateinstance.js#L153

[2019-04-16 14:00] jeromesimeon commented on #343
I am suggesting a fix here: https://github.com/accordproject/cicero/pull/344

[2019-04-17 13:16] #343 closed

[2019-04-18 16:00] jeromesimeon opened #345 "CLI calls should not mandate a state.json file"
Cicero 0.12 lost the ability to call `cicero parse` or `cicero execute` without a `state.json` file. For most template the initial state can be obtained by executing `init` so it would be nice to do that instead of forcing the presence of a `state.json` file.

[2019-04-21 17:08] jeromesimeon opened #346 "Support for Dynamic Template Grammars with Expressions"
_A syntax proposal is available at https://github.com/accordproject/cicero/issues/392_

It would be quite nice to provide finer grained control of the contract text by embedding logic in the template.

To illustrate some of the possible benefits/usecases, here are a few examples:

## Handling Text Dependencies:

Template:
[code]

For the contract data:
[code]

The text of the contract will be:
[co

[2019-04-21 18:24] jeromesimeon commented on #346
## Handling Complex Data:

Template:
[code]

For the contract data:
[code]

The text of the contract will be:
[code]

For the contract data:
[code]
Attempting to generate the text of the contract will result in an enforce error.

[2019-04-21 18:42] jeromesimeon commented on #346
Note that an approach based on expressions within templates may also cover https://github.com/accordproject/cicero/issues/296

[2019-04-22 14:21] jeromesimeon opened #348 "CLI: Provide a command to generate text from template data in JSON"
It would be convenient to provide an equivalent to `cicero parse` that instead construct the contract text from JSON. There is already support for that in the API for template instances (`generateText`) call.

This could have the following shape:
[code]

and output a contract text.

[2019-04-22 15:10] jeromesimeon commented on #345
Fixed in PR #347

[2019-04-22 15:10] #345 closed

[2019-04-30 15:19] jeromesimeon commented on #348
Resolved with #349

[2019-04-30 15:19] #348 closed

[2019-04-30 15:20] jeromesimeon commented on #300
@jphillips-bp3 Can we close this?

[2019-04-30 15:22] jphillips-bp3 commented on #300
@jeromesimeon I have not tried it but happy to close the ticket.

[2019-04-30 15:22] #300 closed

[2019-04-30 15:23] jeromesimeon commented on #300
Thanks, I'll close. Feel free to reopen or open a new issue if you have problems with the feature as implemented.

[2019-05-03 22:07] jeromesimeon opened #353 "parsing/generateText for special characters"
generateText escapes tabs into `\t` which leads to errors in parsing:

[code]

If one creates a new sample from that JSON:
[code]

That sample does not parse due to the `\t`:
[code]

[2019-05-15 21:18] jeromesimeon opened #357 "Provide a nice default archive name for "cicero archive""
Currently the archive name is mandatory when using the `cicero archive` command line.

It would be convenient to provide a default file name (e.g., `templateName@templateVersion.cta`).

Reported by @adrianffletcher

[2019-05-15 22:45] jeromesimeon commented on #357
Adressed in #358

[2019-05-15 22:45] #357 closed

[2019-05-16 10:32] adrianffletcher opened #360 "Ambiguous concept definitions are not highlighted"
When there are two concepts defined with the same name and both are imported into an Ergo file it is not clear which one is being used and there is no warning or error message produced by the compiler.

The attached archive file (which needs to be renamed back to a .cta file to be used) gives an example of this where there are two LineItem concepts defined and it is not clear if the code should co

[2019-05-16 10:45] adrianffletcher commented on #20
Attached is another example which is a fuel surcharge clause which is rather cumbersome as we have to define new model variables for each element in the table and we require a fixed number of rows in the table.

<img width="688" alt="Screen Shot 2019-05-16 at 11 44 46" src="https://user-images.githubusercontent.com/29235349/57848114-0e665080-77d0-11e9-91df-96334a3eec31.png">

[fuel-surchargev0.1.2

[2019-05-22 17:16] adrianffletcher opened #361 "Cicero command-line should work offline"
Cicero parse, execute and archive should work offline if the required libraries have already  been cached. This would help me be much more productive on the train. :)

[2019-05-22 19:54] dselman commented on #303
This has been reported by a user.

[2019-06-09 10:17] jeromesimeon commented on #361
Is this working? I see caching, but `cicero parse` still raises HTTP errors if offline after model caching:

[code]

[2019-06-09 13:16] #361 closed

[2019-06-17 14:42] dselman opened #370 "Create a Cicero VSCode extension"
Refactor the existing Ergo and Composer VSCode extensions into a new Cicero VSCode plugin:
- fixing bugs
- supporting .ergo, .cto and .tem files

[2019-06-19 15:06] irmerk opened #371 "AP Documentation Sync"
## Tasks
- Implement updated Accord Project documentation.

[2019-06-21 15:35] irmerk commented on #371
Closed with #372

[2019-06-21 15:35] #371 closed

[2019-06-25 17:35] adrianffletcher opened #375 "Badly specified dates should produce an error rather than a warning"
**Describe the bug**
If a date is specified in the sample.txt file in European format (DD/MM/YYYY) then a warning is produced.

**To Reproduce**
Run 'cicero execute' on the attached cta file.

**Expected behavior**
An error should be produced.

**Screenshots**
This is the warning produced:
Deprecation warning: value provided is not in a recognized RFC2822 or ISO format. moment construction falls b

[2019-06-25 19:07] peterhunn opened #376 "Localization of data model variables within template grammar"
**Is your feature request related to a problem? Please describe.**

Text in a Template may produce a grammatically incorrect result when using variables from a Data Model.

For example, `[{FractionalPart}]`in the [Late Delivery and Penalty Template](https://templates.accordproject.org/latedeliveryandpenalty@0.13.1.html) renders as `days` (pluralized rather than singular): `Any fractional part of a

[2019-07-01 19:40] jeromesimeon commented on #375
Some investigation on this issue: `DateTime` variables without a format do not go through the same format parser which checks for bounds on days and months to ensure they are proper dates. This means in those cases, the parser's behaviour falls back to whatever moment does. In this case, it creates a moment object marked as `Invalid date`.

The proposed resolution would be to treat `DateTime` vari

[2019-07-01 19:41] jeromesimeon commented on #375
With a fix to make sure non-formatted date behave as formatted dates with `MM/DD/YYYY`:

<img width="1085" alt="Screenshot 2019-07-01 at 3 40 42 PM" src="https://user-images.githubusercontent.com/670099/60462198-aa300c80-9c16-11e9-88bb-ba019c150f2b.png">

[2019-07-01 19:42] jeromesimeon commented on #375
Tried on the provided sample:
[code]

[2019-07-01 20:14] jeromesimeon commented on #375
Cicero part of this fixed in PR #379

I can't speak to the Clause issues that may or may not need additional fixes.

[2019-07-02 02:04] #375 closed

[2019-07-04 14:47] dselman commented on #264
I propose that scheduled callbacks are expressed in terms of `Intervals`. This allows the Ergo logic to state that they need to be called back within a given time `Interval`. Please see https://www.joda.org/joda-time/key_interval.html for a description of time intervals.

[code]

[code]

Or:

[code]

The `schedule` keyword would be similar to the `emit` keyword, in that it would allow the Ergo log

[2019-07-04 14:51] dselman commented on #263
I propose that we keep this *very* simple - limiting expressivity to "poll this clause/contract every Duration", falling back to Ergo programmatic scheduling for more complex cases:

[2019-07-04 15:12] dselman commented on #264
See also: https://docs.oracle.com/javase/1.5.0/docs/api/java/util/concurrent/ScheduledExecutorService.html

[2019-07-04 16:43] #157 closed

[2019-07-04 16:44] dselman commented on #171
Closing, as we have moved to using extended CommonMark for serialisation.

[2019-07-04 16:44] #171 closed

[2019-07-04 16:44] #135 closed

[2019-07-05 07:52] mttrbrts commented on #264
How does the host environment know how to callback the clause / contract? For example, what is the payload of the scheduled request?

[2019-07-05 10:23] dselman commented on #264
Good question! I'll defer the second one to @jeromesimeon who has more insight into the "full contract" questions. I'd imagined that we will add a new modelled transaction for these callbacks. Something like:

[code]

This would allow the template developer to handle `ScheduledRequest` as they handle other incoming request types.

[2019-07-08 11:40] dselman commented on #370
The new extension has been published to the VSCode marketplace:
https://marketplace.visualstudio.com/items?itemName=accordproject.cicero-vscode-extension

[2019-07-08 11:40] #370 closed

[2019-07-09 14:54] adrianffletcher opened #384 "Support for numeric words (e.g. "one", "two", "twenty")"
A lot of contracts use words for numeric values such as "three months" or "ten years" which is not currently supported in Cicero

I would like these words to be converted to numeric values in the Cicero data model.

[2019-07-09 15:09] jeromesimeon commented on #384
Those kinds of things move us quite close to natural language analysis (along with e.g., #376). It would certainly be interesting, but I'm not sure it's in scope / a priority / if we have the skills.

[2019-07-09 15:09] dselman commented on #384
Useful libraries:
https://github.com/marlun78/number-to-words
https://github.com/finnfiddle/words-to-numbers

[2019-07-09 15:12] dselman commented on #384
I've also seen contracts that use both. e.g.

[code]

I'm not sure what the legal drafting best practices are around that, but we can check with the working group.

[2019-07-09 15:13] dselman commented on #384
Could these become "computed values", e.g. using the `numbers-to-words` library above?

[2019-07-09 15:15] jeromesimeon commented on #384
It could easily be done with a `generateText` method backed by an Ergo library for numbers to words (preferably written in Ergo for portability). But one big question is whether we want to maintain a `parse <-> generateText` symmetry. Parsing is a lot harder I think.

Note that even generating the text can be delicate with things like plural/singular, `an/a` etc.

[2019-07-09 16:01] jeromesimeon opened #386 "Should grammar generation use eval?"
I'm wondering if there is a better way to load the Nearly parser generated from the template grammar.

In addition complicating the security analysis, the corresponding code seems also quite brittle:
https://github.com/accordproject/cicero/blob/f79abd8c37d01def5e3525270e3889dc5a405c3e/packages/cicero-core/src/parsermanager.js#L421

E.g., The reliance on the `module` variable seems to trip certain

[2019-07-09 17:19] jeromesimeon commented on #386
Note that there is an open issue on babel about this `module` question https://github.com/babel/babel/issues/5718

[2019-07-09 19:32] thisaac opened #388 "Support for Template Display Name"
It appears there's no way to add spacing or alternate casing to the `name` of a template. This suggests that the name is more of an identifier rather than a display name.

This especially becomes an obstacle when displaying multiple templates (cf. [Accord Template Library](https://templates.accordproject.org/)) and trying to help people distinguish quickly between the contract clauses in a list.

[2019-07-10 14:57] jeromesimeon commented on #264
A few (not very informed or clear, so bear with me) reactions:
- we should not try to do "real time" or "near real time" (which really means real time to people working on embedded systems)
- whose responsibility is it to ensure the scheduling makes sense (not in the past, not conflicting, etc.)
- whose responsibility is it to execute the call back?
- The call back should definitely indicate _what

[2019-07-10 15:00] jeromesimeon commented on #264
I would love to see a concrete use case... (scenario?)

[2019-07-10 15:10] jeromesimeon commented on #264
A few more questions:
- Do we need a `cicero-scheduler` package for execution
- Is there Node.js npm package scheduler we can reuse or do we need to write our own
- How do we test this feature?

[2019-07-11 14:44] adrianffletcher opened #389 "Support for different formats for Monetary Amounts"
I would like to be able to specify a Monetary Amount using a format '$10,000,000' or '$10m' for convenience.

[2019-07-12 17:34] jeromesimeon opened #390 "generateText does not handle nested clauses"
**Describe the bug**

Generate Text method in Cicero core does not support `{[#clause}] ... [{/clause}]` markup.

**To Reproduce**
Steps to reproduce the behavior:

For instance on the following template: https://templates.accordproject.org/car-rental-tr@0.8.1.html
[code]

**Expected behavior**

`generateText` should generate the text for the contract from the `data.json` instance.

**Desktop (ple

[2019-07-12 18:40] jeromesimeon commented on #390
Tested with PR #391:
[code]

[2019-07-12 18:53] jeromesimeon commented on #390
Fixed in PR #391

[2019-07-12 18:53] #390 closed

[2019-07-15 15:04] jeromesimeon opened #392 "Syntax for Rich Text & Dynamic Templates"
This issue is related to #346 but with a specific focus on syntax for discussion. Previous related issue #171 is closed and somewhat outdated, so I think a new issue is useful.

## Requirements and proposals

The requirements for rich text and dynamic templates syntax are:
1. Handle rich-text annotations, based as much as possible on some existing spec https://github.com/accordproject/cicero/issue

[2019-07-15 15:07] jeromesimeon commented on #392
For 1. Handle rich-text annotations, the main candidate is markdown based on common mark. which is already used in the Markdown Editor used by Cicero UI.

Some open questions:
- Support for tables?
- Should XML-like markup be allowed or not?
- How does it interact with the dynamic template support?

[2019-07-15 15:10] jeromesimeon commented on #392
For 2. Current prototype uses `{{ ... }}` for both switching from text to expression, and from expression to text. Some alternatives:

- `This is text {{ let x = 1 in {{ This is text again with value {{ x }}}} }}` (as current prototype)
- `This is text {{ let x = 1 in `This is text again with value {{ x }}` }}` (more like JavaScript templates strings)
- ...

[2019-07-15 15:49] mttrbrts commented on #392
I'm intrigued by the `\`` notation, for completeness and consistency with the conceptual use in JS, here's a third option:
[code]

[2019-07-15 16:59] jeromesimeon commented on #392
The correspondence with code blocks is intriguing...

[2019-07-15 17:35] jeromesimeon commented on #392
For 3. A proposal inspired by [handlebars](https://handlebarsjs.com). _Note: In the range between very little language-binding (mustache) to deep integration with a language (JSX), I find handlebars the most relevant/close to what we are trying to achieve_

## Variables

[code]

## Ergo Expressions

Many special purpose things in handlebars can be written as Ergo expressions:

[code]

Other things

[2019-07-15 17:48] jeromesimeon commented on #392
For 4.

The idea is to identify the source variables in the text, and generate a parser when possible. What _could_ handled by the parser is:
[code]

Those can still occur inside the following blocks:

[code]

[2019-07-15 18:09] jeromesimeon commented on #392
Issues directly addressed by the proposal:
https://github.com/accordproject/cicero/issues/296
https://github.com/accordproject/cicero/issues/346
https://github.com/accordproject/cicero/issues/79
https://github.com/accordproject/cicero/issues/20
https://github.com/accordproject/cicero/issues/17
https://github.com/accordproject/cicero/issues/4

Relevant issues that are ***not*** addressed by the pro

[2019-07-15 18:22] jeromesimeon commented on #392
Breaking changes from our current syntax:
- Variables should be changed from `[{variableName}]` to `{[variableName]}`
- Formatted variables should be changed from `[{variableName as "FORMAT"}]` to `{[variableName as "FORMAT"]}`
- Boolean variables should be changed from `[{"This is a force majeure":?forceMajeure}]` to `{{#if forceMajeure}}This is a force majeure{{/if}}`
- Nested clauses should be

[2019-07-15 20:28] irmerk commented on #388
Yes, this is a great suggestion. We will be discussing this during the tech working group call this Wednesday.

[2019-07-15 22:06] jeromesimeon commented on #388
Correction: I'm expecting this to be on the agenda for the following week.

[2019-07-19 14:22] irmerk opened #394 "Contract-level Variables"
**Is your feature request related to a problem? Please describe.**
Parameter support (contract editor)

**Describe the solution you'd like**
Example of these variables are parties

**Describe alternatives you've considered**
N/A

**Additional context**
Related issues:
- Cicero-UI ()

[2019-07-19 14:24] irmerk opened #395 "Contract Parsing"
**Is your feature request related to a problem? Please describe.**
Cicero should be support full contract parsing

**Describe the solution you'd like**
Similar to clause parsing, and provide contract specific errors

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-07-22 21:03] niallroche opened #396 "Support for Working Days in contracts"
many contracts make reference to 'Working Days', this can be important for calculating penalties and service level agreements etc. While this may be difficult to implement as each country has its own definition of what is a working day and also moveable public holidays, this would be a very welcome feature enhancement to support.

[2019-07-23 09:53] mttrbrts commented on #396
Hi @niallroche, I wonder if it's too restrictive for Cicero to make an assumption about what a working day is. Even if we could reliably determine the normal working week by locale, I suspect that there will always be exceptions.

For example, where the agreement defines non-standard working days (e.g. Tuesday to Saturday), or exceptional public holidays (e.g. a royal wedding).

Instead, perhaps w

[2019-07-23 17:39] jeromesimeon opened #397 "Should not allow creation of Ergo archives from compiled JavaScript archives"
**Describe the bug**
I think trying to create and Ergo archive from a JavaScript one should not succeed without notifying the user. Currently it creates and archive with no logic, which is confusing to users.

**To Reproduce**

Steps to reproduce the behavior:
[code]

**Expected behavior**
Trying to generate an Ergo archive from a compiled JavaScript archive should throw an error.

**Desktop (plea

[2019-07-25 10:23] mttrbrts commented on #388
As per the discussion yesterday on the working group call, https://vimeo.com/350070645

- The name of this metadata property is `displayName`.
- The property should be a JavaScript string which allows it to be persisted to a template's `package.json` file. This gives us a lot of flexibility to include unicode characters, emojis etc. However it means that we should adopt JavaScript single character

[2019-07-25 15:43] jeromesimeon commented on #388
Couple of comments:
- Internally, this should probably be added to the `cicero-core.Metadata` module.
- We may want to have an API call that lets a user set the `displayName` programmatically, and which makes sure exporting to an archive result in a `package.json` with the new name
- Have we checked if there is a standard `package.json` documented field which would be appropriate?

[2019-07-26 10:00] magick93 commented on #396
Maybe QuantLib would be useful? https://www.quantlib.org/quantlibxl/func_calendar.html.

There is a JS version - https://www.npmjs.com/package/quantlib

[2019-07-27 04:09] jeromesimeon commented on #392
Alternative Syntax For _3. Handle variables, expressions, lists, tables, based as much as possible on some existing template mechanism_

The proposal bellow is inspired by [handlebars](https://handlebarsjs.com).

## Variables ✅

Variables are quoted with `{{...}}`.

[code]

## Ergo Expressions ✅

Expressions are quoted with `{{% ... %}}`

Many special purpose things in handlebars can be written as

[2019-07-27 04:14] jeromesimeon commented on #392
Alternative Syntax For _2. Handle arbitrary switching between Ergo expressions and texts_

Expressions inside of texts are quoted with `{{% ... %}}`. Text inside expressions are anti-quoted using `%{{ ... }}%`.

For instance:

[code]

[2019-07-29 13:47] mttrbrts commented on #388
I can't find a standard `package.json` field that performs the same function

[2019-07-29 14:09] mttrbrts commented on #388
Also, we don't currently provide a way to change the template name, instead this is immutable via the API once the `template` class is instantiated. The `template` constructor sets the template name via `packageJson` object. I suggest that we do the same for `displayName`.

[2019-08-01 07:28] #388 closed

[2019-08-01 07:30] mttrbrts commented on #264
Here is a schema proposal for automatic scheduled requests by templates.

These models should live in `org.accordproject.cicero.runtime namespace` at https://models.accordproject.org/cicero/runtime.html

[code]

These events are emitted in the same way as obligations by contract logic. e.g.

[code]

[2019-08-01 12:38] j4m3sb0mb opened #401 "problem with test coverage importing cicero package"
When I import a cicero package and run test coverage on my application with jest, jest tries to do coverage on this folder: /home/travis/build/accordproject/cicero/packages/cicero-core/src but it tells me that coverage is 0 for these files.
this is only few files but the list is long:

travis/build/accordproject/cicero/packages/cicero-core/src                     |     9.76 |     0.77 |        0 |

[2019-08-02 14:33] j4m3sb0mb commented on #401
in `node_modules/@accordproject/cicero-core` every file has coverage inline source map with path like this: `/home/travis/build/accordproject/cicero/packages/cicero-core/src/contract.js`
but in my pc there isn't this file.
I think that this is causing errors in my coverage tests because in the coverage report is written that cicero-core files are not tested.

[2019-08-07 09:32] mttrbrts commented on #401
Hi @j4m3sb0mb , thanks for your report, I'll take a look

[2019-08-07 16:53] mttrbrts commented on #401
@j4m3sb0mb we're merged a change that addresses this issue. It will be included in the next release that we make, however in the meantime you can test the change by using the `unstable` release.
[code]

Let us know how you get on, and we've love to hear about what you're building in a Technology Working Group call, https://www.accordproject.org/working-groups/technology

[2019-08-07 17:12] jeromesimeon commented on #401
A note on “unstable”. Those change quite often. You may want to look at the latest Tagged release on npmjs and explicitly use that instead. It should look like cicero-cli-20190807.....

[2019-08-09 09:58] j4m3sb0mb commented on #401
thanks, I'll try it and let you know

[2019-08-09 16:46] jeromesimeon commented on #395
There is already some level of support for a notion of contract parsing. An example can be found in the `copyright-license` template here:
https://github.com/accordproject/cicero/tree/master/packages/cicero-core/test/data/copyright-license

The relevant part looks as follow:
[code]

With a clause `paymentClause` nested within the contract.

[2019-08-09 16:58] jeromesimeon opened #404 "Markdown support and whitespace handling"
There are a number of issues with whitespace occurring when trying to parse grammar and templates through commonmark.

The commonmark parser applies (arguably arcane) whitespace rules when parsing the source text containing markdown.

For instance, the whitespace at the end of a paragraph is stripped. This can be seen on the CommonMark ["Dingus"](https://spec.commonmark.org/dingus/)

From the snip

[2019-08-09 17:00] jeromesimeon commented on #404
This means that applying a process where we parse both the grammar and sample text with commonmark before handing the text over to the current Cicero parser will fail in some cases. this can be seen on the current branch for markdown support at: https://github.com/accordproject/cicero/tree/ds-markdown-support

[2019-08-09 17:03] jeromesimeon commented on #404
Some possible workaround:
- Make the Cicero parser less whitespace sensitive (with what rules may be somewhat tricky to decide, as those rules will have to be consistent with markdown parsing, but it could be a good feature anyway)
- Normalize whitespace in the grammar and sample before handing it to the common mark parser (again rules would have to be markdown-aware)
- It is possible that those i

[2019-08-09 17:03] mttrbrts commented on #404
This sounds like an generalised instance of this issue, https://github.com/accordproject/cicero/issues/197

It should be straightforward to relax the Cicero parser to be tolerant of leading and trailing whitespace, right?

[2019-08-09 17:06] jeromesimeon commented on #404
It may depend on the definition of trivial... In the example above, the "trailing" whitespace in the grammar is somewhere in between `{{paymentProcedure}}.` and `{{/paymentClause}}`

[2019-08-09 17:12] mttrbrts commented on #404
Could we not just run `String.trim()` on the contents of the inline clause definition before parsing?

[2019-08-09 17:42] jeromesimeon commented on #404
It's possible, my concern is how do those interact with whitespace rules from commonmark. Hypothetically, the inline clause could have a paragraph creation, something like:
[code]
With a corresponding text that looks as follows:
[code]

In which case, we may not want to simply trim the end of the inline clause. Although of course we could argue this is not a well formed example.

In other words, i

[2019-08-09 17:43] jeromesimeon commented on #404
Also: we will have to apply a similar `.trim()` to the sample.

[2019-08-09 17:46] jeromesimeon commented on #404
A couple of other idea we could try to improve the situation:
- enforce that inline clauses have to be paragraphs (they cannot be in the middle of a paragraph) and apply commonmark paragraph rules to those
- perform whitespace normalisation inside the Common mark AST resulting from parsing the grammar.

[2019-08-12 22:51] dselman commented on #404
I am going to experiment with some new code that generates a grammar direct from the commonmark AST. I think this will give us much more control over how we define the grammar to align whitespace handling.

It will also allow us to handle commonmark lists properly, so that the parser is aware of them.

[2019-08-14 02:43] dselman commented on #404
I now have code that can parse Commonmark to a JSON and validate the JSON using a CTO model (Commonmark Model):
https://github.com/accordproject/markdown-transform/blob/ds-parse-to-cto/src/CommonmarkParser.js

Using this CTO-based intermediate model will make the core `markdown-transform` and `cicero` projects independent of the Slate DOM (event the JSON serialisation).

The next step is to `visit

[2019-08-14 23:44] dselman commented on #404
I've merged the changes into the master branch for `markdown-transform` to parse .md to a Concerto AST, as well as convert an instance of the Concerto AST to md text. I also added a lot of unit tests.

Next I will start work on the Nearley parser generator.

[2019-08-19 11:43] dselman commented on #404
The Nearley parser generation has raised some interesting questions for lists.

E..g If we have a static list in the `tem` file:

[code]

vs. a list that references an array type:

[code]

When `minRate` and `maxRate` are fields on a concept and the template model contains an array of these concepts.

In the second example the generated parser could make the list optional and allow any number of e

[2019-08-19 13:36] roysjosh commented on #262
Hello,

I have started to investigate this issue and I would like your feedback before I go too far in one direction or another.

Given the current archive format being zip and to avoid a separate signature file I think a solution similar to JAR signing makes sense.

- create a simple manifest containing a collection of file paths and hashes in the archive
- digitally sign that manifest and place

[2019-08-19 13:55] dselman commented on #262
That sounds great. FYI we already have a method in the template that computes a content-based hash which might be useful:
https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/template.js#L143

[2019-08-22 14:15] roysjosh commented on #262
I ended up creating a manifest with individual file hashes to more easily detect what file changed, if any.  I'm finishing up the verification bits now; although I've used node-forge in the past, I didn't notice PKCS#7 verification was missing so I had to add it.

[2019-08-23 12:55] dselman opened #406 "Invalid grammar generated for concepts containing DateTime"
**Describe the bug**

Cannot generate a grammar for a template that references a concept containing a DateTime.

**To Reproduce**

Use studio.accordproject.org and add the following. In the JS console you see an error:
[code]

Model:
[code]

Template:
[code]

Sample:

[code]

**Expected behavior**
Grammar should work, and should parse the `DateTime` using the default MM/DD/YYYY format.

[2019-08-23 12:55] dselman commented on #406
[helloworld-4.zip](https://github.com/accordproject/cicero/files/3534525/helloworld-4.zip)

[2019-08-28 15:17] dselman commented on #262
I reviewed the code in the fork - it looks great. Looking forward to the pull request!

[2019-08-28 15:19] mttrbrts commented on #262
Thanks @roysjosh, great work! Some thoughts on your comments above...

Can you explain the platform limitation a little more, please? What does this mean in practice?

Yes, IMO. We can handle this gracefully higher up the stack

So, we rely upon tools to alert users to the use of unsigned templates/templates that were previously signed? Analogous to TLS and HSTS in browsers?

If I understand this

[2019-08-29 10:22] adrianffletcher opened #407 "Variables beginning with the letters "as" cause an error in Cicero parse."
**Describe the bug**
If a Cicero template is created with a variable name that begins with the letter "as" then Cicero parse will give the following error:
`Unexpected varas token: "as"`

**To Reproduce**
Steps to reproduce the behavior:
1. Start with the helloworld template.
2. Change the variable "name" to "assetName" across all files.
3. Run cicero parse.
4. See the following error: `Unexpected

[2019-08-29 10:23] adrianffletcher commented on #407
Attached example:
[helloasset.zip](https://github.com/accordproject/cicero/files/3555059/helloasset.zip)

[2019-08-29 14:31] jeromesimeon commented on #407
Thanks for the report.

This issue also affects the dynamic template branch:
[code]

[2019-09-03 17:19] jeromesimeon commented on #407
I think this is an example of: https://github.com/no-context/moo#keywords
and should be fixed using the `keywords` function, as explained at the end of that link

[2019-09-03 18:34] DeweyWald opened #408 "cicero command line model error when running in a windows powershell"
When I run cicero parse or archive I get a model error every time. I upload the same code to Template Studio and if validates and I can create a CTA from template studio.

The error:
cicero archive --template rideshare-driver-requirements-service --archiveFile rideshare-driver-requirements-service
11:05:53 AM - error: Failed to find an asset that extends org.accordproject.cicero.contract.AccordCla

[2019-09-03 19:20] jeromesimeon commented on #408
A few preliminary notes for triage:
- I was above to test and run parse on the archive on MacOs and template studio without problem. So it is indeed most likely a Windows issue.
- The error message is also consistent with the `model.cto` file not being found. It points to a possible issue with Windows file system access.
- There is at least one other possibly related Windows issue #207

I don't kn

[2019-09-03 19:32] jeromesimeon commented on #407
Fixed in #409

A sample run with the attached archive gives:
- With Cicero 0.13.4:
[code]
- With the PR:
[code]

[2019-09-03 19:37] jeromesimeon commented on #407
Fixed in PR #409. Should go out with the next release.

[2019-09-03 19:37] #407 closed

[2019-09-04 17:32] jeromesimeon commented on #408
@DeweyWald As additional information it might be worth trying out:
1. place the template in a windows directory without whitespace (e.g., `C:\tmp\test`)
2. run Cicero with an explicit template path `cicero parse --template C:\tmp\test`

[2019-09-04 17:39] DeweyWald commented on #408
same result

[2019-09-10 19:13] irmerk opened #410 "peerDependency Status"
This is to track the discussion on the possibility of making `cicero` into a `peerDepencency`.

Conversation points so far from @mttrbrts, @DianaLease, and @jeromesimeon:
- [Reference material as guidance](https://blog.angularindepth.com/npm-peer-dependencies-f843f3ac4e7f)
- This would meet the guideline "_The dependency is visible in your interface_” because using templates, parsing, etc is a lar

[2019-09-11 02:57] jeromesimeon commented on #410
Cicero being a peer dependency should be a decision for projects that consume it. Not sure there is anything that needs to happen from a Cicero standpoint.

[2019-09-11 12:52] irmerk commented on #410
Should this be moved into Cicero-UI?

[2019-09-11 13:10] jeromesimeon commented on #410
I think so, or to the most relevant project where the question of whether to have Cicero as peer dependency is.

[2019-09-11 13:14] irmerk commented on #410
Closing in favor of [Cicero UI Issue 140](https://github.com/accordproject/cicero-ui/issues/140)

[2019-09-11 13:14] #410 closed

[2019-09-14 21:17] irmerk commented on #50
Following up on this issue being closed @dselman @mttrbrts @jeromesimeon

[2019-09-16 14:28] irmerk opened #412 "Release Notes (v0.20)"
## Tasks
- This will track and construct the overall release notes for this repo in relation to the `v0.20` project

## Related Issues:
- #346
- #392
- [Ergo Issue 646](https://github.com/accordproject/ergo/issues/646)

[2019-09-16 14:31] jeromesimeon commented on #412
- Markdown based parsing and text generation
- New syntax for templates (e.g., `{{foo}}` `{{#if forceMajeure}}...{{/if}}`
- Dynamic templates (e.g., `{{% rate * 1.24 %}}`
- Based on new modelling package Concerto `0.80.*`
- ...

[2019-09-17 13:10] jeromesimeon commented on #389
This could use a similar approach as to what is used for formatting of `DateTime` values.

[2019-09-18 17:11] lhcneto opened #419 "Basic tutorial throws error"
I'm getting an error while following the basic tutorial to the letter, i already tried some minor variations to adress the erros, but without success.

I'm really excited about the project, just need to get started. If you could fix the tutorial or include some missing step would be great.

Below follows a detailed description of the steps I took and the error I got, as well as versions of the lib

[2019-09-20 09:55] mttrbrts commented on #401
Hi @j4m3sb0mb, did this resolve your issue, please?

[2019-09-20 10:04] mttrbrts commented on #301
Closing in favour of https://github.com/accordproject/ergo/issues/550

[2019-09-20 10:04] #301 closed

[2019-09-20 13:13] mttrbrts commented on #408
Hi @DeweyWald, we've made an update that fixes this issue. The issue hasn't been released yet, but in the meantime you can test it with
[code]

[2019-09-20 14:53] DeweyWald commented on #408
This is great Matt, thanks, I will try it out.

[2019-09-22 11:42] #401 closed

[2019-09-24 18:31] jeromesimeon opened #420 "[CLI] generateText should not need to quote the output"
The current `generateText` command in the CLI quotes the output:
[code]

It would look nicer it was not quoted:

[code]

[2019-09-24 18:57] #420 closed

[2019-09-24 18:58] jeromesimeon commented on #197
Fixed in Cicero 0.13.5

[2019-09-24 18:58] #197 closed

[2019-09-24 18:59] jeromesimeon commented on #408
This should now be fixed with Cicero 0.13.5. Could you please confirm?

[2019-09-24 18:59] jeromesimeon commented on #419
This should now be fixed with Cicero 0.13.5. Could you please confirm?

[2019-09-24 20:56] DeweyWald commented on #408
Confirmed, works great.

[2019-09-24 20:56] #408 closed

[2019-09-25 12:46] lilychau1 commented on #419
I'm facing a similar issue, but having the 'Unexpected "\n"' error on line 3 (seems that when it reads the txt file, it somehow reads an extra new line when it reaches the end of the file). I double checked my sample.txt, no extra line was at the end and the version I used is up to date for both the cta and txt files.

[2019-09-25 14:23] jeromesimeon commented on #419
Hi @lilychau1 I'm not completely sure. Could you please post your `sample.txt` here?

One thing I noticed when testing on Windows: some popular editors (e.g., Atom) have setting to remove whitespace (trailing whitespace, trailing new lines, etc). I found it difficult to identify parsing issues with those settings on.

[2019-09-25 14:23] jeromesimeon commented on #419
Just in case, for Atom directions to those settings can be found here: https://stackoverflow.com/questions/30403150/atom-text-editor-remove-trailing-whitespace-on-save

[2019-09-25 14:34] lilychau1 commented on #419
[sample.txt](https://github.com/accordproject/cicero/files/3652992/sample.txt)
Hi @jeromesimeon . Thanks for your reply. I've attached sample.txt here and I'm using Linux.

[2019-09-25 14:40] lilychau1 commented on #419
Actually when I use Visual Studio Code to generate the text file it goes fine. Thanks for your help! but still I'm not quite sure why it gives such difference?
[sample2.txt](https://github.com/accordproject/cicero/files/3653042/sample2.txt)

[2019-09-25 14:46] jeromesimeon commented on #419
hi @lilychau1 The issue you are having is different from the one reported in this issue which has to do with carriage return characters `\r` (usually a Windows artefact).

I've looked at your sample and it has an extra new line `\n` at the end which is not in the template grammar, so you should make sure your sample does not have that new line. Here is a sample that should work:

[sample3.txt](htt

[2019-09-25 14:56] lilychau1 commented on #419
@jeromesimeon Thanks for the answer. Though I've checked with text editor both are without an extra line and the second file actually worked fine in my machine with Cicero CLI.

The difference is one is created via text editor and another from VS code (not sure why sample2.txt did not work on your machine). But still, thanks for reminding about the new line issue!

[2019-09-25 15:42] jeromesimeon commented on #419
@lilychau1 Some editors add new lines when saving to disk. As far as I can tell those two files are identical:
[code]

[2019-09-27 11:23] gagandeepp commented on #240
@dselman  @mttrbrts  is this still open,I can have a look into this?

[2019-09-27 11:57] mttrbrts commented on #240
Thanks @gagandeepp, yes, I'll release the assignment!

[2019-09-27 15:06] jeromesimeon commented on #419
Closing this, feel free to re-open if related problems arise.

[2019-09-27 15:06] #419 closed

[2019-09-27 15:09] jeromesimeon commented on #303
Should this issue be moved to https://github.com/accordproject/concerto ?

(maybe with the cool issue transfer feature in GitHub)

[2019-10-01 14:34] gagandeepp commented on #240
how to test this functionality??

[2019-10-01 14:43] mttrbrts opened #423 "Template Tests are not able to override the default timeout"
**Describe the bug**
Found by @4katie

The travis test run for the `accordproject/cicero-template-library` fails intermittently due to timeouts during unit tests, especially for the `supplyagreement-perishable-goods`

This is because the timeout is hard-coded globally in `cicero-test` package.
https://github.com/accordproject/cicero/blob/master/packages/cicero-test/lib/steps.js#L79

**To Reproduce

[2019-10-01 14:44] mttrbrts commented on #423
Any thoughts @jeromesimeon ?

[2019-10-02 16:51] AaronCGoidel commented on #389
I could look into this.

I imagine that the useful formats would be as follows. Does anything else come to mind?
- Numerical ($10,000,000)
- Abbreviated ($10m)
- Text ($10 million)

[2019-10-02 16:54] jeromesimeon commented on #389
@AaronCGoidel That would be great. I don't have insights as to common format, maybe @adrianffletcher does. I would love to see a proposal which can be flexible, maybe with an idea similar to what we are doing for `DateTime` types.

For those, you can write `{{myDate as "FORMAT"}}` where `FORMAT` can be built using a syntax documented here: https://docs.accordproject.org/docs/ref-markup.html#dateti

[2019-10-02 20:33] triebben commented on #164
Hi, will take this issue if nobody else already working on it.

I think the library is now located at https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/templatelibrary.js

[2019-10-02 20:44] irmerk commented on #164
@mttrbrts or @jeromesimeon you would likely know the answer to this.

[2019-10-02 21:07] mttrbrts commented on #389
@AaronCGoidel @jeromesimeon , I've been looking at `Dinero` as a possible future backend for native monetary amount calculations. We could expose the same formatting options here: https://sarahdayan.github.io/dinero.js/module-Dinero.html#~toFormat

[2019-10-02 21:14] mttrbrts commented on #164
Thanks @triebben, you're welcome to take this. No-one has made progress on this that I'm aware of.

Do you have a proposal for authentication schemes? Making this extensible is important, IMO.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Authorization

HTTP Basic Auth seems like the obvious first step, but I can imagine in the future a need to support Bearer, AWS4, OAuth etc.

Maybe @

[2019-10-02 21:26] jeromesimeon commented on #423
Not on the top of my head, I'd have to page in some of the constraints coming from cucumber. `cicero-test` could certainly use some TLC...

[2019-10-02 21:27] jeromesimeon commented on #164
@triebben This is correct the `./lib` directory is not generated from `./src`

[2019-10-02 21:30] jeromesimeon commented on #389
I'm not sure I like that direction which may imply having a new `MonetaryAmount` type directly built into Concerto. I would much prefer adding support for a native arbitrary precision type (e.g., either as a new semantics for `Integer` or as a new type `Decimal`) with the benefit that those could be used for other things than monetary amounts.

[2019-10-02 21:50] dselman commented on #389
Also worth noting that (like dates) formatting of numbers is locale dependent.

[2019-10-02 22:07] jeromesimeon commented on #389
As an addendum I do like the format support :)

[2019-10-03 07:57] triebben commented on #164
Hi, at first place [TemplateLibrary constructor](https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/templatelibrary.js#L44) should be extended to receive credentials.

Maybe parameter like username and password
[code]
or a advanced version to set an authentication object for different HTTP Auth
[code]
for example.

These attributes can be pasted to [request lib](https://g

[2019-10-03 08:17] mttrbrts commented on #164
I prefer the second option (even if we only support Basic auth to begin), it means that we don't have to make a breaking API change when we want to add other auth types.

[2019-10-03 13:52] jeromesimeon opened #425 "Align command-line interface across all projects"
There are a number of variations in CLIs across the various projects, which could be smoothed out to facilitate understanding for users.

The existing CLIs include:
[code]

It would help if those use the same version of `yargs` as well since the usage/help output varies between them.

[2019-10-04 11:13] triebben commented on #164
PullRequest is open.

I can't find any function to mock a request inside current cicero-core testing. So i'm not able to verify if a request actually contains the provided http authentication header.
Is there a way to mock/ intercept request with current test setting?

[2019-10-08 15:51] gagandeepp commented on #240
Any updates?

[2019-10-08 17:57] irmerk commented on #240
@mttrbrts pinging you again on this one.

[2019-10-09 19:59] shahsank3t opened #431 "Typo in DEVELOPERS.md"
**Describe the bug**
In DEVELOPERS.md ([here](https://github.com/accordproject/cicero/blob/master/DEVELOPERS.md#building-cicero)), URL of the main repository to be added as upstream has a typo in it. `acccordproject` should be `accordproject`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [DEVELOPERS.md](https://github.com/accordproject/cicero/blob/master/DEVELOPERS.md#building-cicero

[2019-10-09 20:00] shahsank3t commented on #431
@irmerk - can you please add some labels to this and assign it to me so I could quickly open a PR for this?

[2019-10-09 21:26] jeromesimeon commented on #431
it's yours @shahsank3t !

[2019-10-09 21:38] shahsank3t commented on #431
Thanks @jeromesimeon
Opened PR: https://github.com/accordproject/cicero/pull/432

[2019-10-09 21:51] #431 closed

[2019-10-10 05:58] jamesgeorge007 opened #433 "[CLI]: Nothing shows up if none of the args were passed in"
**Describe the bug**
Nothing seems to show up if no arguments were passed in along with `cicero`.

**To Reproduce**
Fire in `cicero` without any arguments.

**Expected behavior**
Help information should show up.

[2019-10-10 15:00] jeromesimeon commented on #433
I would consider this a feature request, but it's a good idea.

[2019-10-10 15:46] jeromesimeon commented on #425
1. Ergo:
[code]
2. Cicero:
[code]
3. Markus:
[code]
4. Concerto:
[code]

[2019-10-10 16:11] jeromesimeon opened #435 "Template Triangle and Cicero Directory structure"
It would be nice if we could align the Cicero directory structure so it matches the conceptual description of an Accord Project template: https://docs.accordproject.org/docs/accordproject.html

The current directory structure (in `0.13.5`) is as follows:
[code]

We could make a few changes to the Accord Project "Template Triangle" and to the directory structure so they align. The resulting directo

[2019-10-10 16:14] jeromesimeon commented on #435
Corresponding change to the Accord Project Template Triangle could be as follows:
<img width="520" alt="Screenshot 2019-10-10 at 12 14 12 PM" src="https://user-images.githubusercontent.com/670099/66586982-8e160280-eb57-11e9-9bcc-e030649a44ad.png">

[2019-10-10 16:18] jeromesimeon commented on #435
For info, here is the proposal’s Changelog:
1. On figure:
- `Natural Language` --> `Grammar`
- Flip `Grammar` and `Logic` and the corresponding arrows (suggested by @Katie Sa)

2. On Cicero directory:
- `sample.txt` --> `sample.md`
- `./grammar/template.tem` --> `./grammar/template.tem.md`
- `./lib` --> `./logic`
- `./models` --> `./model`

[2019-10-10 16:50] jeromesimeon commented on #425
Additional alignment could happen on the options for some of the commands. For instance:
1. `--out / --outputDirectory` --> `--output` for all commands
2. `--format / --target` --> `--target` for the `compile` command
3. `--data / --contract` --> `--data` for the `generate` command
...

[2019-10-11 08:21] irmerk commented on #435
I may have more thoughts in the future, just wanting to include @michael-grover on making the design cleaner.

[2019-10-11 15:18] jeromesimeon commented on #425
A slightly more radical proposal (trying to take feedback from the Ergo call into account):
1. Ergo:
[code]
2. Cicero:
[code]
3. Markus:
[code]
4. Concerto:
[code]

[2019-10-11 16:26] DianaLease commented on #425
I mentioned this on the Ergo call, but will reiterate here for those who were not able to make it:
I do not use the CLIs very often, so this may not be a real concern (I would be interested in hearing opinions from those that do currently use it often), but my one thought is that it may be confusing for people who use the `generate` command currently, since that command will still exist but will b

[2019-10-11 16:28] jeromesimeon commented on #425
Thanks for the feedback @DianaLease

The second proposal above uses `draft` instead of `generateText` or `generate`.

[2019-10-13 10:11] vmr1532 opened #438 "grammatical errors in README.md file"

[2019-10-13 18:44] flagoon commented on #5
Can I have some more information on the task? What needs to be done? Creating functions for translating strings? Creating language file with all strings as variables? I would like to take this one.

[2019-10-14 08:58] irmerk commented on #438
Could you fill out information for context in this issue?

[2019-10-14 09:53] jamesgeorge007 opened #439 "[CLI]: suggest matching commands if the user mistypes"
**Is your feature request related to a problem? Please describe.**
It would be nice if matching commands were suggested if the user makes a typo.

**Describe the solution you'd like**
`yargs` exposes an API for the purpose - `recommendCommands()`

[code]

**Additional context**
N/A

[2019-10-14 16:08] #433 closed

[2019-10-14 16:14] jeromesimeon commented on #439
Fixed in #434

[2019-10-14 16:14] #439 closed

[2019-10-14 16:26] jeromesimeon commented on #406
This error still occurs on the `0.20` branch. Attached sample.
[helloworld-4.0.20.zip](https://github.com/accordproject/cicero/files/3725416/helloworld-4.0.20.zip)

[2019-10-14 17:23] jeromesimeon commented on #406
Fixed in branch `0.20` https://github.com/accordproject/cicero/commit/e4d578f67f705c64ea7fedab204b9efd05430c7c

Attached sample.
[helloworld-4.0.20.zip](https://github.com/accordproject/cicero/files/3725606/helloworld-4.0.20.zip)

[code]

[2019-10-14 17:23] #406 closed

[2019-10-14 17:31] jeromesimeon commented on #50
The packages are owned by @dselman on NPMJS so I don't think it can be resolved by anyone else.

Sample commands for deprecating:
[code]

[2019-10-15 11:38] dselman opened #441 "Templates with tab characters do not roundtrip between parse and generateText"
If a template contains the tab character (\t) then we when `parse` is called a JSON data is created, however if you subsequently call `generateText` with the JSON data then tab characters in the template are expanded as `\t`.

**To Reproduce**
1. Download the attached template
2. Unzip
3. Install Cicero CLI
4. cicero parse --out data.json
5. cicero generateText --data data.json

**Expected behavio

[2019-10-15 11:39] dselman commented on #441
[goldman-nda@0.1.2.cta.zip](https://github.com/accordproject/cicero/files/3729020/goldman-nda%400.1.2.cta.zip)

[2019-10-15 11:39] dselman commented on #441
@jeromesimeon another whitespace issue in 0.13.4

[2019-10-15 12:14] dselman commented on #441
[whitespace-test@0.1.2.cta.zip](https://github.com/accordproject/cicero/files/3729141/whitespace-test%400.1.2.cta.zip)

[2019-10-15 12:46] jeromesimeon commented on #441
This specific sample works on the `0.20-alpha` branch, in the sense that the result of `generateText` can be parsed again and yields the same JSON:

[code]

[2019-10-15 13:22] jeromesimeon commented on #404
This might be an instance where the kind of "whitespace control" offered by Handlebars help: https://handlebars-draft.knappi.org/guide/expressions.html#whitespace-control

I'm still unsure whether there isn't a simpler way to provide for the right kind of whitespace behaviour without adding that level of complexity.

[2019-10-15 15:58] jeromesimeon commented on #425
Command changes:
- `generateText` -> `draft`
- `init` -> `initialize`
- `compile` / `generate` --> `compile`
- Ergo gets a new `draft` command (like Cicero)
- Cicero gets a new `get` command (like Concerto)
- CLIs with both `parse` and `draft` (Markus and Cicero) get a new command `redraft` for round-tripping

[2019-10-16 08:12] #438 closed

[2019-10-16 16:39] arshadkazmi42 opened #443 "Broken link in CONTRIBUTING.md"
Code of Conduct URL is broken in [CONTRIBUTING.md](https://github.com/accordproject/cicero/edit/master/CONTRIBUTING.md)

It is redirecting to https://github.com/accordproject/docs/blob/master/Accord%20Project%20Code%20of%20Conduct.pdf

I am sending a PR with this URL https://lfprojects.org/policies/code-of-conduct/

[2019-10-16 19:01] #443 closed

[2019-10-16 20:39] mttrbrts commented on #435
I vote for `logic`, `model` and `text`

[2019-10-16 20:45] Michael-Grover commented on #435
![image](https://user-images.githubusercontent.com/40569793/66957430-39312b00-f034-11e9-8177-34f4b1304749.png)

![image](https://user-images.githubusercontent.com/40569793/66957450-451ced00-f034-11e9-8b35-dbc1ec387a76.png)

Some ideas, feedback welcome

[2019-10-16 20:49] mttrbrts commented on #425
As per the working group call discussion, IMO:
- `redraft` should become `normalize`
- `invoke` should be removed from `ergo`
- `execute` should become `trigger`

[2019-10-16 21:04] jeromesimeon commented on #425
Comments from Technology Wg call:
- Unsure about `draft`
- People really do not like `redraft`, suggestions would be to move it back to an option (on `--parse` or `--draft`) or to rename it, e.g., to `normalize
- Confusion about `invoke` what it is and whether a better name could be used.
- `execute` has a very different legal meaning from the one here. It could be changed. e.g., `trigger`

[2019-10-16 21:06] irmerk commented on #435
@Michael-Grover this last one looks the best to me.

[2019-10-16 21:11] jeromesimeon commented on #435
Text confuses me a bit because I often make a distinction between `clause grammar` (the `.tem` or `.tem.md` file) and `clause text` (the `.txt` or `.md` file).

I would vote for `logic`, `model` and `language`.

I would be fine with all options (`text` / `language` / `grammar`)

[2019-10-16 21:12] jeromesimeon commented on #435
Addendum: 'Text` does look really good on the last figure @Michael-Grover posted.

[2019-10-16 21:13] irmerk commented on #435
Good point. I vote for either `language` or `text`.

[2019-10-16 21:14] mttrbrts commented on #435
@jeromesimeon Interesting. I see both clause grammar and clause text as belonging in the bottom-left bucket. One is parameterized text, the other is a textual instance of the template

[2019-10-16 21:16] Michael-Grover commented on #435
![AP diagram-01](https://user-images.githubusercontent.com/40569793/66959577-a8a91980-f038-11e9-952c-878bae27d7f4.png)

[2019-10-16 21:20] jeromesimeon commented on #435
@mttrbrts Interesting. That interpretation would make me lean toward placing the `sample.md` files in the `./text` directory. But either way, I think I am getting quite on board with `text`.

I would love to know how people would feel about the file names for the grammar itself? Would something like this make sense:
[code]
?

[2019-10-17 04:58] dselman commented on #435
I’ve also see “verbalisation” used for this sort of thing, though that’s a bit of a mouthful.

I like the idea of moving sample.txt/MD under the “text” folder, as it too, should be per locale.

I’ve also been considering having templates for more than just the contract model; for example a template for contract state would allow us to generate a text representation for display. A template for requ

[2019-10-17 21:16] jeromesimeon commented on #441
Fixed in master now.

[2019-10-17 21:17] #441 closed

[2019-10-17 21:18] jeromesimeon commented on #441
Duplicate of #353

[2019-10-17 21:18] jeromesimeon commented on #353
Fixed in master

[2019-10-17 21:18] #353 closed

[2019-10-21 15:15] AaronCGoidel commented on #389
@irmerk I've started creating a template, though it is midterm season so I'm a little backlogged. Feel free to open this back up in the meantime, anyone who has a little more time and thinks that they want to take a crack at this is totally free to do so. Sorry that I can't give this the attention it needs at the moment.

[2019-10-21 15:41] irmerk commented on #389
@AaronCGoidel no worries! Come to it when you have time and good luck on midterms.

[2019-10-21 19:21] jeromesimeon commented on #435
@dselman I really like the idea of having templates for other models (e.g., state/request/response) rather than just the contract or clause model, but it all feels a little too much to absorb for this release.

I feel there is quite a lot of support for using `./text` as the name in the triangle, so I would like to switch from `./grammar` to `./text` in the code and the documentation ASAP.

In add

[2019-10-21 21:06] irmerk commented on #435
@jeromesimeon I think this makes sense to me, I vote for it.

[2019-10-22 13:57] irmerk commented on #164
Anyone working on this, please see discussion and code in #426

[2019-10-23 17:35] Michael-Grover commented on #435
Does this require any changes to the graphic?

[2019-10-23 17:44] jeromesimeon commented on #435
@Michael-Grover Short answer:no. Details: This was only adjusting the template directory to match your graphic.

I personally love the graphic and it's already used in the documentation: https://docs.accordproject.org/docs/next/accordproject-concepts.html

My only question is whether it would be useful to have a variant of it without the project names (Cicero/Concerto, etc) on it. This could be de

[2019-10-23 19:20] dselman commented on #435
On t-shirts! ;-)

[2019-10-23 19:40] Michael-Grover commented on #435
@dselman  I'd love Accord Project logo T-shirts first :P . Peter told me we are waiting for funding from the Linux Foundation

[2019-10-24 22:10] jeromesimeon commented on #435
- This change has been implemented and is released in Cicero `0.20.0-beta.2`
- The proposed Diagram from @Michael-Grover aligns with that directory structure and is part of the documentation (for the upcoming released).

I'm closing this issue as resolved.

[2019-10-24 22:10] #435 closed

[2019-10-24 22:13] jeromesimeon commented on #435
This should be moved to #174

[2019-10-24 22:13] jeromesimeon commented on #174
This should be updated to reflect the new template directory structure from #435

[2019-10-25 14:52] jeromesimeon commented on #425
- I like `trigger`!
- I don't love `normalize` which to me doesn't mean much to either a lawyer or to a developer unless explained (and it doesn't relate to either `parse` nor `draft`). With that said, I don't have a better idea so I'll use that. (there was some push back about `roundtrip` on the Ergo call two weeks ago).
- if we remove `invoke` from `cicero` I feel it should be also removed from

[2019-10-25 15:00] jeromesimeon commented on #425
Additional question: should the API calls be renamed accordingly:

`TemplateInstance.generateText` -> `TemplateInstance.draft`
new `TemplateInstance.normalize`

`Engine.execute` -> `Engine.trigger`
`Engine.init` -> `Engine.initialize`
new `Engine.invoke`

[2019-10-25 17:01] jeromesimeon commented on #425
Summary of discussion on this, I will implement the following:
[code]

And I will update the API on the template instance and engine to reflect those commands.

[2019-10-27 23:54] lamqson commented on #197
I just tried it on 0.13.5. It still broken:
[code]

[2019-10-27 23:59] lamqson commented on #219
Sons-MacBook-Pro:cicero sonlam$ cat sample.txt
Name of the person to greet: "Fred Blogs".
Thank you!
Sons-MacBook-Pro:cicero sonlam$ cicero --version
0.13.5
Sons-MacBook-Pro:cicero sonlam$ cicero parse --template helloworld@0.11.1.cta --sample sample.txt
4:53:46 PM - error: invalid syntax at line 3 col 0:

  ^
Unexpected "\n"

Sons-MacBook-Pro:cicero sonlam$

[2019-10-28 13:25] jeromesimeon commented on #219
@lamqson This looks like a different issue to me? I'm suspecting you may have an extraneous new line in your sample? This issue was specific to `\r` which is carriage return and used as part of the new line on Windows platforms.

[2019-10-28 14:03] jeromesimeon commented on #197
@lamqson See my answer to that same comment in #219

You most likely have an extra new line at the end of your sample (some editors add new lines on save, so you may want to check the configuration for your editor as well).

[code]

[2019-10-28 17:48] lamqson commented on #219
@jeromesimeon: Thanks a lot for looking into it. I just use 'vi' to create the file. I don't see any extra \n ( I attach the file here). But I wonder the parser should be able to strip the characters? It is very hard for users to hunt for the invisible characters. Would you be able to add this request?

Best Regards,
[sample.txt](https://github.com/accordproject/cicero/files/3779968/sample.txt)

[2019-10-28 17:51] jeromesimeon commented on #219
This file ends with a new line `\n` character. The one I used ~above~ in the other issue(!) ends with a `!` character.

[2019-10-29 13:30] jeromesimeon commented on #425
The final, implemented proposal:

Command changes:
- `generateText` -> `draft`
- `init` -> `initialize`
- `execute` -> `trigger`
- `compile` / `generate` --> `compile`
- Ergo gets a new `draft` command (like Cicero)
- Cicero gets a new `invoke` command (like Ergo)
- Cicero gets a new `get` command (like Concerto)
- CLIs with both `parse` and `draft` (Markus and Cicero) get a new command `normalise

[2019-10-29 13:36] jeromesimeon commented on #425
This work is now completed, part of the upcoming `0.20` release.

[2019-10-29 13:36] #425 closed

[2019-10-29 13:38] jeromesimeon commented on #346
Implemented syntax uses: `{{% expression %}}` and is part of the `0.20` release. I'm closing this issue as done. Any other question or problems specific to dynamic templates support can be open as new issues.

[2019-10-29 13:38] #346 closed

[2019-10-30 07:17] mttrbrts opened #464 "Template.getDataAsComposerObject should be renamed"
**Describe the bug**
The JS API contains a method called `getDataAsComposeObject`. Given then Compose has now been deprecated, I propose renaming this to reference Concerto instead
.
https://docs.accordproject.org/docs/cicero-api.html#module_cicero-core.TemplateInstance+getDataAsComposerObject

[2019-10-30 07:22] mttrbrts commented on #464
Already fixed, in latest release!

[2019-10-30 07:22] #464 closed

[2019-10-30 19:16] jeromesimeon opened #467 "Cicero tests do not take into account the timezone when current time is set"
This test from https://github.com/accordproject/cicero-template-library/pull/299 succeeds on my local machine (and fails in travis):
[code]

but it shouldn't since the the current time is set to the `+00:00` timezone!

Cicero parse seems to be doing the right thing:
[code]

[2019-10-30 19:31] irmerk commented on #412
# Cicero v0.20 :butterfly:

### This release is a full redesign of the Accord Project template technology:

- Support for Rich Text annotations with Markdown
  - Based on [CommonMark][common]
- New syntax for templates variables
- A notion of _template blocks_
  - Handles structured data such as lists or complex objects
- A new notion of _dynamic templates_
  - Allows users to create text dynamica

[2019-10-30 21:08] jeromesimeon opened #466 "Revise Template metadata to only have one version number (Cicero+Ergo)"
The plan moving forward is to publish Ergo and Cicero in lock-step with the same version number. This makes the current metadata redundant. The suggestion is to consolidate into a single `version` field in the `accordproject` part of the `package.json`.

So to move from:
[code]
to:
[code]

Note: the `runtime` component is still important to distinguish between source archive (containing `ergo`) an

[2019-10-30 21:17] jeromesimeon commented on #467
Fixed in PR #465

[2019-10-30 21:17] #467 closed

[2019-10-30 21:32] dselman commented on #466
This reads to me like “accord project version” which is not what we want imo. How about ciceroVersion as the attribute?

[2019-10-30 21:34] jeromesimeon commented on #466
How about `cicero` since that's what we currently use. This definitely makes it easier to implement and easier for user migration!

(Thanks @dselman )

[2019-10-30 21:39] jeromesimeon commented on #466
Unless I hear otherwise, I will implement:
[code]
I suspect this means no code change (I am unclear we use the Ergo version number), but I will remove the `ergo` version from tests and templates, and add a mention in the migration guide. IMO this will reduce confusion.

[2019-10-31 01:45] jeromesimeon commented on #466
Small update on this:
- Removed `getErgoVersion()` API call on `Metadata` class
- Removed `ergo` version field in all `package.json`
- Now determines wether source or compiled archive through `getRuntime()` call

[2019-10-31 01:51] jeromesimeon commented on #466
Fixed in #468

[2019-10-31 01:51] #466 closed

[2019-11-01 12:36] #412 closed

[2019-11-01 14:38] jeromesimeon commented on #17
This could be best handled by adding a notion of `optional` block which would correspond to the `optional` type in Concerto. An example could look as follows:
CTO Model:
[code]
With the following block:
[code]

Note that the new notion of blocks and scoping make this very natural, and allows the template to distinguish between: presence or absence of the optional field, and *if present* to indicat

[2019-11-01 14:42] jeromesimeon commented on #17
This feature did not make it into `0.20` but should be relatively easy to add now that we have the block syntax support, and could be considered for `0.21`.

[2019-11-01 14:44] jeromesimeon commented on #20
We now have support for lists using blocks (tied to Markdown lists), either as: `{{#ulist}} ... {{/ulist}}` or `{{#olist}} ... {{/olist}}` in version `0.20`. I'm closing. Reopen if you disagree! (Or open a new issue if new feature needed).

[2019-11-01 14:44] #20 closed

[2019-11-01 14:45] jeromesimeon commented on #79
We now have support for markdown formatting, not just _inspired with_ but directly using CommonMark. Closing.

[2019-11-01 14:45] #79 closed

[2019-11-01 15:14] jeromesimeon opened #470 "Should CiceroMark support iterators blocks?"
### Iterators Blocks ❌

Eventhough you could use an Ergo expression for this feature, we could also support:
[code]

This would be sometimes easier to write/read and would enable parsing for arrays of complex objects.

[2019-11-01 15:14] jeromesimeon commented on #470
Issue inherited from #392

[2019-11-01 15:17] jeromesimeon commented on #16
This feature is supported through the new notion of conditional blocks in release `0.20`.
[code]

[2019-11-01 15:17] #16 closed

[2019-11-01 15:25] jeromesimeon opened #471 "Should CiceroMark allow clause import?"
From a syntax perspective, focused on the template grammar, here is a proposition for how to import a  Clause in a template, inspired by https://handlebars-draft.knappi.org/guide/#partials

[code]

[2019-11-01 15:25] jeromesimeon commented on #471
Issue inherited from #392

[2019-11-01 15:26] jeromesimeon commented on #471
Also related to Ergo issue https://github.com/accordproject/ergo/issues/202

[2019-11-01 15:28] jeromesimeon opened #472 "Should CiceroMark allow tables?"
### Tables ❌

_Note: This is a very tentative part of the proposal_

[code]

Those are rendered as markdown. From:
[code]
to
[code]

[2019-11-01 15:29] jeromesimeon commented on #472
This issue is inherited from #392

[2019-11-01 15:31] jeromesimeon opened #473 "Should CiceroMark allow comments?"
Comments can appear in templates and affect neither the contract text, nor the parsing.

Here is a proposal inspired by https://handlebars-draft.knappi.org/guide/#template-comments
[code]

[2019-11-01 15:31] jeromesimeon commented on #473
This issue is inherited from #392

[2019-11-01 15:37] jeromesimeon opened #474 "Should CiceroMark allow for whitespace control?"
It is sometimes convenient for readability to add non-significant whitespace around blocks markup. So instead of writing:

[code]

one might want to write:
[code]

But by default, this will interact with formatting and generate whitespace in the contract which may result in different rendering. Here is a proposal for how to add/control such whitespace based on https://handlebars-draft.knappi.org/g

[2019-11-01 15:38] jeromesimeon commented on #474
This is an issue inherited from #392

[2019-11-01 15:40] jeromesimeon commented on #392
This proposal has been implemented as part of release `0.20`. Specific features that did not make the `0.20` but could be of interest have been opened as new issues. I'm closing this.

[2019-11-01 15:40] #392 closed

[2019-11-03 20:27] jeromesimeon opened #476 "cicero archive creates an empty grammar directory"
**Describe the bug**
`cicero archive` creates a `cta` file which includes an unneeded (and empty) `grammar` directory:

**To Reproduce**
[code]

[2019-11-03 20:33] jeromesimeon commented on #476
Fixed in #477

Test run:
[code]

[2019-11-03 20:41] jeromesimeon opened #478 "CTA archives should include cucumber tests if available"
**Is your feature request related to a problem? Please describe.**
Many Cicero Templates come with cucumber tests to validate/test the template. When packaging that template, it might be useful to include those tests so a third party would be able to run them as well.

**Describe the solution you'd like**
Include `test/*feature` files in the CTA archive. This might be under the control of some opt

[2019-11-03 20:43] jeromesimeon commented on #476
Fixed in #477

[2019-11-03 20:43] #476 closed

[2019-11-04 14:41] JSv4 opened #479 "Build a List of Variable Names From Just a Cicero Template"
Hi All,

Love the project and see a lot of promise in it. This is a feature request I'm submitting after a conversation I had on Accord with Matt and Jerome. There's no bug here, just a feature request.

Basically, I'm imagining a set of features to make creating a full Accord template from just the natural language Cicero templates easier. One of these would be a feature to parse just the Cicero

[2019-11-04 14:56] jeromesimeon commented on #479
Just a few (not very organized) thoughts on this issue:

- For reference, the following issue includes some  discussion along the lines of "type annotations inside the grammar". https://github.com/accordproject/cicero/issues/162

- At the moment, there is very little that would work without at least a model for the grammar variables, so this will require a bit of design work and evaluating how thi

[2019-11-04 16:25] mttrbrts commented on #479
Some other thoughts:
- Templates will parse successfully without any logic files. (Try this template after deleting `logic.ergo`, https://github.com/accordproject/cicero-template-library/tree/master/src/empty)

- The template loader throws an exception if there isn't a template model. https://github.com/accordproject/cicero/blob/68a9cdea0f1d3ef322e1bb244c84dda563c551bd/packages/cicero-core/src/tem

[2019-11-06 06:13] JSv4 commented on #479
@mttrbrts and @jeromesimeon , I've fleshed out an initial solution here and was hoping you might have some thoughts on the best way to proceed.

Within parsermanager in the cicero-core, I created two methods:

1. **parseGrammarVariables( )** - a recursive method that takes the .data field of the nearley parser result and converts the various detected binding chunks into JSON objects of the form

`

[2019-11-06 08:57] dselman commented on #479
This is looking promising!

Here is some test code I wrote while thinking this through:

[code]

This programatically creates a template in memory and attempts to parse the grammar to create the AST. If you remove the `o String author` from the model you will see that the template in now invalid, and grammar generation fails with the error:

[code]

When the template is valid the test outputs:

[c

[2019-11-06 09:35] mttrbrts opened #480 "Join and Else blocks aren't in the parser"
**Describe the bug**
As reported in #479 by @JSv4.
Despite being in the documentation, the current 0.20 parser doesn't include tokens for `else` blocks and `join` blocks.

**To Reproduce**
Attempt to parse the attached template.

As a temporary measure, I'm going to remove these items from the documentation.

Rename to `elseblock.cta` [elseblock.zip](https://github.com/accordproject/cicero/files/3

[2019-11-06 09:36] mttrbrts commented on #479
FYI @JSv4  I've opened a dedicated issue (#480) specifically for the parser problems.

[2019-11-06 14:17] JSv4 commented on #479
Thanks @mttrbrts . Wanted to make sure that wasn't just a me thing before reporting it.

I'd be happy to join the wg call, @dselman
. Unfortunately, I'm tied up until 4:30 NYC time. I could join then if it's still going. The details usually circulate on Slack, right?

[2019-11-06 14:34] dselman commented on #479
That works. Yes, the link to the Zoom meeting will be on Slack.

[2019-11-06 15:41] jeromesimeon commented on #480
Glaring bug in the release. Thank @JSv4 for the report. I'm taking this one, unless you're already looking at it @mttrbrts ?

[2019-11-06 22:31] dselman commented on #479
Thinking this through some more, here is an API approach that I think can work.
1. We add a new static method `Template.fromText(name, version, temFileText)`
2. This method creates a new Template, and creates a default readme, package.json based on name and version. It then calls a new method, below...
3. Add a new instance method on template `updateTemplateModelFromText(text)`
4. This method pars

[2019-11-06 22:33] jeromesimeon commented on #480
Looking into this. It seems the attached sample does not have an else block:
[code]

Here is one that shows the problem:

[elseblock.zip](https://github.com/accordproject/cicero/files/3817018/elseblock.zip)

[code]

[2019-11-06 22:59] jeromesimeon commented on #479
Couple more data points:
- The bigger case to distinguish is between `String` `Integer` and `Double`.
- `Boolean` variables can be inferred from `{{#if}}...{{/if}}` blocks
- `parse` and `draft` will likely not work if any of the inferred types are not correct. What will the user test with?

[2019-11-07 03:14] dselman commented on #479
Once we have a Nearly grammar we can use it to generate a sample using the Nearly API.

[2019-11-07 10:40] dselman commented on #479
I am working on a new Concerto feature to save the `ModelManager` as a set of CTO files to support this:
https://github.com/accordproject/concerto/issues/153

[2019-11-07 18:44] jeromesimeon commented on #480
With PR #481 :
[code]

Also works  on the else clause, and returns a parse error if neither text matches:
[code]

[2019-11-07 18:46] jeromesimeon commented on #480
Here is a join block sample, added as part of the tests:
[block-join.zip](https://github.com/accordproject/cicero/files/3821198/block-join.zip)

Trace:
[code]

[2019-11-07 19:08] jeromesimeon commented on #480
A fix is in! #481

[2019-11-07 19:08] #480 closed

[2019-11-07 19:46] jeromesimeon commented on #479
Hi @JSv4,

...

I have a fix in for those parser bugs. I'll do a `0.20.1` release (most likely tomorrow). But in the meantime, if you would like to test is, it is available in `@accordproject/cicero-core@0.20.1-20191107191813`

I had to refactor/cleanup the parser code a bit, and this will affect your code since you rely on AST node information. Most specifically, in your code below:

`BooleanBind

[2019-11-08 01:16] JSv4 commented on #479
Thanks, @jeromesimeon. Will give it a shot tonight and try to pick this up. @dselman, I will explore your suggested Template.fromText() approach and keep in mind the work you're doing on Issue 153.

[2019-11-08 16:52] jeromesimeon commented on #479
Great @JSv4 Thanks for confirming! This fix is now officially in Cicero `0.20.1`.

[2019-11-09 04:19] JSv4 commented on #479
@jeromesimeon awesome! Saw the announcement. Making good progress on being able to create a model file. Going to do some more tweaking this weekend.

[2019-11-11 05:04] JSv4 commented on #479
@jeromesimeon , made a lot of progress on this. I am able to generate model files for fairly complex templates that look right to me. The code is a bit of a mess of recursive methods that is inefficient and needs cleanup, but I'm optimistic I am close to a reasonably robust solution that I can optomize next. I keep running into an apparet syntax error when trying to use the generated models, howev

[2019-11-11 07:06] dselman commented on #479
Please create a new issue on Cicero for that and attach the zip of the cta file so we can debug. Thanks!

[2019-11-15 17:30] jeromesimeon opened #487 "Add Accord Project Tag to Cicero generator"
The Cicero template generator creates a `README.md` for generated templates. Once we have an approved/agreed upon "Powered by Accord Project" badge, it would be nice if the Cicero generator automatically includes it in the `README.md`

See: https://github.com/accordproject/techdocs/issues/81

[2019-11-18 05:34] JSv4 commented on #479
@dselman and @jeromesimeon , good news! Got this working. I can generate a model, logic file and sample data for a fairly complex template and everything seems to be working nicely. If you guys have a  second, I was hoping you could answer a few questions about Cicero Mark so I could make sure I'm testing the full gamut of template variable reference.

Specifically:

1. Do lists have to refer to c

[2019-11-18 17:58] jeromesimeon commented on #479
That's great news! I'll be excited to see it in action!

At the moment yes. You have to wrap every level in concepts. This limitation could be lifted if we added a new special variable like `this` for the current item in a list for instance.

Currently only date/time. See https://docs.accordproject.org/docs/markup-variables.html#primitive-types-with-a-format

Sure! We can review the details better

[2019-11-25 02:11] JSv4 commented on #479
@jeromesimeon, you can ignore my earlier comments :-). It was, unsurprisingly, something I was doing wrong.

I'm am almost done testing this. It's working nicely and I can generate entire CTO packages from a single templatized grammar.

I am running into a slighlty odd thing that I think is an error with template studio. I was going to submit an issue but looks like you guys are well on your way t

[2019-11-27 19:14] DianaLease opened #489 "Determination of whether a clause is stateful is confusing"
**Describe the bug**
`getStateTypes()` returns `org.accordproject.cicero.contract.AccordContractState` for clause templates that do not utilize state

**Expected behavior**
The distinction between stateful and stateless clauses should be more clear.

[2019-11-27 20:02] jeromesimeon commented on #489
Good issue! But I think the description is a bit misleading. At the moment *every* clause is stateful, in the sense that there is no way to know if the state will or will not be change unless by looking at the logic for that clause (i.e., does it use `set state` or not).

It would be nice if the contract type or clause type was able to make that distinction.

This is a bit similar to the issue ope

[2019-11-27 20:06] jeromesimeon commented on #489
For the sake of argument, here is a contract which is stateful *and* for which `getStateTypes()` returns `org.accordproject.cicero.contract.AccordContractState`

[code]

With the corresponding execution:
[code]

[2019-12-06 11:51] dselman opened #493 "Request CTO validation is not working"
**Describe the bug**
It is possible to send an invalid request (with respect to the CTO model) and have the Ergo execute.

**To Reproduce**
1. Download the attached CTA
2. Using the attached request and state
3. `cicero execute --request monthlysales-invalid.json --state state.json`
4. Note that execution succeeds, when it should fail

**Expected behavior**
The execution should fail because `sales

[2019-12-06 12:56] jeromesimeon commented on #493
Validation seems to be triggered, so it might be down to Concerto. If can attach the archive, it would be helpful for reproducing in your context.
Below is a run on the promissory notes template. The last example is a String value instead of a Double which does not raise the expected validation error.
[code]

[2019-12-06 13:02] jeromesimeon commented on #493
Same behaviour in Concerto:
[code]

[2019-12-06 13:06] jeromesimeon commented on #493
Cicero `0.13.5` was based on Composer Concerto `0.71.6` before it was moved to the Accord Project.

[2019-12-06 13:12] jeromesimeon commented on #493
Concerto uses `parseFloat` which returns `NaN` on something that is not a double (e.g., "Foo").

https://github.com/accordproject/concerto/blob/2c0b62a8638da0f2c8876b176d0f8e7f8f2d9e97/packages/concerto-core/lib/serializer/jsonpopulator.js#L229

[code]

[2019-12-06 13:25] jeromesimeon commented on #493
I'm moving this issue to Concerto.

[2019-12-11 20:22] jeromesimeon commented on #296
This can actually be handled in Cicero `0.20` in two ways:
- As an Ergo Expression in CiceroMark: `{{% product.name %}}`
- As a With block in CiceroMark: `{{#with product}}{{name}}{{/with}}`

Those are not entirely equivalent since the latter can also be parsed.

I would love feedback from @dselman or @HamidMoutawakkil about whether this is good enough to support their usecase(s).

[2019-12-11 20:24] jeromesimeon commented on #262
@roysjosh Any update on this? Last time I had seen an update it looked almost completed?

[2019-12-11 22:09] roysjosh commented on #262
I'll go ahead and open a PR here so it can be reviewed.  I'm waiting to hear back on my latest changes for digitalbazaar/forge#706.

[2019-12-11 22:10] jeromesimeon commented on #262
Sounds great!

[2019-12-16 15:41] jeromesimeon opened #499 "Cicero should check that the template version is a valid semver"
**Describe the bug**
Each Accord Project template has a version number that is assumed to be a valid semver (https://semver.org).

Currently the check for valid semver uses a coercion on the version for both Cicero and the template:

https://github.com/accordproject/cicero/blob/c348ab2ae36ee70c43cb0d26402450d7517a3e26/packages/cicero-core/src/metadata.js#L79-L86

This does not update the versions

[2019-12-16 15:42] jeromesimeon commented on #499
Proposed resolution: make the check in Cicero stricter and remove the semver coercions in the code in the issue description.

[2019-12-16 15:51] jeromesimeon commented on #499
Addendum: for the `cicero` version, it should check that this is a valid semver *range* not a valid semver version. I.e., it should allow `0.20.0` or `^0.20.0` but not `^foo`.

[2019-12-18 20:45] jeromesimeon opened #501 "Cicero 1.0 Goals and Feature List"
- Parser Refactoring and Testing (Handling for Whitespace, escaping,...)
- CiceroMark features review (tables, foreach, comments...)

[2019-12-19 02:41] lidenghui92 opened #503 ""Error in if (sum (dist_mat> distance_constraint) / 2 <1)" is reported when running Cicero"
hello,
       I am currently running an R script with Cicero loaded, but I get an error when running Cicero, as follows：
###############################
[1] "Starting Cicero"
[1] "Calculating distance_parameter value"
Error in if (sum(dist_mat > distance_constraint)/2 < 1) { :
  missing value where TRUE/FALSE needed
Calls: doCicero_gascore ... estimate_distance_parameter -> find_distance_parameter

[2019-12-19 02:53] jeromesimeon commented on #503
@lidenghui92 I'm wondering if you have the correct project. Do you mean: https://cole-trapnell-lab.github.io/cicero-release/docs/ ?

[2019-12-19 03:17] lidenghui92 commented on #503
thank you  a lot. I just test the scATAC-pro pipeline:(https://github.com/wbaopaul/scATAC-pro) .The problem described above happend, we try to solve it,but we have no way,so we need your help a lot,thanks for your response.

[2019-12-19 03:36] jeromesimeon commented on #503
I don't know either of those, this GitHub repository is for the Cicero package which is part of the accord project (https://docs.accordproject.org). If you're using R you are most likely using this other library with the same name in the link above.

[2019-12-19 05:57] lidenghui92 commented on #503
ok, Thank you for your suggestion, thank you again.

[2019-12-19 14:29] #503 closed

[2019-12-20 15:43] dselman opened #504 "Allow caller to specify clause/contract id used for parse"
Today, when you call `Template.parse` with some text the JSON returned includes a generated UUID.

**Describe the solution you'd like**
Allow the caller to pass an id into `parse` which will be assigned to the JSON.

**Additional context**
The results of parse often have to be stored in application specific maps or key-value stores. Allowing the client to control the id on the generated JSON makes

[2020-02-03 16:17] jeromesimeon opened #506 "cicero normalise does not obey the --wrapVariables flag"
**Describe the bug**

`cicero normalize --wrapVariables` does not work as expected. It does not wrap variables in XML tags.

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the late delivery and penalty clause of the template library (or any other template)
2. Run `cicero normalise --wrapVariables`
3. It does not wrap variables in XML

[2020-02-04 03:25] jeromesimeon commented on #506
Fixed in PR #507

Local test:
[code]

[2020-02-04 03:25] #506 closed

[2020-02-17 22:00] jeromesimeon opened #508 "Align Cicero Server API with Cicero CLI"
**Is your feature request related to a problem? Please describe.**
Cicero server only supports a single version of the `cicero trigger` call through the `/trigger` endpoint. It might be interesting to extend the cicero server API to the rest of the commands (e.g., `draft` `invoke` `parse`).

Other improvements could include the ability to pass or create the template from a string (binary encoded)

[2020-02-20 20:13] adrijshikhar commented on #508
i would like  to work on this issue.

[2020-02-20 20:47] jeromesimeon commented on #508
that's great! I think there might be already some work being done by @martinhalford though, so this may need some coordination.

[2020-02-20 21:04] martinhalford commented on #508
Hi Ardrij,
I'm about to submit a PR today but very happy to see what you do and we can take the best approach.
Cheers,
...Martin

[2020-02-20 21:06] jeromesimeon commented on #508
An initial PR would be great. We can then refine and there will likely be some follow up work in extensions / testing / documentation.

[2020-02-21 01:12] martinhalford commented on #508
Pull request submitted.  I've implemented /draft and /parse.  If anyone wants to have a crack at the other commands (e.g. /invoke) then go for it.

[2020-02-24 18:29] shashikant231 commented on #487
hello.can i take up this issue?
thanks!!

[2020-02-24 18:32] jeromesimeon commented on #487
This issue only makes sense after https://github.com/accordproject/techdocs/issues/81 has been resolved.

[2020-02-29 09:16] dselman commented on #404
Can we close this now @jeromesimeon ?

[2020-03-01 14:17] kanav-raina opened #511 "protocol spelling mistake in Ecosystem>>Core libraries:>>cicero>>cicero-engine"
![protocol_in_cicero](https://user-images.githubusercontent.com/29794748/75646256-0a2bf680-5c6f-11ea-98e6-f49810a1a42c.png)

[2020-03-02 04:56] kanav-raina commented on #511
Updated

[2020-03-02 04:56] #511 closed

[2020-03-02 20:53] jeromesimeon commented on #389
@AaronCGoidel Any progress on this?

[2020-03-04 04:05] martinhalford opened #514 "Make Cicero Server API data folder location more variable."
**Is your feature request related to a problem? Please describe.**
The Cicero Server API accepts three core blocks of information when processing requests.  These are:
1. Template - The template folder, including /model, /text and /logic sub-folders etc.
2. Data - The data passed in either as a markdown file or a JSON file.
3. Request - The template request as JSON passed in via the HTTP POST body

[2020-03-04 09:12] mttrbrts commented on #514
@martinhalford This sounds good, although I'm open to more radical ideas to change the signature of this service. Originally, this was only really built as a proof of concept, I'm sure that there are much better designs?

[2020-03-04 10:48] martinhalford commented on #514
Hi @mttrbrts, I'm open to more radical ideas too. Happy to think about ways to enhance this package. However, adding an extra environment variable is a quick and easy change that does the job.  I've made the change to my fork and can create a pull request if people want me to - once @jeromesimeon has accepted the previous pull request! :-)

[2020-03-04 10:54] mttrbrts commented on #514
Great! Yes all changes are welcome, this sounds like a fair incremental improvement

[2020-03-04 15:49] jeromesimeon commented on #508
Thanks! I've merged it.

I'm leaving this issue open for now, as I think there could be further improvements as mentioned in comments.

[2020-03-13 13:37] jeromesimeon commented on #389
@mttrbrts I'm looking at this as well right now. Currently I'm only focused on formatting, adding the following kind of support in Cicero: `{{amount as "FORMAT"}}` where format could be along the lines of what we have for date and time.

I actually like the idea of being able to specify the format including the currency code. It could look along those lines (For a sample monetary amount `MonetaryA

[2020-03-13 13:43] mttrbrts commented on #389
Dinero is very small, 9.8Kb https://bundlephobia.com/result?p=dinero.js@1.8.0,

I suggest that we adopt exactly the same format, we should even propose changes upstream if we want to extend the format. The repo seems very active

[2020-03-13 13:45] jeromesimeon commented on #389
Possibly useful details on symbols, not sure how authoritative this is. https://en.wikipedia.org/wiki/Currency_symbol

[2020-03-13 13:46] jeromesimeon commented on #389
One of the questions when taking up a library like this is how portable this is (we would have to re-implement some of it in e.g., Java or WASM or ...).

[2020-03-13 13:46] mttrbrts commented on #389
Also see this note:

https://dinerojs.com/module-dinero#~toFormat

We may be able to do what we want natively. Even more reason not to deviate

[2020-03-13 13:48] jeromesimeon commented on #389
Another caveat: I think this means the output format will be US(?) centric until we have proper localisation support in Cicero.

[2020-03-13 14:22] jeromesimeon commented on #389
@mttrbrts Another consideration: whatever format we support we have to be able to parse as well.

[2020-03-13 15:24] jeromesimeon opened #519 "Embedding Ergo Scripts / Ergo inside CiceroMark conditional template variables"
From @martinhalford

## Embedding Ergo Scripts:

At the moment, Ergo scripts within contracts are standalone.  It's not possible to embed variables within scripts that expect strings only.

For example, it's valid to have:

`{{#if sellerPrice}} It's true! {{else}} Nope, it's not true.{{/if}}`

but you can't have...

[code]

or embedded expressions...

[code]
This would significantly improve the so

[2020-03-13 15:28] jeromesimeon opened #520 "Should CiceroMark Support optional variables?"
## Support for "optional" in Concerto

The Concerto modeling language supports `optional` properties in types, which is great, as sometimes not all parameters in an agreement are mandatory.

At the moment, if a property is designated as `optional` then the Cicero parser ignore it.  An error is then thrown claiming that the property is missing.

It would be great if Cicero parser could support opti

[2020-03-13 15:29] dselman commented on #520
This sounds like a regression. I'm pretty sure the parser generator used to handle optionals:
https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/grammarvisitor.js#L198

[2020-03-13 15:36] jeromesimeon commented on #520
This isn't related to parsing for optional, only the constraints for the new `{{#with}}...{{/with}}` block.

The current parsing/drafting for optional values should work but will not allow for custom text for those variables.

The way I understand the issue is the ability to write something like:
[code]

[2020-03-13 15:42] dselman commented on #389
I would also look at MS Excel and Google Sheets for inspiration for formatting strings.

https://support.office.com/en-us/article/review-guidelines-for-customizing-a-number-format-c0a1d1fa-d3f4-4018-96b7-9c9354dd99f5

https://developers.google.com/sheets/api/guides/formats

[2020-03-13 15:45] jeromesimeon commented on #520
The current optional parsing works, but I am getting another kind of error (which may be a regression, I'm actually unsure).

For the model:
[code]

And the template:
[code]

And the `sample.md` text:
[code]

It parses correctly:
[code]

But for an empty address:
[code]

I get:
[code]

This should be filed as a separate bug I think.

[2020-03-13 15:47] dselman commented on #389
The Unicode CLDR is also a good reference:
https://github.com/globalizejs/globalize

Browser support for locale specific formatting (but no parse!)
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat

[2020-03-13 16:04] jeromesimeon opened #521 "Parsing for optional complex classes fails"
The current optional parsing does not work for missing optional complex types.

For the model:
[code]

And the template:
[code]

And the `sample.md` text:
[code]

It parses correctly:
[code]

But for an empty address:
[code]

I get:
[code]

This should be filed as a separate bug I think.

[2020-03-13 19:19] martinhalford commented on #389
Don't think we can launch with US format support only. Would need some workaround for local currencies.

[2020-03-14 03:18] martinhalford commented on #521
Just for completeness, the error also occurs if the `optional` simple types too, not just complex types.

For example, if you do the following:
1. Download the  `LateDeliveryAndPenaltyContract` from the Accord Template Library,
2. Add `optional` to the ` o Duration penaltyDuration optional` in the `asset LateDeliveryAndPenaltyContract` within `model.cto`, and then
3. Remove the `penaltyDuration` f

[2020-03-14 03:29] martinhalford commented on #521
Similarly, if you do the following:
1. Add the `o String DummyText` to the `asset LateDeliveryAndPenaltyContract` within `model.cto`, and then,
2. Add `{{DummyText}}` somewhere in the `grammar.tem.md`, and then
3. Add `"Some dummy text"` somewhere in the `sample.md`, and then
4. Execute `cicero parse --template ./ --sample ./text/sample.md`, and then
5. All good! :-)
6. Now delete the "Some dummy

[2020-03-14 03:33] martinhalford commented on #520
Hi Jerome, I think this bug occurs for simple types too - like `String`.  I have added some comments to https://github.com/accordproject/cicero/issues/521 with steps to reproduce.

[2020-03-14 05:21] dselman commented on #520
In this example did you make DummyText optional?

[2020-03-14 08:46] martinhalford commented on #520
Hi @dselman,
Yes, the DummyText was optional.
[code]
See  details in https://github.com/accordproject/cicero/issues/521
See also attached, .CTA (as .ZIP archive)

[ldp-optional-dummy-text.zip](https://github.com/accordproject/cicero/files/4332423/ldp-optional-dummy-text.zip)

[2020-03-16 21:10] jeromesimeon opened #523 "Performance and Memory footprint for template loading"
It seems like the memory footprint for loaded templates is massive. This needs investigation. Hopefully there should be something relatively obvious we can do to fix that.

To test:
1. compile acceptance and delivery and late delivery and penalty using `cicero archive --target cicero`
2. Run the following script in `./cicero-template-library/src` (after renaming it to `./test.js`)

[test.txt](http

[2020-03-17 12:41] mttrbrts commented on #523
Some initial findings:
- The large memory usage appears to be due to storing the `grammarAst` in the `parserManager`.
- It's possible that our grammar could be optimized to reduce the size of this
- Removing `this.grammarAst` and compiling and creating the parser on demand reduces the memory requirement for each template by ~50MB (needs thorough analysis to confirm figures)
- The performance overh

[2020-03-17 19:05] ankingcodes commented on #508
@jeromesimeon I would like to implement the other commands , if this issue is available 👍

[2020-03-17 21:04] algomaster99 commented on #499
@jeromesimeon Is there anything left in this issue? I am asking since I see your pull request (#500 ) here.

[2020-03-17 21:06] jeromesimeon commented on #499
That's a good question. I don't think so -- I may have left it open at the time since it was pushed to a branch. I need to double check if this properly made it to the `release-1.0` branch.

[2020-03-17 21:14] algomaster99 commented on #423
@jeromesimeon I would like to give this a try. :)

[2020-03-17 21:18] algomaster99 commented on #240
@jeromesimeon I would like to give this a try. :)

[2020-03-17 21:19] jeromesimeon commented on #240
There hasn't been any progress on this. It's yours @algomaster99  !

[2020-03-17 21:24] jeromesimeon commented on #499
https://github.com/accordproject/cicero/commit/d112bc6dfdc596dc3d44362670702ef605c9b64e

I think it'll be released eventually. I'm closing this.

[2020-03-18 10:12] mttrbrts commented on #523
Update: I must have done something wrong in my original test, that compilation overhead was suspiciously low. Here are some slightly more rigorous test outputs.
Average computation time for `Clause.parse` averaged across 100 sequential test runs:

| Parser Type | Template | Parse Time|
|---|---|---|
| Compiled on demand | Acceptance of Delivery | 104.3ms |
| Compiled on demand | Late Delivery and

[2020-03-19 07:55] algomaster99 opened #524 "Undefined `sample` flag in the subcommand `compile`"
**Describe the bug**
I tried to generate code using
[code]
But unfortunately, it throws an error `error: A text/sample.md file is required. Try the --sample flag or create a text/sample.md in your template`.
But reading the [documentation](A text/sample.md file is required. Try the --sample flag or create a text/sample.md in your template) and the code, I noticed that this subcommand doesn't have

[2020-03-19 13:59] jeromesimeon commented on #524
Good catch. Thanks @algomaster99

[2020-03-19 14:00] jeromesimeon commented on #524
I am not sure why we aren't using the sample in the template when passing an archive (TODO: double check whether the sample is mandatory in a template).

[2020-03-19 16:37] algomaster99 commented on #524
@jeromesimeon Logically it shouldn't be, right?

[2020-03-21 15:10] jeromesimeon commented on #240
What should the proper internal representation for an image in JavaScript?

I am suspecting it shouldn't be a string. Should it be instead:
- a buffer object?
- a `Blob` object?
- an `Image` object? https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Using_images

If we need manipulation of the image (or even simply know the image size) do we need support for a library. e.g., http

[2020-03-21 15:14] jeromesimeon commented on #240
Another open question: should the logo file be part of the hash calculated for the template?

[2020-03-21 15:23] jeromesimeon commented on #240
@Michael-Grover is there a logo for Accord Project templates that you would like? (Probably should be added to the templates in the library once the  functionality is in place).

Would the `256x256` proposed size be right (e.g., if we want to use it on the template library Web site somewhere, or in the template library component in Cicero UI)?

[2020-03-21 20:32] algomaster99 commented on #240
@jeromesimeon

Can you tell the point of calculating hash? :sweat_smile:

[2020-03-22 14:56] jeromesimeon commented on #240
It's a way to uniquely identify the content of the template (can be used to do sanity checks on downloads for example).

[2020-03-23 18:26] Michael-Grover commented on #240
![Accord](https://user-images.githubusercontent.com/40569793/77349787-eb6ecc00-6d11-11ea-8516-81bc7ff5bdc9.png)
@jeromesimeon how's this?

256x256 seems really big. What applications might we use for the logo that are 256 x 256, or 128 x 128 on a retina screen?

[2020-03-24 17:11] jeromesimeon commented on #389
PR in #527 supports the following formats for amounts (of type `Double`):

[code]
Where `x` and `y` is any individual character. `x` (resp. `y`) is used as delimiter between every digits in the whole number part (resp. delimiter between the whole number part and the decimal part).

The number of `0` after the second separator is used to determine the number of digits kept in the fractional part of

[2020-03-24 17:34] dselman commented on #389
Awesome. Great work.

[2020-03-26 19:41] algomaster99 opened #529 "`template.hasLogic()` returning `true` even if template has no logic"
**Describe the bug**
`template.hasLogic()` returning `true` even if a template has no logic.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a template without a logo in it.
2. `console.log` its `template.hasLogic()`
3. The output is `true`

**Expected behavior**
Since the template has no logo, it should return `false`.

**Screenshots**
If applicable, add screenshots to help explain y

[2020-03-26 19:44] jeromesimeon commented on #529
This is an (unnoticed) artefact of the `0.20` in which the template grammar gets compiled to JavaScript using the Ergo compiler to support the new `TemplateInstance.draft` API call.

This should be changed to properly return `false` for templates without _execution_ logic.

Note: I don't think this call is used anywhere at the moment, but could be important to support "design model" in Cicero UI.

[2020-03-27 10:35] MartaCeprini opened #530 "Dynamic url in templates"
Hi there, I have an issue regarding the possibility to add dynamic urls in templates.
I mean: could I have in sample.md an image or a link rendered as ![Image](http://www.example.com/sample.png) and in grammar.tem.md the same reported as ![Image]({{pictureUrl}}) where pictureUrl is a variable defined in clause model.cto?
Thanks!

[2020-03-27 15:30] jeromesimeon commented on #240
Summer of some fact-finding for png files size.

How to determine that the file is PNG:
- Specification: http://www.libpng.org/pub/png/spec/1.2/PNG-Rationale.html#R.PNG-file-signature
- Sample code: https://github.com/arian/pngjs/blob/c1a2f5852686a22229f5f3154f974011162b5263/PNGReader.js#L80

How to determine the size:
- `image-size` support "fried png" but I don't think we have to. See: http://ww

[2020-03-27 15:38] jeromesimeon commented on #530
@MartaCeprini The images (I'm assuming they were images) seem to be missing. Could you please update the issue. It's difficult to understand what you are asking.

A concrete example would help as well (maybe it was in those images?). Feel free to also copy code sample using GitHub markdown if easier.

[2020-03-27 15:40] jeromesimeon commented on #530
Did you try:

[code]

?

[2020-03-27 16:02] MartaCeprini commented on #530
Yes

[2020-03-27 16:03] algomaster99 opened #531 "Changes in timezone are not handled in parsing dates"
**Describe the bug**
`dateTimeProperty` is not being parsed correctly and in accordance with timezone changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the full test suite of `cicero`

**Expected behavior**
The following tests should have passed
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04

**Additional Context**
https://github.com/accordpro

[2020-03-27 16:08] algomaster99 opened #532 "#getTemplateIndex of TemplateLibrary test suite failing"
**Describe the bug**
#getTemplateIndex of TemplateLibrary test suite failing

**To Reproduce**
Steps to reproduce the behavior:
1. Run the full test suite of `cicero`.

**Expected behavior**
The following test should have passed:
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04

**Additional context**
https://github.com/accordproject/cicero/pull/525#issuecomment

[2020-03-27 16:17] jeromesimeon commented on #532
To clarify: it looks like it is failing as expected but with a different message, is that correct?

[2020-03-27 17:00] algomaster99 commented on #532
@jeromesimeon yes, you are corr

[2020-03-30 20:24] jeromesimeon opened #534 "Template authorship"
We do not currently specify a means to indicate template authorship. We do use the `author` field in the `package.json` in the Accord Project template library.

Should we document this as the official way to specify who wrote the template. Should this include any additional information (like email).

Should a similar strategy be used to license information.

Should any of those become mandatory.

[2020-03-31 10:31] algomaster99 commented on #531
[code]
I think this part of the code isn't able to handle timezone changes. It is not converting the time parsed correctly.

[2020-04-01 04:35] jeromesimeon commented on #530
Could you please clarify?

[2020-04-01 06:05] MartaCeprini commented on #530
Hi Jerome, I try to clarify.
Say I have the following model:

[code]

and followings sample.md and grammar.tem.md:

sample.md
[code]
grammar.tem.md
[code]
When I try to parse the contract the error I get is
[code]
while if I try to pass the url like a string, I mean `![Sample]("sample.png")` in sample.md, the error is
[code]
Is there a way to make it compile?
Thank you.

[2020-04-01 06:08] MartaCeprini commented on #530
The image is a simple one, just a png placed in text folder of contract, this is the one I've choosed.
![sample](https://user-images.githubusercontent.com/52523682/78104754-fdc2c700-73ef-11ea-9b5c-ed7a8d6008fb.png)

[2020-04-01 13:17] jeromesimeon commented on #530
Hi @MartaCeprini this is helpful thanks! I think I know why this isn't working (essentially due to some interaction between markdown normalization and the parser).

Not sure it I have an immediate workaround, but I'll keep you posted if I think of anything or if I manage to get a fix in for this.

[2020-04-01 15:09] jeromesimeon commented on #534
Fixed in #536

[2020-04-01 15:09] #534 closed

[2020-04-01 15:10] jeromesimeon commented on #532
@algomaster99 I think this should now be fixed in master through #534 Would you be able to check on your setup?

[2020-04-01 15:11] jeromesimeon commented on #240
Fixed by @algomaster99 and merged in #533 with some additional fixes in #535

[2020-04-01 15:11] #240 closed

[2020-04-01 15:15] jeromesimeon commented on #487
Fixed in #535

[2020-04-01 15:15] #487 closed

[2020-04-01 22:09] algomaster99 commented on #532
@jeromesimeon Yes! This test passes now :) Can you please summarize what was going wrong?

[2020-04-01 22:09] #532 closed

[2020-04-01 22:10] jeromesimeon commented on #532
The error is an internal http error, simply the behaviour for this is slightly different on your Linux machine and on MacOS (and possibly on Windows also). I've just made the test a little more permissive so it doesn't break on those variations.

Feel free to close since it's working 😉

[2020-04-01 22:12] algomaster99 commented on #531
@jeromesimeon Please look into this if you have time. :sweat_smile:

[2020-04-01 22:23] jeromesimeon commented on #531
I have a lot on my list for the coming release, but it's on my radar. Please bear with me.

[2020-04-01 22:25] algomaster99 commented on #531
@jeromesimeon Sure! :)

[2020-04-08 18:09] algomaster99 commented on #478
@jeromesimeon I have started to work on this issue. Please assign it to me. Thanks!

[2020-04-08 18:14] jeromesimeon commented on #478
@algomaster99 fantastic! You're assigned.

[2020-04-08 20:40] algomaster99 opened #541 "Command autocompletion for cicero CLI"
**Is your feature request related to a problem? Please describe.**
Not a problem but this shall allow running `cicero` commands without actually 'typing out' the whole command (and its flags if any).

**Describe the solution you'd like**
An autocomplete feature which will complete the `cicero` command on pressing <kbd>Tab</kbd> on a bash or a ZSH terminal.

[2020-04-08 22:08] jeromesimeon commented on #541
I've not seen that kind of feature done before -- it means interacting with `zsh`? Would love to see an example.

Note: this might end up shell dependent and people use all kinds of shell.

[2020-04-08 22:17] algomaster99 commented on #541
@jeromesimeon it wil definitely become dependent on shell. But for a start, we could do for Bash first, what do you think?
An example could be `git`. Suppose you type `git com` and press tab, it gets autocompleted to `git commit`.

[2020-04-13 14:44] DianaLease opened #545 "Get latest version of templates compatible with specified cicero version"
**Is your feature request related to a problem? Please describe.**
Currently, a user can call `templateLibrary.getTemplateIndex()` with the option `latestVersion: true` to get the latest version of each template or passing a `ciceroVersion` to specify getting all the templates compatible with a specified version. However, there is no way to get the latest version of each template that is compatibl

[2020-04-23 03:59] Catherinesjkim commented on #545
I second that.

[2020-04-23 15:12] jeromesimeon opened #547 "Revised Cicero parser"
**Is your feature request related to a problem? Please describe.**
The current Cicero parser is fairly hard to maintain, leads to performance problems (#523), and is difficult to make extensible. It also doesn't know about markdown (notably is not aware of whitespace rules) which can lead to confusing errors for users.

**Describe the solution you'd like**
A full revision, possibly including switc

[2020-04-23 16:26] jeromesimeon commented on #547
Backbone for a new parser based on the Parsimmon library is available at: https://github.com/accordproject/markdown-transform/tree/js-template-parse

[2020-04-23 16:28] jeromesimeon commented on #547
Checklist:
- [ ] Expressivity
   - [ ] Text blocks
   - [ ] Variables
       - [ ] Double
       - [ ] String
       - [ ] Integer
       - [ ] DateTime
   - [ ] Blocks
       - [ ] Conditional blocks
       - [ ] With blocks
       - [ ] Clause blocks
       - [ ] List blocks
- [ ] Performances
       - [ ] Runtime
       - [ ] Memory footprint
- [ ] Browser support