[2020-04-23 20:32] jeromesimeon commented on #547
Added a test with a "large" document (it's not that large, only about 300k, but that's about 1600 lines and essentially based on the "huge" document in the Slate demo).

Parsing time (including error) looks pretty good so far:
[code]

[2020-04-23 21:35] jeromesimeon commented on #547
Pretty good news on the memory usage front (and I believe excellent news on the runtime performances).

For a small template: memory usage shot at 3M (most of which is code)
<img width="1519" alt="Screenshot 2020-04-23 at 5 30 29 PM" src="https://user-images.githubusercontent.com/670099/80151688-74cf2380-8588-11ea-86d0-65bdc3ee6241.png">

For a 300k template: memory usage shoots up to 10M (the ext

[2020-04-23 21:37] jeromesimeon commented on #523
New parser showing promises for addressing the parser side of this problem. Pointers and details in #547

[2020-04-23 23:19] jeromesimeon commented on #547
Instrumented version of `./bin/index.js` used for those tests.
[index.txt](https://github.com/accordproject/cicero/files/4525771/index.txt)

[2020-04-27 14:05] 41ph4 opened #548 "Strange behavior on "draft" a {{clause}} block."
Hello,

I just encountered a strange behavior.

When I "draft" (with wrapVariables) a grammar  including a ` {{clause ....}} ... ... {{/ clause}}` part,
the "clause" part is not wrapped and is considered as a classic paragraph by the CiceroMark Transformer.

So :
**With the grammar :**

**"draft" method returns :**

**ciceroMarkTransformer.fromMarkdown returns :**

**Result** : the "Clause" inform

[2020-04-27 18:50] jeromesimeon commented on #548
hi @41ph4, That's an interesting question (if I follow what you're saying, which I'm not 100% sure of).

Can you explain a bit more about your use case, please?

Currently we have a bit of a mismatch between the distinction between Clause and Contract in Cicero (Contract templates can includes clauses) and the distinction between Clause and Contract in  the markdown editor (and the markdown transf

[2020-04-29 09:15] 41ph4 commented on #548
hi @jeromesimeon,

The original idea was to highlight the entire "{{clause}} paragraph" on a Slate Editor, but this is not a mandatory feature for my application.

I don't think we will use this block so much, so this is not realy a new request.

Thanks a lots !

[2020-04-29 15:49] jeromesimeon commented on #548
oh yes that makes sense. We're in a bit of a transition on this. You can use markdown which looks like this:
[code]

But at the moment it behaves a bit differently from the notion of contract template in Cicero (i.e., the contract text can be changed and isn't based on a template, only the Clause).

I'm doing some work on bringing the notion of contract template in alignment with what the editor d

[2020-04-30 10:01] jbroudou opened #549 "Support the use of variables inside of if conditional blocks"
**Is your feature request related to a problem? Please describe.**
When using variables inside of an if conditional block the parser will return an error

```{{#if` isDelivered}} Delivered on {{deliveredAt}} {{/if}} ```

At the moment this is producing the error "Unexpected varid token: "deliveredAt""

**Describe the solution you'd like**
Allow the use of variables inside of if conditional blocks.

[2020-04-30 10:09] dselman commented on #549
Thinking about this some more, perhaps as a workaround you could use an Ergo block?
https://docs.accordproject.org/docs/markup-ergo.html

That would allow you to conditionally insert text into the contract?

[2020-04-30 18:12] 41ph4 commented on #548
Ok thanks a lots !

[2020-04-30 19:01] jeromesimeon commented on #549
This also possibly relates to #521.

@jbroudou Could you please share the model that you are expecting?

Currently `{{#if}}...{{/if}}` blocks correspond to Boolean variables. So let's say you have a model like this:
[code]
When `isDelivered` is `true` you would get the `deliveredAt` value, but what do you expect the contract data to be if `isDeliever` is `false` ?

[2020-04-30 23:07] jeromesimeon commented on #549
Also this is somewhat of a duplicate of #17

[2020-04-30 23:50] jbroudou commented on #549
@jeromesimeon The contract is a simple proof of concept
[code]

[2020-05-05 16:43] jeromesimeon commented on #547
Some possible additional questions or work item (edited from feedback during review with @dselman @irmerk @DianaLease )

- [ ] Move the text generation closer to the parsing?
- [ ] Parse templates themselves using the same parser technology
- [ ] Can we generate a BNF? Or some lang. independent description of the grammar?
- [ ] Can we make the parsing table extensible by users?
- [ ] Decide whethe

[2020-05-06 18:40] irmerk opened #550 "Contract and Clause id Structure"
Opening a discussion around the formatting of `id` properties at a contract and clause level.

Currently I believe we use `uuid4` in `cicero-ui` when pasting a clause template. However, it may be useful to dictate this from a foundational level.

[2020-05-06 21:33] jeromesimeon commented on #547
Another useful benchmarking point, courtesy of @mttrbrts

https://sap.github.io/chevrotain/performance/

<img width="1445" alt="Screenshot 2020-05-06 at 5 33 03 PM" src="https://user-images.githubusercontent.com/670099/81230564-bc5da280-8fbf-11ea-933d-f1d735294213.png">

[2020-05-15 09:28] dselman commented on #479
@jeromesimeon tagging you on this, because it sounds like your recent work on TemplateMark should make this much easier.

[2020-05-15 14:43] MartaCeprini commented on #395
Hi all, we have a particular use case in our project. We want to build an accord contract with predefined types of clause, say an abstract general terms clause, an abstract payment clause and an abstract recess clause. We want then a user can compose the contract selecting clauses from a list, each clauses being marked with its own typology. Is this possible at the moment or will be possible in fu

[2020-05-15 14:48] dselman commented on #395
Hi @MartaCeprini - yes you could build something like that using the `ContractEditor` component and the `Library` component. It would require application specific code to track which type of clause should/could be inserted into different parts of the markdown document.

https://accordproject.github.io/web-components/?path=/story/contract-editor--contract-editor

We hope to extend the concept of a

[2020-05-19 18:23] DianaLease opened #551 "Draft with invalid data returns invalid result"
**Describe the bug**
If a template expects an integer for a variable, passing a string that cannot be coerced into a valid intege, results in a draft result with `NaN` in the text.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `cicero draft --data data.json --template src/acceptance-of-delivery/` where `data.json` is the following...
[code]

2. See result

[code]

**Expected behavior**

[2020-05-19 18:28] jeromesimeon commented on #551
I think just a consequence of the current validation semantics for Concerto. See https://github.com/accordproject/concerto/issues/157

This kind of surprising result should be addressed when we switch to the stricter validation semantic decided for the next version of Concerto.

[2020-06-01 15:38] jeromesimeon commented on #523
A quick memory snapshot comparing the old and the new parser.

Old:
<img width="740" alt="Screenshot 2020-06-01 at 11 32 48 AM" src="https://user-images.githubusercontent.com/670099/83425541-dc845400-a3fb-11ea-84fd-d55cceeda7ee.png">
Trace:
[code]

New:
<img width="740" alt="Screenshot 2020-06-01 at 11 32 48 AM" src="https://user-images.githubusercontent.com/670099/83425500-cd9da180-a3fb-11ea-8dd4

[2020-06-05 17:08] jeromesimeon commented on #547
Template checklist:
- [ ] acceptance-of-delivery
- [ ] car-rental-tr
- [ ] certificate-of-incorporation
- [ ] copyright-license
- [ ] demandforecast
- [ ] docusign-connect
- [ ] docusign-po-failure
- [ ] eat-apples
- [ ] empty
- [ ] empty-contract
- [ ] fixed-interests
- [ ] fixed-interests-static
- [ ] fragile-goods
- [ ] full-payment-upon-demand
- [ ] full-payment-upon-signature
- [ ] hellomodul

[2020-06-10 13:09] jeromesimeon opened #552 "Parsing for relationships is confusing"
Parsing for complex variables which are relationships is confusing.

`cicero parse` for variables involved in a relationships (https://templates.accordproject.org/acceptance-of-delivery@0.13.2.html)

[code]

`shipper` and `receiver` are not of type `String` but of type `--> Organization`. It is not easy to determine from the output. Also the content of the organization is not available to the runt

[2020-06-11 18:05] jeromesimeon opened #553 "Flexible & Module Parsing/Drafting for Cicero templates"
**Is your feature request related to a problem? Please describe.**

It is currently difficult to create custom text in clauses or contracts for specific types (e.g., for addresses, amounts, stock quotes).

Specific contracts / data may need specific rendering or text representation, but currently those have to be built into Cicero which limits a users's ability to specialize the text for their uni

[2020-06-11 18:06] jeromesimeon commented on #553
The new parser work (in `markdown-transform`) includes a minimal kind of parsing table which could be a start in supporting more modular parsing/drafting.

Some notes from discussion with @dselman on the topic:

## Parser Manager
- ParserManager maintains parser information + model info
- ParserManager allows to compile (and cache) parser spec into JavaScript for execution
- ParserManager is a bad

[2020-06-12 09:17] dselman commented on #553
Very nice.

I think I lean towards making the loading of remote grammars a separate concern, so that we don't have network access inside the `ParserManager`. E.g. we could create another class that takes a map of `CTO FQN` -> `URL` and resolves it to `CTO FQN` -> `Grammar`.

We can then decide how this gets exposed inside a Cicero archive. E.g. something like:

`type-grammars.json` inside the `tex

[2020-06-14 10:49] lambdafu opened #554 "Cicero parse can't handle missing conditional at end of contract and beginning of line."
**Describe the bug**
If the template grammar has a conditional at the very end of the contract, in its own line, the `cicero parse` command fails to parse the contract if the optional part is missing.

**To Reproduce**
Grammar:
[code]
Model: `o Boolean flag`, sample.md: `Hello`

Output of cicero parse is:
[code]

**Expected behavior**
A data.json that has `{ "flag": false }`.

It works if I put an

[2020-06-14 10:53] lambdafu opened #555 "Cicero conditional block expression is not a block expression"
**Describe the bug**
The block expression `{{#if flag}}...{{/if}}` only works on a single line, and thus is not a block expression after all. :disappointed:

**To Reproduce**
Grammar:
[code]

Sample.md:
[code]

Model:
[code]

Output of cicero parse:
[code]

**Expected behavior**
A block expression should be able to hold, uhm, blocks?  What's up with that? :cat2:

[2020-06-14 11:01] dselman commented on #554
Thanks for the report. @jeromesimeon has a major project underway reimplementing the parsing stack — so we will retest that there.

[2020-06-15 15:29] algomaster99 opened #556 "Parser Manager loses reference to `window` when a template is loaded in a JavaScript `Worker`"
**Describe the bug**
Parser Manager loses reference to `window` when a template is loaded in a JavaScript `Worker`. @dselman suspects it is because of [this line](https://github.com/accordproject/cicero/blob/master/packages/cicero-core/src/parsermanager.js#L42).

**To Reproduce**
Steps to reproduce the behavior:
1. Load a template in a `Worker`.

**Expected behavior**
I should get an object of the

[2020-06-15 18:43] irmerk commented on #556
Following up after a call with @algomaster99, @jeromesimeon, @dselman, and @DianaLease, this will likely be fixed when the new parser (#547) is implemented.

[2020-06-15 19:40] jeromesimeon commented on #556
@algomaster99 @irmerk A sample to reproduce the issue would be useful (to check that it does get fixed with the new parser).

[2020-06-15 19:46] algomaster99 commented on #556
@jeromesimeon It is just these two lines
[code]
If it successfully returns a `template` in the console, the issue will be fixed.

[2020-06-15 19:54] jeromesimeon commented on #556
That line usually works well on its own. I'm assuming there is a "web worker" thingie that should be around it?

[2020-06-15 20:29] algomaster99 commented on #556
@jeromesimeon oh yeah
So one should be successfully able to import `@accordproject/cicero-core` in workers. And there shouldn't be any references to `window` in the precompiled files.

[2020-06-15 20:32] jeromesimeon commented on #556
A sample test for that would help.

[2020-06-16 06:24] algomaster99 commented on #556
@jeromesimeon where is the PR? I will write the test myself. But we will need to create two files.
- test.js
[code]

- worker.js
[code]

[2020-06-16 13:10] irmerk commented on #556
I believe it has been pushed into a [branch here](https://github.com/accordproject/cicero/tree/parserv2). Confirm that @jeromesimeon?

[2020-06-17 12:10] algomaster99 commented on #556
Once @jeromesimeon confirms, I can write the test myself.

[2020-06-19 08:40] dselman opened #557 "Signature Clauses"
It would be very useful to be able to create clause templates that can represent signature blocks.

DocuSign (and other e-signature solutions) support features to **auto-place** signature blocks, and related signature metadata based on tags in the PDF document. Essentially this involves specifying a regex string to look for in the PDF, and then the string is found an input field, or signature bloc

[2020-06-19 19:15] mttrbrts commented on #557
I would advocate for a keyword of `signature-block` rather than `signature-clause`, the latter feels semantically wrong to me.

Also, can we put the FQN in another attribute, something like `data-concerto-type` to keep it HTML5 compliant? https://html.spec.whatwg.org/#embedding-custom-non-visible-data-with-the-data-*-attributes

On a separate note, this reminds me that we should change the class a

[2020-06-20 07:13] martinhalford commented on #557
Hi @mttrbrts & @dselman - This might be a red herring (so please ignore if it is) but could this not be tied into identity in some way?  For our implementation, we are "signing" our agreements using 2FA and other proofs of identity and then storing these in an immutable data store along with the contract instance.  This constitutes the legal signature.  In the longer term, we'd ideally want the si

[2020-06-20 12:30] dselman commented on #557
Agreed.

Sounds good.

[2020-06-20 12:36] dselman commented on #557
For this issue I'm focused on the "simplest thing that can work" for the basic *PDF sent out for electronic signature* use case (DocuSign, Adobe Sign, HelloSign et al). Let's track additional requirements in another issue.

[2020-06-21 00:44] martinhalford commented on #557
Okay. Fair call.  I'll raise a separate issue to discuss identity.

[2020-06-21 03:38] martinhalford opened #558 "Identity management and digital signatures"
**Is your feature request related to a problem? Please describe.**

In order for contracts to be legally enforceable, all parties need to indicate their acceptance of the agreement by some means which is verifiable and immutable.

Traditional paper-based agreements required an ink-based signature (i.e. immutable) which matches a known signature sample and, if necessary, is witnessed by a trusted t

[2020-06-26 03:04] jeromesimeon commented on #547
### Related issues

- [x] #4: Repeated bindings
- [ ]  #17 #549: Optional parameters
- [x] #386: Remove use of Eval
- [ ] https://github.com/accordproject/cicero/issues/552: parsing for relationships
- [ ] https://github.com/accordproject/cicero/issues/553: Parser modularity
- [x] https://github.com/accordproject/cicero/issues/529: Template with no logic

[2020-07-01 12:41] jeromesimeon commented on #552
This issue has been fixed using the new parser infrastructure and is fixed in the development version of Cicero.

[2020-07-01 12:42] #552 closed

[2020-07-01 13:00] jeromesimeon commented on #4
This issue is fixed using the new parser infrastructure. Here is an example:

[code]

[2020-07-01 13:00] #4 closed

[2020-07-02 14:24] jeromesimeon commented on #554
Thanks for the bug report @lambdafu. With the old parser the whitespace handling is a bit ad hoc, so I'm not sure how I would go at fixing it.

With the new parser I think there is a clear answer to your question: the issue is that this template:
[code]
has _always_ a soft break after `Hello`.

While the corresponding sample when `flag = false` is:
[code]
which will _never_ have a soft break.

I t

[2020-07-02 14:54] jeromesimeon commented on #555
Hi @lambdafu I guess there are a couple of things going on there:

- terminology (we used the term blocks in the documentation from a template language point of view (e.g., https://handlebarsjs.com/guide/block-helpers.html) -- this really was to distinguish the `{{#...}} ... {{/...}}` syntax from other kind of template notations. I am assuming in your comment that you mean block from a markdown po

[2020-07-02 14:55] jeromesimeon commented on #555
For reference:

[code]

[2020-07-02 14:56] jeromesimeon commented on #555
Some details about your use case would help.

[2020-07-02 15:29] lambdafu commented on #555
Hi Jerome, thanks for your response. The terminology is confusing to me, and yes, I was interpreting block elements typographically (or at a markdown level, whatever you prefer). Thanks for the clarification. Although I appreciate the effort to create a specification that allows bidirectional parsing without being intrusive, I also have to say that I was surprised more than once. This violates a l

[2020-07-03 21:17] jeromesimeon commented on #17
This is now supported in the upcoming new parser:

[code]

[2020-07-03 21:20] jeromesimeon commented on #549
A similar feature is supported in the upcoming new parser using the notion of optional block:
[code]

@jbroudou Would that address your use case?

[2020-07-03 22:48] jeromesimeon commented on #529
This is fixed in #559

[2020-07-04 04:49] jbroudou commented on #549
@jeromesimeon I'm assuming that the optional block in your example will only render when forceMajeure has a "truthy" value? In which case, yes that would address my use case.

[2020-07-05 00:11] jeromesimeon commented on #549
hi @jbroudou No this is based on the presence or absence of the optional value. There is no easy way to correlate the truthful value of one field to another.

Concretely, I do not know how to handle the cases:
- `isDelivered=true` but `deliveredAt=null`
- `isDevlivered=false` but `deliveredAt="somedate"`

So I am not sure we would want to support that use case as is.

Suggestions for how to handle

[2020-07-05 00:24] jeromesimeon commented on #404
I think we can consider this resolved. The new parser follows strict commonmark whitespace parsing rules.

[2020-07-05 00:24] #404 closed

[2020-07-05 00:27] jeromesimeon commented on #386
The new parser no longer uses JavaScript `eval` for parser construction (or nearley for that matter)...

[2020-07-05 00:27] #386 closed

[2020-07-05 00:35] jeromesimeon commented on #278
This issue has been resolved in the new parser. We are no longer dependent on nujucks for template generation.

[2020-07-05 00:35] #278 closed

[2020-07-05 00:48] jeromesimeon commented on #556
Note: this code is effectively gone from the development version of Cicero with the new parser. (See also #278, now closed).

[2020-07-05 01:00] jeromesimeon commented on #389
I'm closing this as done. Please reopen if you feel this isn't completely resolved.

[2020-07-05 01:00] #389 closed

[2020-07-05 01:15] jeromesimeon commented on #479
This should now be drastically simplified by switching to the new parser. The new markdown transform generate a proper JSON Document Object Model for the template grammar called TemplateMark. Here it is on a simple example:

[code]

It shouldn't be hard to write a simple visitor on that JSON to extract the `VariableDefinition` nodes (along with `FormattedVariableDefinition` and `EnumVariableDefini

[2020-07-05 04:16] jbroudou commented on #549
@jeromesimeon I've had a look at [#17](https://github.com/accordproject/cicero/issues/17). Can you clarify what you mean by present or absent?

* DiscountRate forceMajeure optional

In this example how would forceMajeure be absent?

[2020-07-05 13:42] jeromesimeon commented on #549
I will use the `forceMajeure` example above. For optional fields, it can either be present, with the following JSON serialization:
[code]

Or absent, with the following JSON serialization:
[code]

[2020-07-05 23:25] jbroudou commented on #549
Thanks for the clarification. This would indeed address my use case.

[2020-07-05 23:57] jeromesimeon commented on #549
Great. Thanks for the feedback. This feature should go out with the next Cicero release.

[2020-07-14 08:05] martinhalford opened #560 "Unable to parse template containing unordered list markdown"
**Describe the bug**
Using the following snippet of template grammar....

`{{#ulist vendors}} Name: {{fullName}}, Email: {{email}}, Mobile: {{mobile}}{{/ulist}} .....etc.`

...the Cicero CLI `draft` command generates markdown that looks like this....

`-  Name: "Jack Walnut", Email: "jackwalnut@gmail.com", Mobile: "0432 123456" .....etc.`
`-  Name: "Betty Beetroot", Email: "bettybeetroot@gmail.com

[2020-07-14 11:00] martinhalford opened #561 "Cicero CLI does not render multi-line, unordered list when --unquoteVariables true."
**Describe the bug**
When rendering a `draft` markdown containing an unordered list `{{#ulist}}` split across multiple lines, and with the command line parameter `--unquoteVariables` equal to `true`, the output markdown for the `{{#ulist}}` is not rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a `{{#ulist}}` to the `grammar.tem.md` file.

For example:
[code]
using `data.json`

[2020-07-16 16:36] jeromesimeon opened #562 "Document format for Accord Project contracts"
[Inspired by @pkel]

Should we have a document format for accord project smart legal contracts?

The idea would be to have a file e.g., `myAgreement.sdf` file which encapsulate everything of your smart legal contract _instance_ (rather than `.cta` for a template).

- It could be explained as a new document format (like a `.pdf`) to users, except that you can package and run contract logic on that

[2020-07-16 17:03] #529 closed

[2020-07-16 17:33] jeromesimeon commented on #561
hi @martinhalford Thanks for the report. There is quite a lot of different things to unpack from this one example. But I thought I would at least report on the `unquoteVariables` option part. The option doesn't take `true/false` you just set it. I think it works as expected in this example:

[code]

[2020-07-16 17:43] irmerk commented on #562
This is super interesting, I like it! I'm a bit unclear about some of it though. Why wouldn't the `.sdf` have the template (`.cta`) within it? And would this mean that `.cta` is useful for creating a template, then once a user is happy with it they will finalize it into a `.sdf`?

[2020-07-16 17:50] jeromesimeon commented on #562
really really good questions... my very well thought off answer to this is: I don't know.

To some extent, `.sdf` could be also identical to our current `.cta` but there is a switch in perspective and some differences:
- don't think of a `sample.md` thinks of a real user `contract.md`
- it's not an "archive" it's a "document
- it's packaged for non-tempering of the logic (hence the `wasm` part --

[2020-07-16 17:55] irmerk commented on #562
Ahhh I think I'm getting it. So in `.cta`, the logic and text (`sample.md`) can be modified. But creating an _instantiation_ of the `.cta`, which is a `.sdf`, compiles and locks the logic, and creates a (somewhat) locked version of the `contract.md`.

[2020-07-16 17:59] jeromesimeon commented on #562
yes exactly! (I think)

Also, there is a higher bar in portability and self-containedness that users expect with documents. The safety part is also really essential since it's really injecting code in lots of places. (ask security people about pdf...).

[2020-07-16 18:39] pkel commented on #562
Cool stuff! I have two immediate thoughts on this.

(1) Taking the smart document thing to an extreme: why not embed all the "smart things" directly in a PDF? Smart documents could be named `contract.smart.pdf` for backwards compatibility with "non-smart" document viewers. Smart viewers could add smart features like simulation of cash flows, signing the contract, triggering clauses, payments, etc.

[2020-07-16 18:58] jeromesimeon commented on #562
Interesting... Some lose thoughts on those:

(1) is pdf the right format? it's quite complicated. Some questions: how do you embed code in it? how do you get changes to the format adopted if you need to, how do you edit it, turn in into markdown, etc. It's an interesting thought, but feels very unrealistic based on what we have and ultimately hard to implement. (and possibly the wrong foundations

[2020-07-17 00:27] martinhalford commented on #562
First... echoing @irmerk - super interesting!

My initial, thought bubble, is that this could be really useful.  However, **please can we ***not*** call it a document?**

Therefore (sorry @jeromesimeon ), I'm not a fan of `.SDF` as the extension.  My preference would be `.SLC` for `smart legal contract` - which is what it is.

I feel like we need to keep reinforcing the notion that these are ***no

[2020-07-17 05:17] dselman commented on #562
To clarify I suggest zooming out and describing what problems this is trying to solve, as a set of user stories.

My main worry is focus  - I think we’ve got a couple of pressing issues to work on right now: pop-up editors and design mode, and supporting WASM and MS Word projects. Identity and signing is starting to get interest. Fabric integration as well... Then there’s high value additions to c

[2020-07-18 01:03] martinhalford commented on #562
Agree with zooming out and considering the bigger picture.  This is probably a longer-term, strategic technical initiative.

Naively, I think, this might help with the identity and signing issues we have been discussing recently, and might even be of use with Fabric integration, maybe?

[2020-07-18 02:47] martinhalford commented on #562
@jeromesimeon - another thought bubble.... Sometimes legal agreements reference other supporting documents/and or agreements.

For example, in Australia, a residential sale of land agreement includes such documents as land title details, building permits, any easements or caveats on the property, and the list goes on.... The actual contract incorporates all these documents.

Maybe certified/signed

[2020-07-18 14:47] JSv4 commented on #479
@jeromesimeon, sorry, I've been totally wrapped up in another project. Hoping to have it in a good spot in the next week or two and then I'll hopefully have time to take another crack at this. Loving all of the new features you guys have built!

[2020-07-19 05:53] martinhalford commented on #561
Hi @jeromesimeon, Thanks for looking into this.

Interesting you say that the `unquoteVariables` option "doesn't take true/false you just set it."

If this is the case, then the `cicero draft --help` might need to be updated, as it states that `--unquoteVariables` is a boolean with the implication it can be set to `true` or `false`.
[code]

When `--unquoteVariables` is omitted (or explicitly set t

[2020-07-19 09:53] martinhalford commented on #560
@jeromesimeon - I assume this is just a straight bug that might be fixed in version 0.21 - correct?

[2020-07-20 03:59] martinhalford opened #563 "Cicero Server README out of date."
**Describe the bug**
The Cicero Server README is out of sync with recent changes to codebase.

[2020-07-20 04:06] jeromesimeon commented on #563
PRs welcome!

[2020-07-20 05:08] martinhalford commented on #563
LOL. I raised this issue so I can submit my PR! :-)

[2020-07-20 14:59] jeromesimeon commented on #561
I believe it does!

[2020-07-21 06:12] martinhalford opened #565 "Cicero Server : Remove deprecated functions"
As of v0.21, all Cicero Server API endpoints to receive data via request body only.  Previously deprecated functionality, which accepted data.json or sample.md files, to be removed.

[2020-07-21 16:14] tbrooke commented on #562
I like the SLC Extension and the references to external documents via URI -- II am not sure if this is the same or different from an SLC interacting, say, with a stream from an IOT device via Ergo.

Also I  see the need for these to be signed with some sort of identity system since they are presumably interacting with either the external world or each other and you need to know which one (or ones)

[2020-07-22 13:57] jeromesimeon commented on #563
@martinhalford Can we close this?

[2020-07-23 01:36] jeromesimeon commented on #565
Fixed in #568

[2020-07-24 01:19] jeromesimeon commented on #565
@martinhalford I think we can close this?

[2020-07-24 01:21] jeromesimeon commented on #556
@algomaster99 You should be able to try again with cicero `0.21` which doesn't have the troublesome code (the `nunjucks` hack) anymore.

[2020-07-24 01:22] jeromesimeon commented on #554
The corresponding fixes supporting the examples above is now in Cicero version `0.21`. @lambdafu can we close this?

[2020-07-24 01:23] jeromesimeon commented on #549
Support for optionals is now available in Cicero `0.21`.

[2020-07-24 01:23] #549 closed

[2020-07-24 01:29] jeromesimeon commented on #548
hi @41ph4 The new version of Cicero (`0.21`) now uses the same clause syntax for both the contracts in the editor and in the templates. You should be able to use your original syntax. You can also directly draft to slate using Cicero. Below is an example, using the CLI:

[code]

[2020-07-24 01:30] jeromesimeon commented on #548
Note that the input template contains the following payment clause in the grammar:
[code]

A corresponding payment clause in the text:
[code]

And that the slate DOM properly includes the clause node:
[code]

[2020-07-24 01:32] jeromesimeon commented on #547
This issue is resolved with the release of Cicero `0.21`. We can open new issues if needed for features that didn't make the cut, or for any bug or new requirements.

[2020-07-24 01:32] #547 closed

[2020-07-24 01:38] jeromesimeon commented on #521
This problem does *not* appear fixed in the latest release of Cicero, version `0.21.0`... I'm investigating.

[2020-07-24 01:44] jeromesimeon commented on #519
This feature can be now supported for optional types, using the new optional block in AP templates in Cicero `0.21`. An example can be found in the template library: https://templates.accordproject.org/latedeliveryandpenalty-optional@0.1.0.html

@martinhalford Let me know if we can close this issue.

[2020-07-24 01:45] jeromesimeon commented on #514
@martinhalford I think the latest changes to the API and removing `CICERO_DATA` entirely make this issue moot? Can we close?

[2020-07-24 01:45] jeromesimeon commented on #508
@martinhalford Can we consider this issue closed, or is there more work to do on the Cicero server API?

[2020-07-24 01:51] jeromesimeon commented on #479
@JSv4 no problem! Cicero version `0.21` and the underlying markdown library `markdown-transform` version `0.21` are both now out the door, so you should be able to give it a try.

To get the document object model in JSON for the template (aka the template mark Dom):

[code]

[2020-07-24 02:06] jeromesimeon commented on #479
You can find a very simple visitor that would do the trick in this Gist: https://gist.github.com/jeromesimeon/242ae53b0586534954f40664cb21b5a0

To run:
[code]

[2020-07-24 02:10] jeromesimeon commented on #17
This issue has been finally resolved with the release of cicero `0.21`.

[2020-07-24 02:10] #17 closed

[2020-07-24 02:33] jeromesimeon commented on #523
@mttrbrts Now that Cicero `0.21` is out, it would be worth running those benchmarks again. I hope the new parser will result in some improvements to the memory footprint.

Some preliminary tests (outside Cicero, on the parser itself) can be found at https://github.com/accordproject/cicero/issues/547#issuecomment-618684746

[2020-07-24 03:40] #565 closed

[2020-07-24 04:44] martinhalford commented on #514
No longer needed, as "data" is now passed in JSON payload in Request object.

[2020-07-24 04:44] #514 closed

[2020-07-24 04:45] martinhalford commented on #563
LGTM 👍

[2020-07-24 04:45] #563 closed

[2020-07-24 06:29] martinhalford commented on #561
Apologies @jeromesimeon
- Yes, the `cicero draft --unquoteVariables` command does render the output in an unordered list but only inside a code block with a `<list/>` tag, which does not render properly in a markdown document.

This is what the request looks like when run from Cicero-Server with `"unquoteVariables": true`.

![image](https://user-images.githubusercontent.com/970336/88365657-1ce3cb0

[2020-07-24 06:35] martinhalford commented on #519
LGTM 👍 Feel free to close. Thank you!!

[2020-07-24 11:00] lambdafu commented on #554
Thanks!

[2020-07-24 11:00] #554 closed

[2020-07-24 12:53] mttrbrts commented on #523
## Data
![image](https://user-images.githubusercontent.com/7544022/88390016-81ddf780-cdaf-11ea-953d-162710bfe29e.png)

Trace:
[code]

## Provisional Analysis

Performance averaged across 100 runs remains constant between Cicero v0.20 and v0.21. Both demonstrate good throughput with sub 10ms parsing time, excluding file loading.

I'm reluctant to make a generalisation on memory utilization without

[2020-07-24 14:38] #519 closed

[2020-07-29 21:20] martinhalford commented on #561
Fixed in cicero version 0.21.0 👍

![image](https://user-images.githubusercontent.com/970336/88854759-1f647b80-d235-11ea-8da2-4e1e232bb3cf.png)

[2020-07-29 21:20] #561 closed

[2020-07-29 21:34] dselman commented on #562
Naming ideas:
1. Executable Document - `edoc` or `exedoc` or `xdoc` or `xdc`
1. Computable Document (or Cicero Document) - `cdoc`
1. Smart Document - `sdoc`
1. Smart Legal Contract - `slc`
1. CiceroMark Archive - `cma`

[2020-07-29 22:41] peterhunn commented on #562
My $0.02 on naming. The `.slc` is well taken @martinhalford. I'm not so bearish on the reference to a document for at least two reasons:

1. A contract and a document are mutually exclusive. The contract is the **_agreement_** enforceable at law. What we actually have is a **_document_** that purports to record the agreement/contract.
2. That being said, I get the need to differentiate with a 'doc

[2020-07-29 22:53] jeromesimeon commented on #562
Thanks @peterhunn for the thoughtful and very interesting feedback.

(ouch, this double negation really hurt my brain).

Very interesting perspective.

Agreeing.

I've had that same experience, where the community I interact with think mostly "smart blockchain contract" first and the text is an afterthought. I would like to change that perspective.

Agreeing 100%. To me that is the central questio

[2020-07-29 23:22] peterhunn commented on #562
One other thing to bear in mind is existing usage e.g. [Smart Documents](https://support.microsoft.com/en-us/office/use-xml-expansion-packs-to-create-smart-documents-7dc5fb76-4bc3-4583-b4ac-d94001f3dd51).

[2020-07-29 23:36] tbrooke commented on #562
I'm not sure we could come up with a new name and I think I like document. I think that smart contract has become a thing and all of the blockchains seem to have  a variation of a smart contract in the solidity execute on the blockchain sense. I think it is too late and too confusing to keep having to explain the difference. Also since this is for an instansiated contract a document implies that i

[2020-07-30 02:48] peterhunn commented on #562
`.sld' (Smart Legal Document) and `.sla` (Smart Legal Agreement) could be options too, but I don't think preferable over `.slc' or `sdoc` if they can work.

[2020-07-30 09:36] martinhalford commented on #562
Hi All,

Sorry for the long post.  I've tried to be as succinct as possible.

I think we are all broadly in agreement and I share many of the same conflicting thoughts.

@peterhunn wrote:

I agree with the distinction but, although what we currently have is a **_document_**, what we would like to have is a legally, enforceable **_agreement_**.

At the moment, there is no easy way to accomplish thi

[2020-07-30 10:02] dselman commented on #562
@martinhalford just an FYI that a docx file is a zip jam packed with xml (and other) files. Open Office XML; with docx extension to make it warm and fuzzy for end users!

[2020-07-30 10:04] martinhalford commented on #562
@dselman wrote:

Yep - agreed.  I think this concept pushes the boundary of that distinction, and the aim of .DOCX is to print a document, so the name kinda makes sense.

[2020-07-30 12:17] tbrooke commented on #562
Just to add to the confusion I looked at [Monax](monax.io) and they use the term "digital contracts".

[2020-07-30 15:36] peterhunn commented on #562
Completely agree with the intention. The question of whether something is legally enforceable is usually (with some limited exceptions) not a matter of form. Just because something is packaged as a `.slc` etc does not render it a "smart legal contract". It just means it is in the form of a smart legal agreement. I think this is in contradistinction to a document as the document format itself defin

[2020-07-30 16:00] jeromesimeon commented on #562
Names are fun. I don't like "Smart Contract Format" because of "Smart Contract".

I do like:
- Smart Legal Contract Format (`.slcf`)
- Executable Document format (`.xdoc`, `.xdf`)

[2020-08-01 06:56] martinhalford commented on #562
Names are fun but, at this point, given there's no obvious answer and given there are lots of ideas, maybe we leave the naming debate for the time being? :-)

Hopefully, as we evolve our understanding of what problem we are solving and how we are solving it, a self-evident name may emerge.

@peterhunn wrote:

This is, indeed, very true.  In the same way, what makes a paper contract legally enforce

[2020-08-03 02:56] martinhalford commented on #560
Hi @jeromesimeon - I've retested this in Cicero 0.21 and the issue still seems to be present.  Here are the steps to reproduce using the `listquote` template archive.

[listquote.zip](https://github.com/accordproject/cicero/files/5013602/listquote.zip)

[code]

Stuff I tried....
1. Tried removing excess whitespace in generated `sample.md` file (in front of "Email", "Mobile" etc.) to match `grammar

[2020-08-05 16:58] jeromesimeon opened #572 "Formula name generation is just wrong, generates non-valid JavaScript identifiers"
**Describe the bug**
The generation of formula names uses a hash which can start with a number, which aren't compiled to proper JavaScript.

**To Reproduce**
Edit the `fixed-interests` template by adding a space at the beginning of the formula. When drafting, the Ergo code generated throws a JavaScript parsing error:
[code]

**Expected behavior**
Formulas should not explode.

[2020-08-05 17:41] dselman commented on #562
I think this gets my vote of the proposals so far. "Executable Document Format" is nice and explicit, and as a three-letter-acronym it makes a nice reference to PDF. An alternative could be "Computable Document Format" (cdf).

[2020-08-05 17:44] jeromesimeon commented on #562
I like the generality of both. Ultimately, the format could be used for all kinds of executable things, not only contractual.

NB: We will have more constraints than we think on extensions, so we definitely shouldn't get too excited about file extensions / names until we've researched that a bit more.

[2020-08-06 07:57] martinhalford opened #573 "{{ulist}} object rendering differs when more than one consecutive {{ulist}}"
**Describe the bug**
Three very similar {{#ulist}} objects defined in `grammer.tem.md` file, one after the other.

First {{#ulist}} object renders correctly but subsequent {{#ulist}} objects fail to render **bold** `**` formatting.

**To Reproduce**
The following {{#ulist}} objects exist in `grammer.tem.md`...

[code]

The following is the data model snippet as defined in `model.cto`...

[code]

T

[2020-08-06 10:37] martinhalford commented on #573
Closing issue. Numpty error... missed trailing `{{/with}}`.  :-)

[2020-08-06 10:37] #573 closed

[2020-08-06 18:56] jeromesimeon opened #574 "Cicero draft should allow markdown_cicero as format (used as default)"
The API for draft would be nicer if it allowed `markdown_cicero` as a format, as all other formats. This is currently the default behaviour when there is no options, but the call will fail if the format is `markdown_cicero` at the moment.

[2020-08-06 19:00] DianaLease commented on #574
clause.draft({ format: 'markdown_cicero' }) should return the text as `markdown_cicero` instead of throwing the error `Unsupported format: markdown_cicero`

[2020-08-06 21:03] #574 closed

[2020-08-06 21:03] #572 closed

[2020-08-07 20:12] jeromesimeon commented on #548
@41ph4 Can we close this?

[2020-08-07 21:42] jeromesimeon commented on #545
@DianaLease This should now be fixed, as suggested in Cicero `0.21.2` https://github.com/accordproject/cicero/releases/tag/v0.21.2

Let me know if this works and if we can close.

[2020-08-07 21:43] jeromesimeon commented on #524
@algomaster99 This should now be fixed in Cicero `0.21.2` https://github.com/accordproject/cicero/releases/tag/v0.21.2

Let me know if this works and if we can close.

[2020-08-10 17:02] jeromesimeon opened #579 "Compiled archives for templates with formulas are broken"
**Describe the bug**
When using a "compiled" archive for a template with a formula, `cicero` complains that the formula code cannot be compiled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the public template library, to the `fixed-interests` template
2. Compile it using `cicero archive --target cicero`
3. Try and use that template e.g., `cicero parse fixed-interests@0.5.0.cta --sa

[2020-08-10 17:38] DianaLease commented on #579
@algomaster99 This is what you saw!

[2020-08-10 17:45] jeromesimeon commented on #579
We haven’t used compilednarchives all that much before so I think we are seeing some undetected issues there. Will work on this one for the next fixpack.

[2020-08-10 17:46] algomaster99 commented on #579
@jeromesimeon cool, makes sense

[2020-08-10 22:51] jeromesimeon commented on #579
Fixed in #580

[2020-08-10 22:51] #579 closed

[2020-08-16 23:36] martinhalford commented on #470
@jeromesimeon - I think this would be very useful. This would be a much more elegant and concise way to handle interior blocks.

In addition, as Ergo Expressions do not currently support markdown format then this would be a way to properly format text rendered by interior expressions.

For example:
[code]
Currently, there is no way (that I'm aware of) to format text rendered within interior blocks

[2020-08-19 18:26] 41ph4 commented on #548
Hello @jeromesimeon yes thank you !

[2020-08-26 17:51] jeromesimeon commented on #556
Closing this since it should now be fixed. Feel free to reopen if this pops up again.

[2020-08-26 17:51] #556 closed

[2020-08-26 17:52] jeromesimeon commented on #545
Closing this. Feel free to reopen if needed.

[2020-08-26 17:52] #545 closed

[2020-08-26 17:54] jeromesimeon commented on #479
I think this addresses the original issue. Closing this. Feel free to reopen (or open a new issue) if more questions.

[2020-08-26 17:54] #479 closed

[2020-08-26 19:56] #548 closed

[2020-08-27 23:26] jeromesimeon commented on #560
@martinhalford My bad for looking at this issue too quickly. The syntax for list blocks is:
[code]

Rather than

[code]

(the distinction is between markdown blocks such as paragraphs, lists, and headings and markdown inlines such as text, emphasis, etc)

Would you be able to try your example again with that change in the grammar?

[2020-09-03 02:00] martinhalford commented on #560
Hi @jeromesimeon - Good news!  The bug is no more.

For the record, the syntax of the list block in the `grammar.tem.md` was correct, as per below and in `listquote.zip`.
[code]
When reproducing the steps in `v0.21.0` is `parse` command failed but now in `v0.21.5` the `parse` command works! :-)
Thank you!

[2020-09-03 02:00] #560 closed

[2020-09-28 06:45] martinhalford opened #588 "Allow Conditional Blocks to evaluate conditional expressions."
**Is your feature request related to a problem? Please describe.**

Conditional blocks enable text which depends on a value of a Boolean variable in a model.
For example:
`{{#if forceMajeure}}This is a force majeure{{/if}}`

However, this requires a specific boolean variable to be used as input to the `#if` condition, which is fine if the model has a boolean variable available.  It would be useful

[2020-09-28 07:49] dselman commented on #588
The challenge with this is when parsing, as the presence of "zombie attack" is now posting a constraint on the value of a variable, rather than defining the value unambiguously.

The ability to use natural language for persistence is a key capability imo and I'd be very, very reluctant to lose it.

[2020-09-28 08:01] dselman commented on #588
Also, note that Formulas can return text, which is inserted into the clause. I think there's already an issue to support returning markdown.

[2020-09-28 08:33] martinhalford commented on #588
HI @dselman, Not sure I follow. If `numZombiesAttacking` is an integer, then the expression `numZombiesAttacking! > 0` will evaluate to a boolean. Isn't that just an extension of using a boolean variable directly?

[2020-09-28 08:35] martinhalford commented on #588
The challenge with formulas is that we can't apply markdown formatting inside them.

[2020-09-28 08:38] dselman commented on #588
With the current Boolean variable binding when the variable is true, the text is present - AND vice versa. If you introduce complex expressions in bindings then we will only know that x > 0 when the text is present, but won't know the value of x, so we can no longer build a JSON representation of that field. It works for Formulas because they aren't parsed and the result of the Formula is not repr

[2020-09-28 09:09] martinhalford commented on #588
OK. I can see that and appreciate why you'd not want to break the bi-directional flow. It could be caveat emptor, a bit like how we do for "unquoteVariables"?

[2020-09-28 09:12] martinhalford commented on #588
Alternatively, if we could figure out some way to include markdown in formulas (e.g. via some sort of 'escape' char) then that would go a long way too providing a solid workaround.

[2020-09-28 11:11] dselman commented on #588
Yes, I think supporting Formulas that returns markdown is the right way to solve this. E.g.
https://github.com/accordproject/markdown-transform/issues/274

This sends a clear message to users that this text doesn't roundtrip and that they are "punching a hole" in their template to insert dynamic content, which will be ignored during parsing.

[2020-09-29 08:25] dselman commented on #262
It looks like forge has now implemented PKCS#7 - but not merged your PR @roysjosh. Can you re-implement the PR on top of their implementation?

https://github.com/digitalbazaar/forge#pkcs7

[2020-09-29 09:32] martinhalford opened #589 "Conditional Ergo Expression fails when contained within a {{#with}} and {{#ulist}}"
**Describe the bug**

This could be user error but I think there's a bug when using a conditional Ergo expression inside a complex model.

Here is the model....
[code]

Here is the grammar....
[code]

The following `data.json` was used as test data.
[code]

All of the above were used as inputs to the following `draft` command.
`$>  cicero draft --template . --data ./data.json --output ./text/sampl

[2020-10-01 20:19] jeromesimeon opened #591 "CLI: --wrapVariables option does not do anything anymore"
**Describe the bug**
The Cicero command line still has the `--wrapVariables` option which does not exist anymore and has no effect. It should be removed.

**To Reproduce**

[code]

[2020-10-02 21:04] jeromesimeon commented on #591
Fixed in #590

[2020-10-02 21:04] #591 closed

[2020-10-07 09:46] dselman opened #594 "Format numbers as words"
Many contracts included numbers, which are also spelled out is words. IANAL so I can't speak to *why* this is important, but it is commonplace! I have seen several contracts recently where the number and the words are actually out of sync, which created considerable confusion!

E.g.

[code]

Which should presumable have been:

[code]

**Describe the solution you'd like**
Support a formula that can

[2020-10-07 10:47] dselman opened #595 "Parser doesn't accept negative integers"
**Describe the bug**
The sample.md within the attached template contains a negative integer. Parsing fails with

[code]

[saas-pricing.zip](https://github.com/accordproject/cicero/files/5339957/saas-pricing.zip)

**To Reproduce**
Run `cicero parse` with the attached template.

**Expected behavior**
Parser generation should allow negative numbers.

**Desktop (please complete the following informati

[2020-10-07 14:06] #595 closed

[2020-10-07 14:10] jeromesimeon commented on #594
Q: Would we want to support parsing of those (e.g., as an alternative to the digit-based syntax) or would this behave more like and Ergo formula?

[2020-10-07 14:23] dselman opened #596 "Format Expression for Integer and Long Data Types"
Currently custom number formatting is only supported for the `Double` data type in TemplateMark. It would be useful to also support number formatting for `Integer` and `Long` data types.

**Describe the solution you'd like**
Allow formatting expressions like `{{freeUnits as "0,0"}}` to be applied to variables with the Integer/Long data type.

[2020-10-07 14:40] dselman commented on #594
My initial instinct was that this should behave like a formula, but then I read:
https://weagree.com/drafting-principles/6-typical-drafting-habits-and-legalese/6-3-numbers-and-formulae/a-best-practice-rules-on-drafting-numbers/

Which makes the case for drafting small numbers as words, and occasionally including both the number and the word form. Perhaps we can raise this question to the lawyers i

[2020-10-07 15:27] peterhunn commented on #594
Some consider it unnecessary and bad form to state the same thing twice. However, imo, it is a fairly common practice and unlikely to go away soon.

Often there are mismatches like this is due to: (1) suggested changes in certain editors that are not persisted in the document, and certain changes are accepted and others are not; or (2) a value is changed multiple times and tracked changes become u

[2020-10-07 15:31] jeromesimeon commented on #594
@peterhunn Thanks for the insights. Very useful.

That's an interesting idea. This could be an extension to the format (e.g., `NNNN` for long-worded numbers)

One more question: do you sometimes have _only_ the words but not the corresponding number? (e.g., `in the amount of ten thousands dollars`.

[2020-10-07 15:33] dselman commented on #594
Yes, some [best practices](https://weagree.com/drafting-principles/6-typical-drafting-habits-and-legalese/6-3-numbers-and-formulae/a-best-practice-rules-on-drafting-numbers/) are to use words for small numbers only. The link has some examples.

[2020-10-07 15:37] jeromesimeon commented on #594
That means very weird (possibly difficult) parsing. Who decides what a small number is? Do we need that feature?

[2020-10-07 15:42] dselman commented on #594
I think we can start with a formula that renders a number as words. I suspect that will solve 90% of the problem... We can then wait and see if additional requirements arrive.

[2020-10-07 15:45] jeromesimeon commented on #594
Two questions:
- Do we really need this feature? This does not feel like a priority
- I like @peterhunn 's proposal to do it as a formatting option for the amount. This means you do not have to add this kind of functionality to the Ergo compiler (and down the road support it in WASM, etc) -- at least initially.

[2020-10-07 15:53] dselman commented on #594
1. I frequently run into contracts that spell out numeric amounts in words. I'd guess that 50% of the contracts I see have it somewhere, so it's definitely something people have to manually keep in sync right now.

2. Not sure I understand this. If it becomes an `as` formatting option on the `{{variable}}` in TemplateMark then I'd expect it to parse as well as draft for consistency. Are you referr

[2020-10-07 16:00] jeromesimeon commented on #594
I was thinking the format could make the number itself mandatory. so e.g., `WWWW 0,0.00` would be valid but not `WWWW` so you can always parse from the number and check that it is consistent with the words.

But I could certainly add it to the new Ergo compiler after we've merged it in if we feel this is where it should be.

[2020-10-07 19:00] jeromesimeon opened #597 "Clarify / make more uniform handling for templates without logic"
**Is your feature request related to a problem? Please describe.**
Currently:
- templates without logic or formulas support `parse` and `draft` but no other command (e.g., `initialize` or `trigger`)
- templates with logic support all commands
- templates without logic but with formulas are handled like contracts with logic

This can be a bit surprising, especially `cicero initialize` sometimes wor

[2020-10-07 19:02] jeromesimeon commented on #597
^^^ @dselman

[2020-10-07 19:08] jeromesimeon commented on #597
Note, this also mean that logicless templates, currently, cannot be open in template studio:

<img width="1130" alt="Screenshot 2020-10-07 at 3 07 41 PM" src="https://user-images.githubusercontent.com/670099/95376320-eee13380-08ae-11eb-9873-2da00ddaef86.png">

<img width="1364" alt="Screenshot 2020-10-07 at 3 07 18 PM" src="https://user-images.githubusercontent.com/670099/95376331-f1438d80-08ae-11

[2020-10-07 21:10] jeromesimeon commented on #594
Discussed during a Tech WG call. This reference is interesting:

https://www.delawarelitigation.com/2019/01/articles/chancery-court-updates/words-prevail-over-conflicting-numbers-in-contract/#:~:text=A%20recent%20Delaware%20Court%20of,that%20is%20inconsistent%20and%20contradictory.

[2020-10-07 21:35] #596 closed

[2020-10-21 16:34] dselman opened #598 "Support for Custom Resources"
It would be useful for template developers to be able to include custom resources within their templates.

**Describe the solution you'd like**

1. If a template on disk contains a folder `resources` the files inside should be included within the template archive.
2. A template created from an archive should make the resources available via API (see below)

## API Changes

Add the method:

[code]

[2020-10-22 03:25] martinhalford commented on #598
I think this would be extremely useful!

We have examples of contracts that include attachments. These attachments are commonly static PDFs, DOCX or images. For example, utility bills included in real estate sale contracts.

However, sometimes the attachments are signed agreements which are represented as a Accord templates in their own right. For example, real-estate sale authorities in the State

[2020-10-23 00:52] martinhalford opened #599 "Function "format" not available within Ergo Expression"
Consider the following grammar:
[code]
where dueDate is defined in the model as:
[code]
The output is:
[code]
Other functions, such as `toString` work fine.

Would be nice if we could format DateTime variables within Ergo Expression blocks.

Also.... note that, even though it is not needed, the Ergo syntax *must* have an `else` clause, otherwise the compiler throws a parser error.

For examples, t

[2020-10-23 12:37] jeromesimeon commented on #599
I'll have to dig out the status of that `format` function. My hunch is that it's been removed, but left in the documentation.

However, you can use date time formatting in Ergo using the `Expr as Format` expression:

[code]

[2020-10-23 12:45] jeromesimeon commented on #599
About the separate question:

What would you want the expression to return if the condition is false?

I might be wrong, but I am guessing that answer is likely dependent on the context (here maybe `""` but maybe something different for other conditionals).

[2020-10-23 12:57] jeromesimeon commented on #599
Actually, the `format` function does work as expected, but it's in the `org.accordproject.time` library: https://docs.accordproject.org/docs/ref-ergo-stdlib.html#time

So you will need to import it (as you would for any other date time functions):

[code]

Here is a fixed up archive:
[empty-contract.zip](https://github.com/accordproject/cicero/files/5429553/empty-contract.zip)

[2020-10-23 23:43] martinhalford commented on #599
Thanks @jeromesimeon - My bad on the missing import.  Thanks for pointing this out and sorry for wasting your time. Appreciate the updated doco too.

Regarding the mandatory nature of the `else` clause... I have to keep reminding myself that Ergo is a functional language and evaluates everything. I'm used to more procedural languages which allow the `else` to be optional.  All good.

[2020-10-23 23:43] #599 closed

[2020-11-05 10:53] fnaeemgsi opened #600 "Cicero Template Version"
Hello Team,

I am using cicero latest version (0.21.9). Is there any way to allow cicero node package to accept multiple template version?

Please help me about that request.

Thanks

[2020-11-10 15:59] rafaelLawrence opened #601 "Unable to parse while using proxy"
**Description**
Using cicero on a work computer with a proxy. When I try to parse within a new or existing template I get the below error.

C:\Users\lawrenr\hw\helloworld>cicero parse
2:54:55 am - info: Using current directory as template folder
2:54:55 am - info: Loading a default text/sample.md file.
2:54:58 am - error: Failed to load model file. Queue: [object Object],[object Object],[object Ob

[2020-11-17 09:05] Gonza116 opened #602 "[Question] Can I use Cicero in Ehtereum?"
(Probably this isn't the place to ask but I can't find anywhere else to do so, so if this issue should be closed I would like for you to tell me where can I ask this before actually closing it).

I'm doing a final degree thesis on smart contracts and I wanted to use Cicero, as it is agnostic, in both Fabric and Ethereum. However, I can't find any info on using Cicero in the EVM. Do you have any id

[2020-11-17 10:38] dselman commented on #602
Short answer is "no".

Longer answer is that you could run Cicero off-chain and then write code to send obligations to Ethereum (this is what my employer clause.io does, for example).

Even longer term there is a project underway to compile Ergo logic to WASM code, which should (one day) be runnable on-chain in the EVM via the eWASM Ethereum project.

[2020-11-18 08:56] Gonza116 commented on #602
Okay, thank you very much for your answer, it was super clear!

[2020-11-18 08:56] #602 closed

[2020-11-24 01:56] OliverTod opened #603 "Cicero is not able to handle dotpoints in markdown inside a context switch"
Cicero is not able to parse variable fields that are contained in a simple markdown unordered list (that is, dot points using a dash or asterix) that are inside a context switch.

To reproduce, load any working template and amend the grammar/sample files so that a variable is listed using a markdown dotpoint, for example:
![image](https://user-images.githubusercontent.com/73812545/100036330-1f2b64

[2020-11-24 01:57] OliverTod commented on #603
Ignore my slight typo (the period is in the wrong place) - moving it does not change the error code

[2020-11-24 02:03] OliverTod commented on #601
Hi Rafi

What happens if you leave the original syntax unamended - and simply run the parse command with your internet disconnected?

I was trying to reproduce your error, and noticed that this worked for me. Cicero appears to use local models if it cannot connect. Might be a workaround for you.

[2020-11-24 08:19] dselman commented on #603
Not sure I understand your model. The HelloWorldState model: https://templates.accordproject.org/helloworldstate@0.14.0.html

Has a single variable called "name" so you do not need to wrap it in the context switch "with party".

If you attach your CTA we would have more information.

[2020-11-24 22:32] OliverTod commented on #603
Hi Dan - you're absolutely right. I missed a pretty big bit of context when describing my error! The error appears to only occur when the md syntax is inside a context switch. I will edit my original issue (above) and include a .cta.

If this is by design - then please feel free to close this issue.

[2020-11-25 10:40] dselman commented on #603
I tested your attached CTA - which is working nicely (as designed!). The `with` block allows you to navigate complex models, switching context to bind different fields in complex objects.

Output from `cicero parse`

[code]

[2020-11-25 11:24] OliverTod commented on #603
Thanks for following up Dan. Will have to play around to see why it doesn't work on my machine.

[2020-11-25 12:11] dselman commented on #603
Please list the output of these commands:
[code]

Please confirm OS and version.

[2020-11-25 21:02] rafaelLawrence commented on #601
Thanks for the suggestion. Unfortunately the Virtual Machine environment I'm working in doesn't function without internet.

[2020-12-03 12:37] discochance opened #604 "Expose the request to cicero-engine.init()"
**Is your feature request related to a problem? Please describe.**
A the moment, init sets the parameters to `{}` in https://github.com/accordproject/cicero/blob/b78e759d47053f73f9d7a5d357b4ace98807da40/packages/cicero-engine/lib/engine.js#L85 but for certain use-cases, it is necessary to pass an object to the init clause.

**Describe the solution you'd like**
The interface could expose the object

[2020-12-20 21:59] OliverTod commented on #589
I am having the exact same issue Martin. I'm not sure if it can be solved with clever reformatting of the text so the ergo expression sits outside the ulist/with - but either way it would be nice to be able to just do it as you've proposed above.

[2020-12-23 04:32] imSanko commented on #604
I wanna work on this project can you assign it to me.

[2021-01-07 00:50] OliverTod opened #607 "Cicero Draft normalises indents to 3 spaces instead of the standard 4"
**Describe the bug**
Running cicero draft over a template grammar file to create a sample.md file results in indents being normalised to only having three spaces. This is inconsistent with the [CommonMark standard](https://spec.commonmark.org/0.29/#lists) of 4 spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple template grammar which uses an indented list of 4 spaces
2. R

[2021-02-12 15:32] jeromesimeon opened #610 "DateTime version 2: timezone offsets, legal timezone, etc."
**Is your feature request related to a problem? Please describe.**

Concerto 1.0 has removed the ability to maintain timezone offset in input data.

In addition, it would be nice to have the ability to specify a legal timezone for a template. (e.g., `America/New_York` `Antarctica/DumontDUrville`)

Possibly, we may want to have the ability to indicate timezone constraints as part of the template if

[2021-03-15 17:46] jeromesimeon commented on #604
Thanks for the report @discochance. After some review it seems that this was always something supported by the engine, but simply not exposed in the API.

I have a PR #620  open to allow `cicero initialize` (in the CLI) and `Engine.init(...)` with initialization parameters.

Feedback welcome.

[2021-03-15 19:02] jeromesimeon commented on #604
@irmerk I really dislike automatic closing of issues. We should give maintainers and issue originators the chance to further comment before closing.

[2021-03-15 19:09] jeromesimeon commented on #604
@discochance A fix is in! Let us know if this seems satisfactory or if any further questions.

[2021-03-15 19:11] jeromesimeon commented on #603
@OliverTod Not sure if this is still open? Dan seems to think this works as expected.

[2021-03-15 19:15] jeromesimeon commented on #600
@fnaeemgsi Apologies for answering this with so much delays. Could be a bit more specific (maybe with an example of what you are trying to do?).

You should be able to run various template versions as long as they are _compatible_ with your current version of Cicero.

[2021-03-16 09:37] discochance commented on #604
Thank you very much, this is exactly what we needed!

[2021-03-16 09:37] #604 closed

[2021-03-16 12:05] Cronus1007 commented on #531
@algomaster99 Shall I work upon this issue.

[2021-03-16 12:40] irmerk commented on #604
@jeromesimeon the PR template auto links (and thus auto closes) the associated issue which is placed in `L4` (`# Closes #<CORRESPONDING ISSUE NUMBER>`). This can be changed by the author to be something not on [this list](https://docs.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) so GitHub doesn't auto link

[2021-03-16 13:36] Cronus1007 commented on #531
@algomaster99 This issue doen't exist any more. So it is safe to close this issue.

[2021-03-16 13:39] Cronus1007 commented on #524
@jeromesimeon This issue still exists in this version as well so shall I start to work upon this issue.

[2021-03-16 15:43] algomaster99 commented on #531
@Cronus1007 thanks! I think https://github.com/accordproject/cicero/issues/547 takes care of it.

[2021-03-16 15:43] #531 closed

[2021-03-16 16:07] Cronus1007 commented on #478
@algomaster99 Are you currently working upon this?

[2021-03-16 16:08] algomaster99 commented on #478
@Cronus1007 no, feel free to take this up!

[2021-03-16 18:42] Cronus1007 commented on #478
@jeromesimeon @algomaster99 Shall this be implemented to all the packages or are there few packages that shouldn't be included.

[2021-03-17 13:10] Cronus1007 commented on #164
@irmerk @mttrbrts Shall I work upon this issue.

[2021-03-17 14:26] irmerk commented on #164
Sure thing @Cronus1007, I think we should agree on a plan as this one should be challenging.

[2021-03-17 14:44] Cronus1007 commented on #164
@irmerk The plan that I intend to follow is :-
- [ ] While looking upto #426 I will make the required changes that were present in it.
- [ ] Then make these changes as told by @mttrbrts in https://github.com/accordproject/cicero/pull/426#issuecomment-543614375

[2021-03-17 15:35] mttrbrts commented on #164
Yes, those linked comments summarise the problem well. Let us know if you have further questions

[2021-03-18 13:36] Cronus1007 commented on #164
@mttrbrts In `getTemplate` function shall I create the condition if the user is not authenticated then user gets returned with the cache else gets the template.Whats your opinion?

And addressing your questions in the pr #426 different credentials for the same library doesn't make much sense.Since if the user requires different credentials for same library then there is not point of authentication

[2021-03-18 15:59] mttrbrts commented on #164
Perhaps instead the credentials / auth header should be a property to the `TemplateLibrary` constructor. That way any method that needs them (e.g. `getTemplate`, `getTemplateIndex`) has them in scope. This also means that we don't need to change the API of multiple functions.

[2021-03-18 16:09] Cronus1007 commented on #164
@mttrbrts Have a look upon the PR #623 and tell the required changes.

[2021-03-19 15:21] Cronus1007 commented on #161
@mttrbrts How the elements are going to be lost with such an initialization?All the elements can be transferred in a safe manner I guess.

[2021-03-19 15:26] Cronus1007 commented on #164
@mttrbrts In `getTemplate` and `getTemplateIndex` for just the sake of checking of `httpHeader` variable added few `logger` statements.

[2021-03-19 15:40] Cronus1007 opened #624 "Pre Commit and Pre Push hooks for cicero repository"
# Feature Request 🛍️
My feature is related to adding the pre commit hooks and pre push hooks as used in the web-components repository so that linting and testing errors won't arise during the CI/CD testing. This will make to execute the code right before commiting
## Use Case
This will reduce the dependency upon CI/CD for the os used by the contributor as well the contributors will be able to know

[2021-03-19 16:47] mttrbrts commented on #161
This is a stale idea. Closing

[2021-03-19 16:47] #161 closed

[2021-03-19 18:39] Cronus1007 commented on #594
@jeromesimeon Is this issue still available for work.I would like to work as well share my ideas upon this issue.

[2021-03-19 18:40] jeromesimeon commented on #594
Sounds great @Cronus1007

Would be great if there was a library we can use for this?

[2021-03-19 19:29] irmerk commented on #624
Is there a reason to do it pre-commit and pre-push rather than in the PR testing checks?

[2021-03-20 04:51] Cronus1007 commented on #624
Git hooks used in this way are a sign of a team that cares about code quality and code maintainability.When developers start delaying commits, increasing the size of commits, or batching commits to defer pushing their changes, we are losing ground. Continuous Integration is about minimising the time any change is isolated from any other change. The pre-commit experience needs to be fast and fricti

[2021-03-22 12:28] Cronus1007 commented on #594
@jeromesimeon The plan that I intend to follow to resolve this issue :-
- [ ]  NPM package to be used [this](https://www.npmjs.com/package/to-words)
- [ ] Files where the desired changes need to be done (Will need a little bit of help for this step)
- [ ] Little instance of code to be written
[code]

[2021-03-22 12:30] jeromesimeon commented on #594
Looks good! One of the challenges we have in AP is that we also _parse_ contract text. Not sure how to make that feature work with this. Maybe @dselman will have some thoughts.

[2021-03-22 12:37] Cronus1007 commented on #594
@jeromesimeon Sure lets wait for @dselman inputs and then I shall create a draft pr for maintainers to have a look.

[2021-03-23 14:48] niallroche opened #625 "Cicero outputting {{/optional}} in contract output"
# Bug Report 🐛
where using an {{#optional block with an else in either the true or false case of the dependent variable the trailing close {{/optional}} is being output into the contract text

## Expected Behavior
the contents of the optional or else blocks only should be output

## Current Behavior
{{/optional}} is being appended

## Possible Solution

## Steps to Reproduce

[sampledata_sections.

[2021-03-23 15:29] jeromesimeon commented on #625
This issue is more or less a duplicate of https://github.com/accordproject/markdown-transform/issues/316

The example is not currently supported (you cannot have an `{{optional}}` that spans multiple commonmark [blocks](https://spec.commonmark.org/0.29/#blocks).

You can see why there is an `{{/optional}}` left in the templatemark dingus here: https://spec.commonmark.org/0.29/#blocks

If you inspe

[2021-03-23 16:00] jeromesimeon commented on #625
This is true of all "inline blocks" in the documentation: https://docs.accordproject.org/docs/markup-templatemark.html#inline-blocks

[2021-03-23 17:26] Cronus1007 commented on #624
@irmerk @mttrbrts @jeromesimeon @algomaster99 Any updates regarding this issue?

[2021-03-23 17:33] jeromesimeon commented on #624
I'm not entirely clear I am believing this argument. I think CI gives us the `code quality` and `code maintainability` we need on the code being merged into the main repo.

And I am not sure I understand how pre-commit and pre-push hooks would stop any developer from increasing the size of their commits or deferring pushing their changes.

I'm also not grasping what you mean by "minimising the tim

[2021-03-23 17:47] Cronus1007 commented on #624
I think this `Atlassian` blog may help to know much advantages about the `pre-commit-hooks`.
https://www.atlassian.com/git/tutorials/git-hooks#:~:text=Pre%2DCommit,-The%20pre%2Dcommit&text=You%20can%20use%20this%20hook,status%20aborts%20the%20entire%20commit.

[2021-03-23 18:07] jeromesimeon commented on #624
ouch. I'm afraid I'm a little too busy at the moment to read through all this. Is there a tl;dr you could offer?

Can you explain what you mean by "symmetrical" ?

[2021-03-23 18:10] jeromesimeon commented on #624
Maybe more to the point: what specific hooks to you believe we should add, and to do what?

[2021-03-23 18:13] Cronus1007 commented on #624
Sure we can discuss this once you are free.

Here I think that the repositories should follow same coding practices at least like hooks,linters.Since `web-components`  repository offers it so thought of bringing it up.

Pre-Commit Hooks and Pre-push hooks.

[2021-03-23 18:18] jeromesimeon commented on #624
Ah yes that I 100% agree with.

I believe we have linting in all the repos, although there are some significant differences in linting for the React-based repos and linting for all the others. Any suggestion for more alignment on those would be welcome.

I am not aware of any react hooks (maybe we have some in web components? do you have a link?)

To do...what?

[2021-03-23 18:31] Cronus1007 commented on #624
Have a look upon https://github.com/accordproject/web-components/blob/master/packages/ui-contract-editor/package.json#L55 from line 55-60. I am referring this functionality.Here I am referring these as hooks not React Hooks to manage the linting and testing.

[2021-03-23 18:35] jeromesimeon commented on #624
Interesting. I don't remember seeing those or those being discussed.

@irmerk Do you remember this?

@dselman it was in your commit here https://github.com/accordproject/web-components/commit/80b5f1ffbf6ddaa57875ce457a0952725ec57810

Could you explain why we're doing this in `web-components`?

[2021-03-23 18:37] dselman commented on #624
I suspect is was because this repo was created using create-react-app template, or similar.

[2021-03-23 18:42] jeromesimeon commented on #624
As a general matter, the maintainers have an enormous amount of work and I lean towards anything that will make their life easier and help them stay focused on delivering the features the community needs while keeping the overload small.

For that reason we try and keep a really high bar for "infrastructure" changes (like CI, linting, PR templates, etc) since they require a lot of work, unless the

[2021-03-23 18:48] Cronus1007 commented on #624
Yes here comes the role of pre commit hooks as before anyone commit they automate the above mentioned functionality.I think it would be better to close this issue since it has a low priority.Thanks for clearing my doubts regarding pre-commit and pre-push hooks.

[2021-03-23 18:48] #624 closed

[2021-03-23 18:54] jeromesimeon commented on #624
Thanks for the feedback and suggestion 👍

[2021-03-24 19:01] Cronus1007 commented on #594
@jeromesimeon Can you plzz refer me the files that parse contract text and shall I start implementing this feature?

[2021-03-24 19:12] jeromesimeon commented on #594
hi @Cronus1007 The parser is actually located in the `markdown-transform` project. More specifically the parsing for natural numbers (`Integer`) is in this place https://github.com/accordproject/markdown-transform/tree/master/packages/markdown-template/lib/plugins/Integer

Yet it still feels like a pretty ambitious thing to try and parse numbers written in English format (I'd be happy to be wrong

[2021-03-24 19:17] Cronus1007 commented on #594
@jeromesimeon Okk so first shall I give a mock of the code in here only and then will start implementing this issue.

[2021-03-24 19:19] jeromesimeon commented on #594
Reading through a little bit, we might want to offer a "format" for numbers that lets you add an English form. Here is the corresponding part of the documentation for monetary amounts and dates https://docs.accordproject.org/docs/markup-templatemark.html#formatted-variables

Maybe something along those lines would make sense?

[2021-03-24 19:22] jeromesimeon commented on #594
😊 This was, I think, what @peterhunn was suggesting [here](https://github.com/accordproject/cicero/issues/594#issuecomment-705013619). I just forgot!

[2021-03-25 13:26] Cronus1007 commented on #594
@irmerk @jeromesimeon @dselman @mttrbrts @DianaLease @Michael-Grover

[2021-03-25 13:28] jeromesimeon commented on #594
?

[2021-03-25 13:30] Cronus1007 commented on #594
Updated it.Just commented this by mistake.

[2021-03-25 13:33] Cronus1007 commented on #594
These cases can't arise with this implementation since if the user changes the value then draftInteger functions gets triggered and inherited use of toWords in the function will make to automatically change the written text as well.

[2021-03-26 10:36] mttrbrts opened #628 "Build fails on Windows"
# Bug Report 🐛
The automated tests during the build pipeline have been failing on Windows for sometime. This needs further investigation

https://travis-ci.org/github/accordproject/cicero/jobs/761196336
https://github.com/accordproject/cicero/runs/2200931027?check_suite_focus=true

[2021-03-30 16:51] Cronus1007 commented on #594
@jeromesimeon The clause will look something like this.
![oie_L4H3JqzfZ7kl](https://user-images.githubusercontent.com/56436023/113025999-35508480-91a6-11eb-9228-4577253a7e70.png)
![oie_4il3isCL6MW8](https://user-images.githubusercontent.com/56436023/113026012-38e40b80-91a6-11eb-961e-f316b907a672.png)

[2021-04-01 20:19] jwalapc opened #633 "OPEN SOURCE PROJECT"
Hey Myself Jwala ,I want to start contributing in open source project but i dont have much idea about it ,so anyone over here can help me in this thing .What should i do?

[2021-04-01 20:30] jeromesimeon commented on #633
This isn't an issue pertaining to this repository. Please read the contributions guidelines before opening issues. Thank you.

[2021-04-01 20:30] #633 closed

[2021-04-08 23:49] #50 closed

[2021-04-08 23:51] #75 closed

[2021-04-08 23:53] #524 closed

[2021-04-08 23:54] jeromesimeon commented on #305
Parsing still requires quotes to disambiguate. Editing using the Contract Editor, or pdf generation now support without quotes.

[2021-04-08 23:54] #305 closed

[2021-04-09 00:22] jeromesimeon commented on #499
Gah... it looks like this fix was merged into the wrong branch? Unclear, but I'm re-opening for investigation.

[2021-04-09 09:02] #164 closed

[2021-04-13 22:40] adrianffletcher opened #642 "Support for specified sample request, response and state objects"
It would be great to be able to specify a sample request, response, state and event object rather than just randomly generating data for the documentation of a Smart Clause Template.

**Describe the solution you'd like**
I would like to be able to specify a sample json file for the request, response and state objects in the package.json file which would be used when generating the documentation fo

[2021-04-14 21:26] jeromesimeon opened #643 "Contract execution should return the validated request instead of the input request"
### Description

Currently, Cicero contract execution returns the input request rather than the request after validation. This means we do not have default values, identifiers, or timestamps. This is inconsistent with what we do on responses, so looks a little odd:

[code]

[Notice: `response` has a `$timestamp` but `request` does not]

It might be preferable to return the validated request. What

[2021-04-14 21:27] jeromesimeon commented on #643
I believe the change would be simple, and occur here: https://github.com/accordproject/ergo/blob/881ceb5d1471f98554639cd03a631fd1a6ebfb32/packages/ergo-engine/lib/engine.js#L136

[2021-04-14 21:27] jeromesimeon commented on #643
@mttrbrts @dselman @martinhalford would love some user-level feedback on this.

[2021-04-14 21:36] mttrbrts commented on #643
I can't see an issue with this. The interaction model is a synchronous request/response and the client will always have the original request instance.

Are there any instances where values from the input could be changed by validation, or is validation always additive?

[2021-04-14 23:16] jeromesimeon commented on #643
That is a really interesting question...

Besides default values... all I can think of:
1. date time values will be normalised to ISO in the specified utcOffset timezone
2. `foo:null` things will be removed (I wished it was the other way around -- See https://github.com/accordproject/concerto/issues/197)
3. Double values will be normalised...

So depending on how you think of additive, it's not en

[2021-04-14 23:19] jeromesimeon commented on #643
Interestingly, there isn't an easy way for the application to get the validated request (would currently need a separate call to the validator).

[2021-04-14 23:37] martinhalford commented on #643
This hasn't (so far) been an issue for us.  However, if the request object is modified by the validator then I'd certainly like to see what was actually processed by Cicero.  I can imagine some scenarios where an obscure bug might be obfuscated if the contract template developer is looking at the stale request object and not realising this might be different to what Cicero executed.  Thoughts?

[2021-04-15 06:41] sanketshevkar commented on #597
@jeromesimeon while investigating this issue, I was working with ergo-engine code. I found out the following behaviour.

- While I was using ergo-engine v0.21.9 I was able to use init method and it gave a output as expected. I initialised the [helloworldstate](https://templates.accordproject.org/helloworldstate@0.14.0.html) template.
- But then I linked the ergo-engine v0.22.0 alpha.4 that time us

[2021-04-15 09:54] mttrbrts commented on #643
@jeromesimeon can you clarify, is the validated output request object actually the same as the input to the engine? I.e. validation happens before and after execution?

For example, to @martinhalford's question, this is a concern, and area for weird bugs, but it's no different than what we have already on the input side.

[2021-04-15 12:21] sanketshevkar commented on #597
Hello @jeromesimeon ,
I wanted to test a template with formulae but without logic. Can you please suggest a template that I can use for the same?

[2021-04-15 12:46] jeromesimeon commented on #597
It's expected. Not really because Ergo `0.22` is still an alpha version (although, of course it is), but simply because that new version is a breaking change so we have to make changes to template studio to support it.

[2021-04-15 12:46] jeromesimeon commented on #597
Look in the template library for templates without a logic directory (I think there are a few).

[2021-04-15 14:05] jeromesimeon commented on #597
@sanketshevkar I think I read your question a little fast. I don't think there is one without logic but with formulae... Someone will have to try and create one!

[2021-04-15 14:47] sanketshevkar commented on #597
@jeromesimeon I have searched templates in cicero template library, but found none.

Also, I was curious that what would be the cases where there could be a need to `initialize` and `trigger` templates without logic? Since no logic involved, there is no state type, request type, response type and emit type associated with it.

If we want to `initialize` these templates we'll need at least need a s

[2021-04-15 14:51] jeromesimeon commented on #597
Those are all good question. I think it depends how you think of "no logic" is it really no logic, or is it "empty logic" in which case you could have a default initialisation to an empty state and no request would trigger execution but the trigger call could still exist.

[2021-04-15 17:11] sanketshevkar commented on #597
Thank you @jeromesimeon. I think this problem is better handle from the ergo packages than cicero. I am trying the same. Would that be correct thing to do?

Also, do all templates need to have a contractName? I am the same signature block template you used above. I'm getting a error in ergo-engine because the contractName is null.

[2021-04-15 18:04] jeromesimeon commented on #597
@sanketshevkar I think it could probably be handled directly in template studio? This would be worth investigating as it's much less intrusive. (i.e., not do the invoke call in the first place)

[2021-04-15 18:23] sanketshevkar commented on #597
@jeromesimeon, yeah I'll investigate this approach too. But then `cicero init` & `cicero trigger` would still fail.

I have changed some code on the `ergo-engine` and `ergo-compiler` v0.21.9 to solve this issue. Should I create a PR for that?

[2021-04-15 18:28] jeromesimeon commented on #597
Right. yes sorry I confused two different issues here maybe. sure, if you have something to review, I'll be happy to take a look.

[2021-04-16 14:12] sanketshevkar commented on #597
Hi @jeromesimeon,

I have created a PR for the ergo respository.

[2021-04-19 04:45] #600 closed

[2021-05-05 02:58] NickDarvey opened #661 "Composing clauses into contracts"
# Discussion 🗣

(New to this, forgive my misuse of terminology.)

I'm curious as to how individual clauses can be composed into a contract. I see this briefly mentioned in https://github.com/accordproject/cicero/issues/15#issue-282291399 but couldn't follow the thread as to where this stands today. Is there a design defined for this? Is it being discussed somewhere?

## Context

I'm seeking to und

[2021-05-12 11:59] rmarques20 opened #663 "Having problems using the Cicero Node.js API"
So I'm trying to use your Cicero Node.js API and I always end up having an error while trying to follow this [guide](https://docs.accordproject.org/docs/tutorial-nodejs.html).

When I try to get the template I get an error about this code line regarding the await command

`const template = await Template.fromDirectory('./test/data/latedeliveryandpenalty');`

Is there anything I can do to make this

[2021-05-12 12:14] dselman commented on #663
I suspect it is because `await` can only be called from an `async` function.

This repl workspace may be useful:
https://replit.com/@DanSelman/Cicero#index.js

[2021-05-12 13:31] rmarques20 commented on #663
Thank you so much for your help, the problem is solved

[2021-05-12 13:31] #663 closed

[2021-05-22 04:00] frbrkoala commented on #562
Hi everyone. After building a prototype, I came to the following idea for the format:

# Smart Legal Contract Instance Archive Structure

What contract instances should support:
- Export and import contract instances with it's history of executions between platforms (e.g. Clause.io <> BeNext)
- Run the logic and capture all outputs and states
- Support non-repudiation for all actions performed by

[2021-05-23 05:49] martinhalford commented on #562
Wow, Thanks @frbrkoala !! That's awesome work. Will revert shortly with comments.  @tbrooke - Let's discuss this with Sanket for the Digitial Signing GSoC project.

[2021-05-23 11:50] mttrbrts opened #664 "Long Term Support Strategy"
Currently, AP does not make a commitment to support periods for releases.
- Major version releases are driven by  features that require breaking changes.
- Typically, patching is performed only for the latest major release.

This issue is intended to capture input from the community before determining an LTS policy.

Also see the discussion from the recent Working Group call, https://vimeo.com/553

[2021-05-23 13:21] tbrooke commented on #562
Great effort @frbrkoala !! I really like the idea that a contract can be signed and that the state can be maintained as the contract executes with everything being maintained in a package so that the contract can run on any platform supporting Accord .

[2021-05-24 04:25] frbrkoala commented on #562
Thanks @martinhalford and @tbrooke ! With such self-containing approach I am also aiming at using the dApp pattern from the blockchain world. That way all the parties need is the way to share the most recent version of the contract instance file and trigger web-form-driven clauses right in a browser with a wallet plugin. Digital signatures in this case can be done with a wallet like [Metamask](htt

[2021-05-24 04:30] martinhalford commented on #562
That's great @frbrkoala.  I tend to agree that a fully self-contained approach would be ideal. However, we do need to accommodate old-school signing patterns for scenarios where users may not be able to use Metamask etc.

FYI... Not sure if you are aware but we have a Google Summer of Code project about to kick off with a student developer. It would be great if we could incorporate your thoughts a

[2021-05-24 04:34] frbrkoala commented on #562
Agreed, @martinhalford and that's where the "SIMPLE" should be handy. With that mode we just create hashes for data integrity verification and can be used in traditional signing.

[2021-05-24 12:18] tbrooke commented on #562
Sanket Shevakar at shevkar.sanket@gmail.com is the Google Summer of Code entrant. He is also on Slack and that may be the best place to reach him

 @frbrkoala you have expressed and implemented what I have been thinking about for a while and if you can independently verify the state and content of a package on different platforms you can almost do away with the blockchain -- Blockchain has the pub

[2021-05-25 02:28] frbrkoala commented on #562
@tbrooke @martinhalford , I've pinged Sanket, will share with him my thoughts, thank you!

And yes @tbrooke , I think I need to dive deeper into the ways contracts are digitally signed now in a more traditional scenarios. Is Docusign the type of service we are aiming at? If yes, then I believe "SIMPLE" approach will work.

As for the problem of agreeing on the shared state, I think it can be solve

[2021-05-25 03:21] jeromesimeon commented on #562
@frbrkoala @martinhalford @tbrooke This is fantastic. Also a lot to absorb. I'm wondering if there is a way for me to catch up/get involved in the design and discussion around this?

[2021-05-25 03:44] martinhalford commented on #562
@jeromesimeon - The more the merrier!  I'm thinking to create a Google Doc to capture all of the above in a single place, so we can edit/comment accordingly. That might be easier than trawling the trail of comments. What is your preference?

We're also, probably, going to need a GitHub Project.  I'm conscious that Sanket will be working on some of the above for the GSoC project and it would be goo

[2021-05-25 04:48] sanketshevkar commented on #562
@frbrkoala @tbrooke @martinhalford this looks amazing. I think the approach I described in my gsoc proposal can easily be integrated with the approach proposed by @frbrkoala above.

[2021-05-25 06:47] dselman commented on #562
Nice work @frbrkoala - this makes sense to me. Essentially this pushes the "ledger" into the zip and we provide the code to process transactions and to verify the transaction history. It's not a million miles away from how the AP Fabric chain code operates.
As an aside, we still need to solve for the problem that "only party A can process transaction X" via Ergo enforce expressions over the identi

[2021-05-25 07:52] pkel commented on #562
Great proposal @frbrkoala!

This observation is important. Legal contracts usually involve a **small** number of **identified** parties. In these cases, agreeing on a common state is relatively straightforward. Like @frbrkoala says, one potential solution is that all involved parties sign the latest state. If a party refuses to sign and thereby blocks progress, you can rely on legal recourse to re

[2021-05-25 08:32] pkel commented on #562
Have you thought about encoding the signatures as special kind of transactions? E.g. a series of transactions for a contract lifecycle could look like this.

1. `init`. Party A initializes the instance.
2. `fund 100`. A deposits 100 units.
3. `sign`. A signs all transactions up to 2. Thereby, A certifies that it is willing to enter a contract with B funded with 100 units.

Party A sends the contra

[2021-05-25 08:34] pkel commented on #562
Do you plan to make the last signed state available to the contract logic? Then, the logic could specify signature requirements (e.g., `close` clause expects signatures on the last state by all parties)

[2021-05-25 10:06] martinhalford commented on #562
Hi @pkel @frbrkoala @sanketshevkar @tbrooke etc... This is all really great thinking and I'd love to see some of these ideas implemented.

However, my initial reaction is that we need to keep things relatively simple to start with and resemble real-world usage as much as possible.

The typical user journey for a legal contract (as opposed to a blockchain contract) is:

1. **Draft (Template) mode**

[2021-05-26 11:27] martinhalford commented on #562
@tbrooke @jeromesimeon @dselman @pkel

FYI... Today, @frbrkoala, @sanketshevkar and I had a brainstorming session around contract instances and signing.

The attached diagram is a further refinement on the above but still very much a work-in-progress.

The focus is simplicity, minimising complexity and trying to make sure the user journey fits real-world scenarios.

https://docs.google.com/drawing

[2021-05-26 12:11] mttrbrts commented on #562
I like it! The graphic is very helpful. A few thoughts ...

Should this read "Only Cicero Instances are signed. There is no provision to sign a Cicero ***Template***"?

However, I see value in being able to verify the author of a template (which could be achieved through a Digital Signature). This is a different use of "signing".

The former is more immediately addressable and doesn't depend on co

[2021-05-26 12:15] rsilva-uw opened #665 "Allow options to pass to JSZip when using fromArchive"
I have an API that provides me with .cta files encoded in base64, and from archive expects a .zip file. Although if I could pass custom options to the JSZip inside the fromArchive method, I could just say that I'm using a base64 file (https://stuk.github.io/jszip/documentation/api_jszip/load_async.html) and it would work just fine.

[2021-05-26 12:38] dselman commented on #665
You can use `Buffer.from` to convert your base64 string to a Node `Buffer` object, which can then be passed into `fromArchive`.

Example:
[code]

[2021-05-26 12:48] rsilva-uw commented on #665
Oh, my bad. Didn't know I could do that. I was trying to use the `js-base64` lib to decode but then the template engine just throwed me errors asking for a zip file. Thanks for you help guys :smile:

[2021-05-26 12:49] #665 closed

[2021-05-27 08:46] frbrkoala commented on #562
Hi @pkel ! Yes, the idea is to keep track of all signatures in a dedicated file (s) that looks as a transactions log, but essentially it contain the information about who performed an operation, their signature and references to the artefacts involved (the version of prose, state or run results). The only requirement is for the signatures to be added sequentially, so that it will be clear that sub

[2021-05-27 14:58] jeromesimeon commented on #551
@DianaLease Fixed in the Cicero `0.22` with the lovely strict validation from Concerto `1.0`! 😃

[code]

[2021-05-27 14:58] #551 closed

[2021-05-27 14:59] jeromesimeon commented on #607
This issue should be discussed and addressed in the markdown-transform project, which powers the draft and parse commands (or generally any markdown-related processing). I'm transferring this issue there.

[2021-06-02 10:40] tomas99batista opened #669 "Parser enum bug"
When parsing enum values the parser has a greedy approach, resulting in an error.

I have an enum

[code]
and when using the values on the markdown text I can't use the values GREATER_EQUAL and LESS_EQUAL . All the other values are okay and even this last 2 are ok when using them inside an emit on the logic.

[code]

## Expected Behavior
It should parse GREATER_EQUAL and not interpret that is a GR

[2021-06-08 17:31] sanketshevkar opened #671 "Method for template signing and verification in Template class"
# Feature Request 🛍️

## Context

A method that will be used by template instances to sign the template markdown, logic and model.

## Detailed Description

Using crypto module from nodejs and node-forge library to execute this method. Use PKCS12 keystores to sign the contents. This method will be used in toArchive method. Users will pass the path to the PKCS12 keystore, password for the keystore

[2021-06-08 17:32] sanketshevkar commented on #671
@jerome does this format look good to you?

[2021-06-08 17:49] jeromesimeon commented on #671
hi @sanketshevkar Looks like a good start! A few things that may help:
- a bit of a description for the user functionality (as a user I want to sign a contract because XXX to do YYY through API/through ...).
- related issues so we can keep track of how things connect. e.g., there is already an issue for signing templates #262 or #558

[2021-06-08 18:04] sanketshevkar commented on #671
Thanks @jeromesimeon. I'll make these changes.

[2021-06-09 13:22] lambdafu opened #673 "CTA validation"
Just some random thoughts: We are thinking about validation of CTA files, at least at the syntax level. Are all required files contained in the cta file, does normalize run through with sample data, is the ergo code syntactically valid? Are these things that you have already considered? Of course, validating the logic of the ergo code is a whole different matter. Another idea: Unit tests inside th

[2021-06-09 18:48] jeromesimeon opened #674 "Markdown and Document Model Feature: Priority List"
# Discussion 🗣

An informal poll for "most wanted" extensions to the current markdown and document object model was conducted a few weeks ago. For reference here are the results of that poll, with links to the corresponding issue for each feature.

## Detailed Description

| Priority | Feature | Issue(s) |
| ------------- | ------------- |---------|
| High | Tables  |  https://github.com/accordpro

[2021-06-09 18:59] jeromesimeon commented on #501
Should be considered done (new parser, etc).

[2021-06-09 18:59] #501 closed

[2021-06-15 15:46] jeromesimeon commented on #673
hi @lambdafu the Cicero library does a fair amount of validation already, from memory:

- validate metadata (proper JSON, contains name, version etc)
- validates the data model (`./model` directory)
- validate grammar (by building the parser, notably checks that the template variables are defined in the model)
- validate the Ergo logic (parsing and type checking)

You should be able to see that in

[2021-06-15 15:51] jeromesimeon opened #677 "Create a contract Instance directly from an archive"
# Feature Request 🛍️

Currently templates can be stored in an archive (`./cta`) and distributed but contract instances cannot. It would be very useful to give the ability to support instance-level archives for storage, exchange, etc.

## Use Case

Ability to package a contract instance for distribution / reuse.

## Possible Solution

`toArchive` and `fromArchive` methods on the `TemplateInstance`

[2021-06-20 12:22] jeromesimeon opened #678 "Should archive files be actually compressed?"
# Discussion 🗣

I'm unclear that `cicero archive` used to create `.cta` files actually compress them in the corresponding zip. Should the archive use compression?

Example with `cicero archive`:
[code]

Example with `zip -r`:
[code]

[2021-07-15 13:32] norweis opened #680 "Variables within #optional body are reported as unknown"
In the Contract Grammar field, variables within #optional body are reported as unknown. E.g. (with "String name optional" in a model), the following reports: "Unknown property: name File text/grammar.tem.md line -1 column -1":

      {{#optional name}} Name: {{name}} {{/optional}}

No variables are evaluated within the #optional Body.

## Expected Behavior
In https://docs.accordproject.org/docs/ma

[2021-07-19 03:51] martinhalford opened #681 "The "cicero trigger" command does not support "data.json""
# Bug Report 🐛
There are two ways to populate data into a Cicero Template. Either via a `sample.md` file or a `data.json` file. The `cicero trigger` only supports `sample.md`.

## Expected Behavior
Would expect the following to be a valid command.
[code]
## Current Behavior
If no `sample.md` provided then get error:
[code]
## Possible Solution
Add CLI option `--data` which accepts a `data.json` fi

[2021-08-05 12:15] #681 closed

[2021-08-16 09:23] martinhalford opened #687 "Optional DateTime variables are erroneously defaulted to current date & time"
# Bug Report 🐛

## Details
Consider the following `asset` declaration.
[code]
As the `DateTime date` variable is optional then a user may, or may not, pass a value in via the `data.json` payload.

### Example 1

Using the following `data.json`
[code]
...the `cicero draft` command produces the following `sample.md`
[code]
...which is as expected.

### Example 2

Using the following `data.json` whic

[2021-08-19 20:01] #671 closed

[2021-08-24 17:12] jeromesimeon commented on #678
There is a `compression` option on `jszip` which is `STORE` (no compression) by default https://stuk.github.io/jszip/documentation/api_jszip/generate_async.html

Option would presumable need to be added to this call: https://github.com/accordproject/cicero/blob/558978c230e1a774e587a26c47f83b9ef284e615/packages/cicero-core/src/templatesaver.js#L118

[2021-08-24 17:55] mttrbrts commented on #678
I had always assumed that this was what happens already!

Would this be a breaking change?

[2021-08-28 09:54] pruthvirajjadhav1 opened #693 "Good first issues request"
# Discussion 🗣
I had gone through the whole project and I'm really excited to contribute to it if is there any good first issues then please assign me.

And the slack joining link is not working I would like to connect with other contributors over there so please send the slack link.

[2021-08-30 11:05] K-Kumar-01 commented on #693
@pruthvirajjadhav1
Welcome to Accord Project.
For any contribution you want to do, you can have a look at the existing issues in different repositories. You cane filter them by tags like `beginner` or `good-first` which I assume you are asking for. If you think you can solve that issue, ask for the assignment in the issue itself. Finally, create a PR. Kudos, you have contributed to Accord Project.

[2021-09-20 10:25] ramanjitsingh-hub commented on #504
hey I am new to the open source side of coding I really loved the project and want to contribute  as much as I can . It would be really helpful if you could help me to get started and Also if you could guide me to solve this issue

[2021-09-22 21:11] OliverTod opened #696 "Commenting functionality"
Allow commenting for the dual purposes of:
- debugging; and
- notes to other template developers

## Use Case 1: Notes to other developers
Comments would be programmer-readable explanation or annotation in the cicero template. These comments will be added with the purpose of making the source code easier for humans to understand, and will be ignored by compilers and interpreters. This means that t

[2021-09-22 21:12] OliverTod commented on #696
I thought you would all get a kick out of this part of the wikipedia entry on 'Comment (computer programming):
![image](https://user-images.githubusercontent.com/73812545/134422640-79af4cff-66d7-4ab4-85e7-bb54cafb46c5.png)

[2021-09-29 00:16] martinhalford opened #701 "Implement contract instantiation and signing via Cicero-Server"
# Feature Request 🛍️
The recent POC .slc changes provide the capability to `sign` .cta templates, plus `instantiate` and `sign` .slc contract instances.

These features are currently only available via the CLI.

The current Cicero-Server provides an API to `trigger`, `parse` and `draft` templates.

The proposal is to extent the Cicero-Server to include template `sign` and contract `instantiate` an

[2021-09-29 03:49] sanketshevkar opened #702 "Logic file missing when creating a contract instance archive (.slc) from a compiled archive template."
# Bug Report 🐛

`logic` folder is empty when creating a `.slc`  from a compiled template archive having logic is written in `javascript`.

## Expected Behavior

The `.slc` archive should have a `logic/Main.js` file.

## Current Behavior

The logic folder is empty.

## Possible Solution

Pick up the `runtime` language from package.json and pass it on to the `toArchive`  function in `contractinstanc

[2021-09-29 12:37] jeromesimeon commented on #701
That sounds great! Would instantiate allow you to create something server side? (not sure I know if the architecture would make sense for that kind of server-side support)

[2021-10-01 08:55] rmarques20 opened #703 "Certificate has expired"
So I keep getting this error when I'm using the Cicero API
_Error: Failed to load model file. Job: https://models.accordproject.org/accordproject/runtime.cto Details: Error: certificate has
expired_

I don't what is happening it just happen suddenly and now I can't run the node API

[2021-10-01 09:06] rmarques20 commented on #703
The error keeps happening but with diferent models that I'm using

[2021-10-01 10:54] mttrbrts commented on #703
Examining the certificate, it appears that it will expire in December.

[code]

Netlify also confirms the same:
![image](https://user-images.githubusercontent.com/7544022/135607838-dd3bf74d-011a-4fca-88a6-f8078b9f362e.png)

@rmarques20
1. Can you provide steps to reproduce, please?
1. Which version of Cicero are you using, please?
1. What output do you see when running the command `curl -v https:/

[2021-10-01 13:53] rmarques20 commented on #703
Yes I can confirm that the certificate will expire in December but for some reason it says that it is expired. Sometimes the error changes the model but the error is the same.

1. Yes I can. I'm using this as a controller with this code
![image](https://user-images.githubusercontent.com/28826236/135630458-b67fcf88-f613-4b15-bc48-f714347b1629.png)
But when I run this with node it throws the error
!

[2021-10-01 15:40] mttrbrts commented on #703
@rmarques20 Node v8 has been end-of-life for nearly two years now, can you upgrade to an active version (i.e. v12, or preferably v14). I've known weird certificate issues with old versions of node in the past.

The postman example is interesting, I was able to replicate that, but it was resolved by upgrading postman to v9

[2021-10-01 15:58] rmarques20 commented on #703
No problem at all! Thank you so much for your help and the quick response.

The computer that I am using is not mine so probably a lot of the software is outdated, when I've noticed it I made the update and it started running without problems.

Once again, I'm sorry for taking your time and thank you for the help.
Best regards!

[2021-10-30 11:28] Rishabhraghwendra18 opened #706 "Setup Git Hooks for linting"
# Feature Request 🛍️

The project doesn't have git hooks which can trigger automatically on committing or any git commands . Git Hooks can help us to automate the process like linting , running some tests before pushing to GitHub , etc .

## Use Case

We can have a `pre-commit` hook which can trigger automatically linting to lint the changed files before we commit .

## Possible Solution

One of t

[2021-11-24 05:04] OliverTod opened #707 "Allow switch statements in TemplateMark"
This issue extends #588.

**Requested functionality**:
Extend TemplateMark so that more complex conditional statements can be used in a bidirectional way. That is, so that users can draft and parse with greater flexibility. This could be done by allowing switch statements.

**Switch statements**
For example, in JavaScript a switch statement is written as:
[code]

Maybe this could be written as: {{

[2021-12-05 20:58] tbrooke opened #708 "ReEmphasize Align Cicero Server API with Cicero CLI #508"
# Feature Request 🛍️

Martin started this request over a year ago and it is still open. Martin did some work and endpoints for; draft, parse and trigger. The CLI has numerous options for validation, deploying contracts etc. The CLI is not very useful in developing applications but having and API to work with contracts would be a huge benefit

## Use Case

A developer could set up the server and us

[2021-12-06 00:54] martinhalford commented on #708
Hi @tbrooke, This is still ongoing work for us and we have added some additional methods to align the API with the CLI. We can discuss on the next Tech WG call if you like? Watch this space.

[2021-12-16 22:52] OliverTod opened #710 "Extend 'separators' that are supported in join blocks"
At the moment, a simple [separator](https://docs.accordproject.org/docs/markup-templatemark.html#join-blocks) can be set by the user that will be inserted between all values in an array when populating a template.

There should be simple syntax and support for specifically setting the standard, penultimate and final separators.

Some doc generation tools use syntax where the | symbol is used to in

[2021-12-28 11:58] Bl4ck-h00d commented on #707
Hi! I would like to work on this feature. Can you please guide me how to get started?

[2022-01-05 21:41] mttrbrts opened #711 "Support for Concerto Vocabularies"
# Feature Request 🛍️

With [support for locale-specific vocabularies in Concerto](https://github.com/accordproject/concerto/issues/360), we can now expose locale variants to users of Cicero templates

## Use Case

A localised Cicero template would allow reuse of the model and logic definition but with different text and terms depending on a user's locale.

For example, a contract written for Canad

[2022-01-16 16:32] Jeevan-Kiran-Lenka commented on #643
Hey!! I'm a new member of this wonderful community, I would like to work on this issue if it's still open or any beginner-friendly issue you guys can suggest.

[2022-01-18 05:34] Krish-bhardwaj commented on #706
Hi @Rishabhraghwendra18 i am a fresher looking for some opensource contribution can u assign me this issue and guide me how to solve this

Thanks in advance

[2022-01-19 04:23] Rishabhraghwendra18 commented on #706
@Krish-bhardwaj . Sorry but I have opened this issue for myself . I am waiting for someone from core team to give their views on it. You may look for issues in the repo

[2022-01-25 11:03] OmkarAcharekar commented on #687
Hey @jeromesimeon @martinhalford, This issue can be solved by making few changes in[ dateTimeDrafter](https://github.com/accordproject/markdown-transform/blob/master/packages/markdown-template/lib/plugins/DateTime/draft.js) function in [markdown-transform](https://github.com/accordproject/markdown-transform) repo. This may work:

[code]
Should I Submit a PR to that repo ?

[2022-01-26 12:31] aryannewyork commented on #707
Hello, I would like to work on this, can you please guide me on how to get started!

[2022-01-29 15:57] amanag25 commented on #711
@mttrbrts can you elaborate on this a bit more, like what are we trying to achieve here by using vocabularies.

[2022-01-29 16:08] mttrbrts commented on #711
Thanks @amanag25 , I've added a little more detail.

This idea isn't well formed yet, and some discussion in this issue would be helpful before any code is written.

Do you have any suggestions?

[2022-02-01 05:40] arpit-maurya commented on #707
@OliverTod @DianaLease  Hello, I would like to work on this, can you please assigned me this issues

[2022-02-05 19:57] Hrushi20 commented on #677
Hey! Can I work on this issue?
What exactly are contract instances and how are they different from ./cta archive files?
Thank You

[2022-02-06 19:14] Hrushi20 commented on #643
This is the output of the request before validation.
[code]

This is the output of the verified request after validation.
[code]

In which format do I display the validated response? The validateInput function returns the above format of the validated request.
Do I need to modify the validated request object and display it?

Thank You

[2022-02-09 14:59] mgiofinc opened #715 "CICERO_PORT does not set Cicero Server port properly"
# Bug Report 🐛
According to the Cicero Server [readme](https://github.com/accordproject/cicero/blob/master/packages/cicero-server/README.md), the default port for the server is 6001 and you can set a different port as an environment variable `CICERO_PORT`. But if `CICERO_PORT=9001`, the Cicero Server port is set to `14201`.

## Expected Behavior
Running the following commands, shall set the Cicero

[2022-03-17 18:02] jeromesimeon opened #729 "cicero verify does not report errors properly"
# Bug Report 🐛

Cicero verify does not report errors properly.

## Steps to Reproduce

In `./packages/cicero-core`:

[code]

[2022-03-17 19:02] jeromesimeon commented on #729
It also silently reports success:

[code]

[2022-03-17 20:10] #673 closed

[2022-03-17 20:11] jeromesimeon commented on #729
Only affected `0.23.0-alpha.1` (dependency issue in the CLI). Fixed in #730

[2022-03-17 20:11] #729 closed

[2022-03-18 20:59] jeromesimeon commented on #643
Fixed in #731

[2022-03-18 20:59] #643 closed

[2022-03-21 10:29] mgiofinc opened #734 "Cicero-server not working offline: options are not passed to "Template.fromDirectory()" in "initTemplateInstance()""
# Bug Report 🐛
When [`Template.fromDirectory()`](https://github.com/accordproject/cicero/blob/c0dc742a82bc970779d2df31023d2da16a95f5db/packages/cicero-server/app.js#L171) is called within `initTemplateInstance()` (in `packages/cicero-server/app.js`), the options are not passed.
This in particular prevents to use `cicero-server` offline.

## Expected Behavior
When "offline" option is set `true` in

[2022-03-21 10:35] dselman commented on #734
Thanks for the report. I agree that allowing Cicero server to be used offline would be useful. It sounds like adding a new environment variable to specify offline usage of the server would be a good idea?

[2022-05-19 10:31] K-Kumar-01 opened #738 "Outdated Contributing.md Doc"
# Discussion 🗣

Currently, the contribution guide contains the link to Accord project slack channel. However, Accord project now uses discord instead of slack. So, proper statement update along with link should be done.

## Would you like to work on this issue?
Yes

[2022-05-21 08:33] Ayman161803 commented on #738
FYI README.md has a similar issue.

[2022-05-21 08:33] Ayman161803 commented on #738
FYI README.md has a similar issue @K-Kumar-01.

[2022-05-22 02:39] K-Kumar-01 opened #740 "Cicero-CLI: utcOffset and currentTime concurrent usage gives error"
# Bug Report 🐛

When using the command `cicero parse --template <template> --sample <sample> --utcOffset 2 --currentTime "08:06:00"`, instead of succesfully executing the command, we get an error.

## Expected Behavior

The command should run without any errors.

## Current Behavior

` ERROR: Cannot set current time to '08:06:00' with UTC offset '2'` is received currently.

## Possible Solution

#

[2022-05-22 07:19] Ayman161803 commented on #740
The problem is with ``DateTimeUtil`` module of ``concerto-core`` package [here](https://github.com/accordproject/concerto/blob/7ebf036f3fa7a1e532f0bafc19b787144d2104dd/packages/concerto-core/lib/datetimeutil.js#L38). The string ``currentTime`` here  should is expected to be in standard UTC format. We can either modify the expected string to a more convenient format such as ``DD-MM-YYYY HH:MM:SS``

[2022-05-22 14:45] Ayman161803 opened #741 "Cicero-core: Failing mocha tests"
# Bug Report 🐛

## Expected Behavior

All tests should pass successfully on running ``npm test``

## Current Behavior

Three tests fail

## Possible Solution

## Steps to Reproduce

1. Change directory into cicero-core
2. Run ``npm test``

## Context (Environment)

 - OS: macOS
 - Version: Catalina 10.15.7

## Screenshot
<img width="1227" alt="image" src="https://user-images.githubusercontent.com/

[2022-05-22 15:23] mttrbrts commented on #740
We should enforce use of a UTC format value, however the error message can be improved to guide the user.

[2022-05-22 15:31] K-Kumar-01 commented on #740
Should we ask users the format in which they want to enter the date :thinking: ? There are different formats which can provide fleixibility. By default, this can be kept to utc

[2022-05-24 01:14] K-Kumar-01 opened #742 "Failed Curl Request in Cicero-server package"
# Bug Report 🐛

Currently, the request for [`draft`](https://github.com/accordproject/cicero/tree/master/packages/cicero-server#draft-request) and [`trigger`](https://github.com/accordproject/cicero/tree/master/packages/cicero-server#trigger-request) mentioned in the documentation for `cicero-server` is failing.

## Screenshots
![Screenshot from 2022-05-24 06-12-49](https://user-images.githubuserc

[2022-05-24 13:02] dselman commented on #742
Thanks for the bug report - looks great. Would you like to submit a PR to fix the docs?

[2022-05-24 13:05] #738 closed

[2022-05-26 14:50] #742 closed

[2022-05-26 14:51] mttrbrts commented on #740
IMO, I say no. We should provide a well-defined format that works for everyone. There's a risk that increased flexibility means increased complexity in this case.

[2022-08-08 12:44] Ayman161803 commented on #740
This Issue can be closed after accordproject/concerto#430 @mttrbrts

[2022-08-08 12:52] Ayman161803 opened #745 "Cicero-core: Provide custom loadfilecontents and loadfilebuffer options in ``Template.fromDirectory()``"
# Feature Request 🛍️

Provide custom loadfilecontents and loadfilebuffer options in ``Template.fromDirectory()``

## Use Case

Loading template directories from a virtual file system where ``fs`` module cannot be used.
Example: VSCode-Web

## Possible Solution

The options dictionary can accept option parameter ``loadFileContents`` and ``loadFileBuffer`` to alter the way in which file content is r

[2022-08-09 20:17] mttrbrts commented on #740
Thank you, closing!

[2022-08-09 20:17] #740 closed

[2022-09-25 15:33] mehmettokgoz commented on #745
Hi @Ayman161803, can you elaborate on this issue a little more?

- What do you mean by `loadFileContents` and `loadFileBuffer` options? Which setting will they configure?
- Is the problem with VSCode Extension you mentioned solved?

[2022-09-26 08:45] Ayman161803 commented on #745
Hey @mehmettokgoz!

Apologies for the lack of clarity.

### Some context
Currently, the logic written for loading templates from a VSCode workspace [here](https://github.com/accordproject/cicero-vscode-extension/blob/62a7682fda77b0a451fdd45deae7539329e3797e/client/src/utils.ts#L115) and the logic written [here](https://github.com/accordproject/cicero/blob/62a2f44c40e26cd417c6502933f63f467e8fa579/p

[2022-09-26 10:18] mehmettokgoz commented on #734
Thanks for the report @mgiofinc 🙌

This support is now added for `cicero-server`. See the new template loading function: [cicero-server/app.js#L273](https://github.com/accordproject/cicero/blob/master/packages/cicero-server/app.js#L273). When we merge open PRs for other methods, all of them will allow you to pass `options` in the request body.

[2022-09-26 10:54] mgiofinc commented on #734
Thanks for the update @mehmettokgoz.
Unfortunately it seems it only applies to `/invoke/:template`, but not to `/trigger/:template`, `/parse/:template` and `/draft/:template`.
Could it be extended also to them?

[2022-09-26 11:15] mehmettokgoz commented on #734
@mgiofinc Yes, that's right. I didn't refactor `trigger`, `parse` and `draft` yet but they will be updated accordingly. Additionally, `initialize`, `normalize`, `get`, `compile,` and `archive` methods have this support natively. You can see the implementations from [cicero/pulls](https://github.com/accordproject/cicero/pulls).

[2022-09-27 15:16] #715 closed

[2022-10-18 10:58] purva8 opened #761 "Template archive .cta file imported on VS Code extension - Model and parse error"
Template was first edited and created on template studio. Then exported as .cta file. The it was unzipped and opened as a directory on VS code. npm test command working fine. cicero parse works fine.
But, unable to generate model file, the class uml file and class diagram. The output for cicero is not working. I get errors.

Template package.json file was not found.